/* ==========================================================================

   Aside
   ====

   aside

   ```
   <aside class="o-aside">
   </div>
   ```
   ========================================================================== */

.o-aside {
    position: fixed;
    top: $top-gutter;
    bottom: $top-gutter;
    width: 100px;
    z-index: z-index(nav);
}

/* ==========================================================================
   ## Modifiers
   ========================================================================== */

/* ==========================================================================

   ### Aside left

   ```
   <aside class="o-aside o-aside--left">
   </div>
   ```
   ========================================================================== */

.o-aside--left {
    left: 0;
}


/* ==========================================================================

   ### Aside right

   ```
   <aside class="o-aside o-aside--right">
   </div>
   ```
   ========================================================================== */

.o-aside--right {
    right: 0;
}

/* ==========================================================================

   ### Aside bottom

   ```
   <aside class="o-aside o-aside--bottom">
   </div>
   ```
   ========================================================================== */

.o-aside--bottom {
    bottom: 0;
    top: auto;
    left: 0;
    right: 0;
    height: 100px;
    z-index: z-index(modal);
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    background: linear-gradient(to bottom,  rgba(238,238,238,0) 0%,rgba(238,238,238,0) 21%,rgba(238,238,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */


    @include mq(s-tablet) {
        height: 100px;
        padding: 0 20px;
    }
}

/* ==========================================================================

   ### Aside column

   ```
   <aside class="o-aside o-aside--column">
   </div>
   ```
   ========================================================================== */

.o-aside--column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ==========================================================================

   ### Aside column bottom

   ```
   <aside class="o-aside o-aside--column o-aside--c-bottom">
   </div>
   ```
   ========================================================================== */

.o-aside--c-bottom {
    align-items: center;
    justify-content: flex-end;
}

/* ==========================================================================

   ### Aside

   ```
   <aside class="o-aside o-aside--column o-aside--big">
   </div>
   ```
   ========================================================================== */

.o-aside--big {
    $aside-width: 80px;
    width: $aside-width;

    @include mq(l-tablet) {
        $aside-width: 160px;
        width: $aside-width;
    }

    @include mq(l-tablet, desktop) {
        $aside-width: 100px;
        width: $aside-width;
    }

    @include mq(wide) {
        $aside-width: 200px;
        width: $aside-width;
    }
}

