/* ==========================================================================

   Balloon
   ====

   balloon

   ```
   <div class="c-balloon">
        <button class="c-balloon__control o-control o-control--fill">
            <span class="o-control__ico o-ico o-ico--callout"></span>
            <span class="o-control__ico o-ico o-ico--close"></span>
        </button>
        <span class="c-balloon__label">Raccontaci <br> il tuo Viaggio!</span>
   </div>
   ```
   ========================================================================== */

$balloon-font-size: 16px !default;
$balloon-loud-font-size: 16px !default;
$icon-ballon-font-size: 30px !default;

.c-balloon {
    position: relative;
    margin: 20px 0;
    &__control {
        width: 60px;
        height: 60px;
        position: relative;
        background-color: $color-light-30;

        &::before {
            content: "";
            display: block;
            border: 2px solid $color-light;
            border-radius: 50%;
            position: absolute;
            left: -5px;
            top: -5px;
            bottom: -5px;
            right: -5px;
            //width: 100%;
            //height: 100%;
            backface-visibility: hidden;
            //transform: scale(1.2, 1.2);
            opacity: 0;
            animation: pulsate 1s infinite ease-out;
            animation-delay: 0.1s;
        }
        &::after {
            content: "";
            display: block;
            border: 2px solid $color-light;
            border-radius: 50%;
            position: absolute;
            left: 0px;
            top: 0px;
            bottom: 0px;
            right: 0px;
            //width: 100%;
            //height: 100%;
            backface-visibility: hidden;
            //transform: scale(1.4, 1.4);
            opacity: 0;
            animation: pulsate 1s infinite ease-out;
            animation-delay: 0.3s;
        }
        .o-ico--close {
            transform: scale3d(0, 0, 0);
            transition: transform 0.3s;
        }

        .o-ico--star,
        .o-ico--greece,
        .o-ico--cutlery {
            font-size: rem($icon-ballon-font-size);
            line-height: 1.1;
            transition: background 0.4s ease-out, color 0.7s ease-out, transform 0.3s;
            color: $color-blue;
        }

        .o-ico--callout,
        .o-ico--pets {
            font-size: rem($icon-ballon-font-size);
            transition: transform 0.3s;
        }

        .o-ico {
            position: absolute;

            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }
    &__label {
        color: $color-white;
        font-weight: 500;
        position: absolute;
        left: 80px;
        top: 50%;
        transform: translateY(-50%);
    }

}

/* ==========================================================================
   ## Modifiers
   ========================================================================== */


/* ==========================================================================

   ### Balloon Nav

   ```
   <div class="c-balloon c-balloon--nav">
        <button class="c-balloon__control o-control o-control--fill">
            <span class="o-control__ico o-ico o-ico--callout"></span>
            <span class="o-control__ico o-ico o-ico--close"></span>
        </button>
        <span class="c-balloon__label">Raccontaci <br> il tuo Viaggio!</span>
   </div>
   ```
   ========================================================================== */


.c-balloon--nav {
    display: inline-block;
    float: none;
    margin: 0 30px;
    z-index: z-index(behind) + 1;
    opacity: 1 !important;

    &.c-balloon--rev {
        float:none;

        @include mq($until: s-tablet) {
            display: block;
            top: -10px;
            right: 3%;
            position: absolute;
        }

        @include mq($until: 340px) {
            right: -3%;
        }
    }
}

/* ==========================================================================

   ### Balloon Claim

   ```
   <div class="c-balloon c-balloon--claim">
        <button class="c-balloon__control o-control o-control--fill">
            <span class="o-control__ico o-ico o-ico--callout"></span>
            <span class="o-control__ico o-ico o-ico--close"></span>
        </button>
        <span class="c-balloon__label-action">Raccontaci <br> il tuo Viaggio!</span>
        <span class="c-balloon__label">Partecipa > </span>
   </div>
   ```
   ========================================================================== */
.c-balloon--claim {
    display: inline-block;
    float: none;
    //margin: 0 30px;
    margin-left:-10px;
    visibility:hidden;
    opacity:0;

    @include mq(l-tablet){
        visibility:visible;
        opacity:1;
    }

    .c-balloon__control{
        z-index:10;
    }

    .c-balloon__label {
        display: inline-block;
        margin-left:10px;
        top: 30px;
        font-size:20px;
        position:absolute;
        width: 150px;
        font-weight: 100;
        line-height:21px;

        transition: opacity 0.3s ease;
    }
}

.c-balloon {
    &.c-balloon--claim {

        .c-balloon__label-action {
            z-index: 1;
            padding-left:50px;
        }

        &:hover{
            .c-balloon__label {
                opacity: 0;
            }
        }
    }


}


/* ==========================================================================

   ### Balloon Loud

   ```
   <div class="c-balloon c-balloon--loud">
        <button class="c-balloon__control o-control o-control--fill">
            <span class="o-control__ico o-ico o-ico--callout"></span>
            <span class="o-control__ico o-ico o-ico--close"></span>
        </button>
        <span class="c-balloon__label">Raccontaci <br> il tuo Viaggio!</span>
   </div>
   ```
   ========================================================================== */

.c-balloon--loud {
    .c-balloon__control {
        background-color: $color-white;
        color: $color-pink;
    }
}

/* ==========================================================================

   ### Label action

   ```
   <div class="c-balloon c-balloon--loud">
        <button class="c-balloon__control o-control o-control--fill">
            <span class="o-control__ico o-ico o-ico--callout"></span>
            <span class="o-control__ico o-ico o-ico--close"></span>
        </button>
        <span class="c-balloon__label-action">
            <span>Raccontaci il tuo Viaggio!</span>
        </span>
   </div>
   ```
   ========================================================================== */


.c-balloon {

    .c-balloon__label-action {
        height: 45px;
        position: absolute;
        left: 30px;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: z-index(behind);
        background-color: $color-pink;
        font-size: rem($balloon-loud-font-size);
        font-weight: 500;
        line-height: 45px;
        white-space: nowrap;
        padding: 0 50px 0 25px;
        border-radius: 25px;
        transition: transform 0.35s $landing-easing-in, opacity 0.25s linear;
        transform-origin: left;
        transform: scale(0, 1);
        opacity: 0;


        .o-ico--arrow-right{
            position:absolute;
            right:15px;
            top: 13px;

            &:before {
                font-size:0.7em;
            }
        }


        span {
            opacity: 0;
            visibility: hidden;
            transform: translate3d(-20px, 0, 0);
            transition: all 0.4s;
            transition-delay: 0.15s;
            text-transform: initial;

            //@include mq(l-tablet, desktop) {
            //    opacity: 1;
            //    visibility: visible;
            //    transform: translate3d(0, 0, 0);
            //}
        }
    }


    .c-baloon__color-blu {
        background: $color-blue-sw;
    }

    .c-baloon__color-yellow {
        background: $color-yellow-intense;
        color: $color-blue-sw;
    }

}

/* ==========================================================================

   ### Balloon reverse

   ```
    <div class="c-balloon c-balloon--loud c-balloon--rev">
        <button class="c-balloon__control o-control o-control--fill">
            <span class="o-control__ico o-ico o-ico--callout"></span>
            <span class="o-control__ico o-ico o-ico--close"></span>
        </button>
        <span class="c-balloon__label-action">Raccontaci il tuo Viaggio!</span>
    </div>
   ```
   ========================================================================== */

.c-balloon--rev {
    float: right;
    .c-balloon__label-action {
        right: 30px;
        left: auto;
        transform-origin: right;
    }
}

/* ==========================================================================
   ## States
   ========================================================================== */

/* ==========================================================================

   ### Hover

   ```
   <div class="c-balloon c-balloon--loud c-balloon--rev is-active">
        <button class="c-balloon__control o-control o-control--fill">
            <span class="o-control__ico o-ico o-ico--callout"></span>
            <span class="o-control__ico o-ico o-ico--close"></span>
        </button>
        <span class="c-balloon__label-action">Raccontaci il tuo Viaggio!</span>
    </div>
   ```
   ========================================================================== */

.c-balloon {
    .no-touchevents &:hover,
    &.is-active {
        .c-balloon__label-action {
            transform: scale(1, 1);
            opacity: 1;
            span {
                visibility: visible;
                display: block;
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }
    }
}

.c-balloon--nav{
    .c-balloon__control{
        transition: background 0.4s ease-out, color 0.7s ease-out;
    }

    &.is-active,
    &:hover{
        .c-balloon__control {
            background-color: $color-white;
        }

        .o-ico--giocaconnoi {
            color: $color-blue;
        }

        .o-ico--cutlery {
            color: $color-blue;
        }

        .o-ico--callout {
            color: $color-pink;
        }
    }
}

/* ==========================================================================

   ### Balloon is-active

   ```
   <div class="c-balloon c-balloon--loud c-balloon--rev is-active">
        <button class="c-balloon__control o-control o-control--fill">
            <span class="o-control__ico o-ico o-ico--callout"></span>
            <span class="o-control__ico o-ico o-ico--close"></span>
        </button>
        <span class="c-balloon__label-action">Raccontaci il tuo Viaggio!</span>
    </div>
   ```
   ========================================================================== */

.c-balloon {
    &.is-open {
        .c-balloon__control {
            &::before,
            &::after {
                animation-iteration-count: 0;
                animation-play-state: paused;
                opacity: 0;
            }
            .o-ico--close {
                transform: scale3d(1, 1, 1);
            }
            .o-ico--callout {
                transform: scale3d(0, 0, 0);
            }
        }
        .c-balloon__label,
        .c-balloon__label-action {
            display: none;
        }
    }
}


@keyframes pulsate {
    0% {transform: scale(0.9, 0.9); opacity: 0.0;}
    50% {opacity: 0.7;}
    100% {transform: scale(1.3, 1.3); opacity: 0.0;}
}


.cta-concorso{

    position: fixed;
    bottom: -5px;
    right: 10px;
    top: auto;

    @include mq(s-tablet){
        position: absolute;
        top: -19px;
        right: 15%;
        margin-top: 0;
    }
    @include mq(l-tablet){
        position: static;
        margin-top: 30px;
    }

    .c-balloon--claim{
        @include mq($until: l-tablet) {
            opacity: 1;
            visibility: visible;
            transform: scale(0.6);

            > .c-balloon__label,
            > .c-balloon__label-action{
                display: none;

            }
        }
    }
}
