/* ==========================================================================

   Base Styles
   ====


   Some Basic Styles

   ```
   ```

   ========================================================================== */

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
button,
input,
select,
textarea {
    color: $color-text;
}

html,
body {
    height: 100%;
    font-size: 100%; //16px
    line-height: 1.2;
}

body {
    min-width: 320px;

    background: $color-bg;
    color: $color-text;
    font-family: $font-family-base;
}

//Remove text-shadow in selection highlight: h5bp.com/i
//These selection declarations have to be separate.
//Customize the background color to match your design.

::-moz-selection {
    background-color: $color-text-selection;
    text-shadow: none;
}

::selection {
    background-color: $color-text-selection;
    text-shadow: none;
}

// A better looking default horizontal rule

hr {
    display: block;
    height: 1px;
    margin: 1rem 0;
    padding: 0;
    border: 0;
    border-top: 1px solid $color-light;
}

// Remove the gap between images and the bottom of their containers: h5bp.com/i/440

audio,
canvas,
iframe,
svg,
video,
img {
    vertical-align: middle;
}

// Remove default fieldset styles.

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

// Allow only vertical resizing of textareas.

textarea {
    resize: vertical;
}

input::-moz-focus-inner {
    border: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

a {
    color: inherit;
    text-decoration: none;

    &:visited {
        color: inherit;
    }
}

abbr[title] {
    border: 0;
    text-decoration: none;
}

a,
button {
    &:focus,
    &:active {
        outline: 0;
    }
}

html:not(.pointer-nav) a:not([class]):focus {
    outline: 1px dotted rgba($color-light, 0.8);
    outline-offset: 2px;
}

body {
    overflow: hidden;

    //overflow-x: hidden;
    //overflow-y: auto;

    //@include mq(desktop) {
    //    overflow: hidden;
    //}

    &[class*="walldetail-"] {
        overflow: auto;
    }

    &.wall,
    &[class*="walldetail-"] {
        background: #eee;
    }
}


/* ==========================================================================
   ##  prevent 300ms delay in FF, Chrome and IE on touch devices
   ========================================================================== */

a[href],
button {
    touch-action: manipulation;
}

/* ==========================================================================
   ## CSS to JS Breakpoint Bridge
   ========================================================================== */

@if $mq-responsive {

    body::after,
    body::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: z-index(behind) - 2;
        visibility: hidden;
        width: 1px;
        height: 1px;
        overflow: hidden;
        display: block;
    }

    body::after {
        content: 'mobile';
        @each $mq-key, $mq-value in $mq-breakpoints {
            @include mq($mq-key) {
                content: '#{$mq-key}';
            }
        }
    }

    body::before {
        content: '/#{map-to-JSON($mq-breakpoints)}/';
    }

    //fallback
    head {
        font-family: '/#{map-to-JSON($mq-breakpoints)}/';
    }
}


/* ==========================================================================
   ## Common styles
   ========================================================================== */

@include mq(desktop) {

    ::-webkit-scrollbar {
        width:  7px;
        height: 7px;
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(black, 0.3);
        border-radius: 1em;
    }

    ::-webkit-scrollbar-track {
        background: rgba(black, 0.2);
    }

}

@include mq($until: s-tablet, $and: '(orientation: landscape)') {
    //body {
    //    display: none;
    //}
}