/* ==========================================================================

   Hamburger Menu
   ====

   Hamburger Menu

   ```
   <button class="o-burger" aria-label="Show Menu">
        <span class="o-burger__ico"></span>
   </button>
   ```
   ========================================================================== */

$burger-width: 25px;
$burger-height: 2px !default;
$burger-gutter: 6px !default;
$burger-color: $color-light !default;

%burger-dash {
    display: block;
    width: 100%;
    height: $burger-height;
    background-color: $burger-color;
    transition-duration: 150ms;
    transition-property: background-color, transform;

    .ui-dark & {
        $burger-color: $color-gray;
        background-color: $burger-color;
    }
}

%burger-hover {
    &::before {
        transform: translateY(-2px);
    }

    &::after {
        transform: translateY(2px);
    }
}


.o-burger {
    width: $burger-width;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    outline: 0;

    &::before,
    &::after {
        @extend %burger-dash;
    }

    &::before,
    &::after {
        position: absolute;
        content: '';
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }

    @include aria-focus {
        @extend %burger-hover;
    }
}

.no-touchevents .o-burger:hover {
    @extend %burger-hover;
}

.o-burger__ico {
    @extend %burger-dash;
    position: relative;
    margin-top: $burger-height + $burger-gutter;
    margin-bottom: $burger-height + $burger-gutter;
    transition-property: opacity;
}



/* ==========================================================================
   ##STATES
   ========================================================================== */


/* ==========================================================================
   ###Active State

   ```
   <button class="o-burger is-active" aria-label="Show Menu">
        <span class="o-burger__ico"></span>
   </button>
   ```
   ========================================================================== */

.o-burger.is-active {
    transition: transform 150ms;

    &:hover {
        transform: scale(1.1);
    }

    .o-burger__ico {
        opacity: 0;
    }

    &::before {
        transform: translateY($burger-gutter + $burger-height) rotate(45deg) !important;
    }

    &::after {
        transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg) !important;
    }
}