/* ==========================================================================

   Button
   ====

   button

   ```
   <button class="o-btn">
        <span class="o-ico o-ico--can o-control"></span>
        <span class="o-btn__label">Scopri i Prodotti</span>
   </button>

   <button class="o-btn" disabled>
        <span class="o-ico o-ico--can o-control"></span>
        <span class="o-btn__label">Scopri i Prodotti</span>
   </button>
   ```
   ========================================================================== */
$button-font-size: 14px !default;
$button-height: 50px;

.o-btn {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    outline: none;
    border: none;
    max-width: 250px;
    width: 100%;
    height: $button-height;
    border-radius: 40px;
    background: rgba($color-light, 0.3);
    color: $color-light;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 10px 0;
    font-size: rem($button-font-size);
    line-height: rem($button-height);
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    -webkit-tap-highlight-color: transparent;
    white-space: nowrap;

    &[disabled] {
        color: $color-gray;
    }

    &__label {
        padding: 10px;
        line-height: 50px;
    }

    &__icon {
        height: 2em;
        margin-left: 1em;
        margin-right: 0.5em;
    }
}

/* ==========================================================================
   ## Modifiers
   ========================================================================== */

/* ==========================================================================

   ### Button loud

   ```
   <button class="o-btn o-btn--loud">
        <span class="o-btn__label"> Scopri i Prodotti </span>
   </button>
   ```
   ========================================================================== */

.o-btn--loud {
    color: $color-blue;
    background: $color-light;

    &[disabled] {
        color: $color-gray;
    }
}

/* ==========================================================================

   ### Button brand

   ```
   <button class="o-btn o-btn--brand">
        <span class="o-btn__label"> Scopri i Prodotti </span>
   </button>
   ```
   ========================================================================== */

.o-btn--brand {
    color: $color-light;
    background: $color-blue;
    max-width: 220px;

    @include mq(s-tablet) {
        max-width: 250px;
    }

    .o-btn__icon {
        margin: 0;

        @include mq(s-tablet) {
            margin-left: 1em;
            margin-right: 0.5em;
        }
    }

    &[disabled] {
        color: $color-gray;
    }
}

/* ==========================================================================

   ### Button card

   ```
   <button class="o-btn o-btn--brand">
        <span class="o-btn__label"> Scopri i Prodotti </span>
   </button>
   ```
   ========================================================================== */
$btn-card-height: 40px;

.o-btn--card {
    width: auto;
    margin: 10px auto;
    padding: 0 $btn-card-height;
    color: $color-light;
    background: $color-blue;
    border: 2px solid lighten($color-blue, 20%);
    transition: all 0.3s ease;
    height: $btn-card-height;
    line-height: $btn-card-height - 4px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: rem(12px);
    letter-spacing: 2px;
    cursor: pointer;

    &:hover {
        border: 2px solid $color-blue;
    }

    &[disabled] {
        color: $color-gray;
    }
}

.o-btn--whitecard {
    @extend .o-btn--card;
    color: $color-blue;
    background: $color-white;
    border: $color-white;
    font-weight: 500;

    &:hover {
        border: rgba($color-white, 0.8);
    }
}

/* ==========================================================================

   ### Button ghost

   ```
   <button class="o-btn o-btn--ghost">
        <span class="o-btn__label"> Scopri i Prodotti </span>
   </button>
   ```
   ========================================================================== */

.o-btn--ghost {
    color: currentColor;
    background: transparent;
    border: solid 2px currentColor;
}


/* ==========================================================================
   ## Themes
   ========================================================================== */

.o-btn {
    &:not(.o-btn--loud) {
        &.ui-dark {
            background: rgba($color-black, 0.2);
        }
    }
}

/* ==========================================================================

   ### Button loud

   ```
   <div id="discover" class="o-btn o-btn-discover">
        <span class="o-ico o-ico--can o-control"></span>
        <span class="o-btn__label">Scopri i Prodotti</span>
    </div>
   ```
   ========================================================================== */

$width-button: 250px;
$width-button-mobile: 200px;

.anim {
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    will-change: width;


    &:before {
        position: relative;
        content: '';
        display: block;
        margin-top: 100%;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom:0;
        left: 0;
        right: 0;
        border-radius: 50%;
    }
}

.o-btn-discover {
    position: absolute !important;
    left: 50%;
    margin-left: -$width-button-mobile/2;
    bottom: 20px;
    width: $width-button-mobile;
    height: 50px;
    border-radius: 30px;
    background: rgba(255,255,255, 0.1);
    color: white;
    font-weight: 300;
    margin-bottom: 0px;
    cursor: pointer;
    z-index: z-index(footer) + 1;
    transition: background 0.6s ease;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    overflow: hidden;

    transition: all 0.4s ease-in-out;
    transition-property: opacity, visibility;

    @include mq(s-tablet){
        margin-left: -$width-button/2;
        width: $width-button;
        bottom: 6%;
    }

    @include mq(l-tablet){
        bottom: 0px;
        margin-bottom: 15px;
    }

    &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -35px 0 0 -35px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        content: '';
        opacity: 0;
        pointer-events: none;
        box-shadow: inset 0 0 0 35px rgba(111,148,182,0);
    }


    &.o-btn-discover--click::after {
        animation: anim-effect-radomir 0.5s ease-out forwards;
    }

    .o-control {
        padding: 10px 5px;

        @include mq($until: s-tablet) {
            display: none;
        }
    }

    &:hover{
        //background: rgba(255,255,255, 0.3);
    }

    &:hover > .anim {

        animation: anim-out 0.75s;

        &:after {
            animation: anim-out-pseudo 0.75s;
        }
    }
}

.o-btn {
    overflow: hidden;
    position: relative;

    > .anim{
        z-index: auto;
    }

    &:hover > .anim {
        animation: anim-out 0.75s;

        &:after {
            animation: anim-out-pseudo 0.75s;
        }
    }
}

.o-btn-back,
.o-btn-down {
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 15px;
    border-radius: 50%;
    right: 50px;
    bottom: 15px;
    z-index: z-index(above);

    @include mq($until: l-tablet) {

        display: none;
    }

    > span{
        position: absolute;
        transform: translate3d(-50%,-50%,0);
        top: 50%;
        left: 50%;
        font-size: 11px;
    }
}

.o-btn-down {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 15px;
    margin: auto;
}

@keyframes anim-out {
    0% { width: 0%; }
    100% { width: 100%; }
}

@keyframes anim-out-pseudo {
    0% { background: rgba(#fff,0.25); }
    100% { background: rgba(#fff,0); }
}

@keyframes anim-effect-radomir {
    0% {
        opacity: 1;
        -webkit-transform: scale3d(0.4, 0.4, 1);
        transform: scale3d(0.4, 0.4, 1);
    }
    80% {
        box-shadow: inset 0 0 0 2px rgba(111,148,182,0.8);
        opacity: 0.1;
    }
    100% {
        box-shadow: inset 0 0 0 2px rgba(111,148,182,0.8);
        opacity: 0;
        -webkit-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);
    }
}

.is-colophon-open {

    .o-btn-discover {
        z-index: z-index(footer) - 1;
    }
}

.o-btn--pink {
    background: $color-pink;
    color: white;
    text-align: center;
}

.o-btn--yellow {
    background: $color-yellow-intense;
    color: $color-blue-sw !important;
    text-align: center;
    padding: 0 2rem;
}