/* ==========================================================================

   Callout
   ====

   Callout

   ```
   <span class="o-callout">
        Condividi la tua <br />esperienza Müller
   </span>
   ```
   ========================================================================== */

.o-callout {
    display: inline-block;
    margin: 0;
    padding: 7px 30px 7px 35px;
    background: url('/assets/images/callout-bg.svg') no-repeat 0 center;
    color: $color-light;
    font-size: font-size(16px);
    font-weight: 300;
    text-align: left;
}


/* ==========================================================================
   ## BLOCK MODIFIERS
   ========================================================================== */

/* ==========================================================================

   ### Liquid Callout

   No fixed image background

   ```
   <figure class="o-callout o-callout--liquid">
        <img src="/assets/images/form-product-hint.png" alt="">
        <figcaption><p>&Egrave; il codice alfanumerico che trovi sull'opercolo vicino alla data di scadenza.</p></figcaption>
        <button class="o-control o-callout__close">
            <span class="o-ico o-ico--close o-control__ico"></span>
        </button>
   </figure>
   ```
   ========================================================================== */

.o-callout--liquid {
    position: fixed;
    top: 50%;
    right: 20px;
    left: 20px;
    min-height: 60px;
    padding: 20px 12px;
    background: rgba($color-black, 0.2);
    text-align: center;
    border-radius: 23px;
    transform: translateY(-50%);
    z-index: z-index(above) + 2;

    @include mq(l-tablet) {

        position: relative;
        top: -15px;
        right: auto;
        left: auto;

        text-align: left;
        transform: translateY(0);

        &::after {
            position: absolute;
            top: 20px;
            right: 100%;
            width: 0;
            height: 0;
            border-top: 7px solid transparent;
            border-right: 10px solid rgba($color-black, 0.2);
            border-bottom: 7px solid transparent;
            content: '';
        }
    }

    .o-callout__close {
        position: absolute;
        top: 10px;
        right: 10px;
        @include mq(l-tablet) {
            display: none;
        }
    }
}

/* ==========================================================================
   ## SWATCHES
   ========================================================================== */

/* ==========================================================================

   ### Light Liquid Callout

   No fixed image background

   ```
   <div class="o-form__group">
        <input class="o-form__field" type="text" id="lottoProduzione" name="lottoProduzione" />
        <label class="o-form__label" for="lottoProduzione">
            <span> Lotto di produzione </span>
        </label>
        <span class="o-form__hint">
            <span class="o-ico o-ico--info" role="presentation"></span>
            <figure class="o-callout o-callout--liquid ui-light">
                <img src="/assets/images/form-product-hint.png" alt="">
                <figcaption><p>&Egrave; il codice alfanumerico che trovi sull'opercolo vicino alla data di scadenza.</p></figcaption>
            </figure>
        </span>
   </div>
   ```
   ========================================================================== */

.o-callout--liquid.ui-light {
    background: rgba($color-light, 0.2);

    &::after {
        border-right-color: rgba($color-light, 0.2);
    }
}