.c-campaign {

    opacity: 0;
    visibility: hidden;
    transition: all 0.6s, $landing-easing-in;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    position: fixed;
    background: $color-pink;
    z-index: z-index(behind);

    @include mq($until: s-tablet) {
        padding: 50px 0;
        display: none;
    }

    //@include mq(desktop) {
    //    top: 100px;
    //    bottom: 100px;
    //    left: 80px;
    //    right: 80px;
    //}
    //
    //@include mq(wide) {
    //    left: 100px;
    //    right: 100px;
    //}

    .c-overlay__body {

        @include mq(desktop) {
            //display: flex;
            //align-items: center;
            padding: 0 100px;
        }
    }

    form {
        z-index: z-index(behind);
        display: none;
    }


    &.is-open {
        opacity: 1;
        visibility: visible;
        z-index: z-index(modal);
        display: block;
        form {
            z-index: z-index(above);
            display: flex;
        }
    }

    &.is-loading {

        .c-overlay__body {
            display: flex;
            align-items: center;
            justify-content: center;

        }
    }
}

.is-modal-open #container.ui-light {

    @include mq($until: l-tablet) {
        z-index: z-index(header) + 1;
    }
}