$icon-size: 90px !default;
$gradient-color: #10215a;

.c-card-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.c-card {
    position: relative;
    width: 100%;

    transition: opacity 0.3s ease;

    @include mq(s-tablet) {
        width: 32%;
        margin-bottom: 70px;
    }
}

.c-card__bg,
.c-card__gradient {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.c-card__bg {
    background-position: center center;
    background-size: cover;
    transition: transform 0.3s ease-in;
    overflow: hidden;
    @include mq($until: mobile) {
        background-position: top center;
    }
}

.c-card__gradient {
    z-index: 2;
    opacity: 0.7;

    width: 110%;
    height: 110%;
    margin-left: -5%;
    margin-bottom: -5%;

    background: rgba($gradient-color, 0);
    background: linear-gradient(to bottom, rgba($gradient-color, 0) 0%, rgba($gradient-color, 0.95) 79%, rgba($gradient-color, 0.95) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#10215a', endColorstr='#10215a', GradientType=0);

    transition: all 0.7s ease;
}

.c-card__inner {
    @include mq(s-tablet) {
        height: 0;
        width: 100%;
        padding-bottom: 130%;
    }
}

.c-card__body {
    position: relative;
    z-index: 2;
    top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: left;
    padding: 1rem;

    @include mq(desktop) {
        position: absolute;
        padding: 0 2rem;
    }

    .no-touchevents & {
        transform: translateY(60px);
        transition: transform 0.3s ease 0.2s;
    }
}

.c-card__title,
.c-card__description {
    color: $color-white;
    transition: all 0.3s ease;

    @include mq(desktop) {
        font-size: rem(35px);
    }
}

.c-card__title {
    font-size: rem(35px);
    font-weight: 500;
    line-height: 0.9;
}

.c-card__description {
    margin: 1rem 0;
    font-size: rem(25px);
    font-weight: 100;
    overflow: hidden;
}

.c-card__circle {
    width: $icon-size;
    height: $icon-size;
    line-height: $icon-size;
    padding: 0;

    background-color: $color-white;
    border: 2px solid darken($color-white, 15%);
    border-radius: 50%;

    transition: all 0.3s ease;

    @include mq(desktop) {
        background-color: $color-blue;
        border: 2px solid $color-blue;
    }
}

.c-card__icon {
    > a {
        display: inline-block;
    }

    .o-ico:before {
        color: $color-white;
        transition: all 0.3s ease;

        @include mq(desktop) {
            color: $color-white;
        }
    }

    .o-ico {
        font-size: floor($icon-size / 2);
        line-height: $icon-size;
    }

    .o-ico--giocaevinci {
        line-height: $icon-size - 10px; // icona orizzontale
    }
}

.no-touchevents .c-card__cta {
    opacity: 0;
    transition: opacity 0.3s ease-in-out 0s;
}

.no-touchevents .c-card-wrap:hover .c-card {
    opacity: 0.5;
}

.no-touchevents .c-card-wrap:hover .c-card:hover {
    opacity: 1;

    .c-card__bg {
        transform: scale(1.05, 1.05);
        transition: transform 0.3s ease-out 0.2s;
    }

    .c-card__body {
        transform: translateY(0);
        transition: transform 0.3s ease 0s;
    }

    .c-card__gradient {
        opacity: 1;
    }

    .c-card__cta {
        opacity: 1;
        transition: opacity 0.5s ease-in-out 0.1s;
    }

    .c-card__cta {
        opacity: 1;
    }
}