/* ==========================================================================

   Catalog
   ====

   Product Catalog

   ```

   ```
   ========================================================================== */

$catalog-description-size: 320px;
$catalog-description-left-gutter: map-get($canvas-gutter, l-tablet);


//.c-catalog {
//    @include touch-overflow(y);
//    height: 100vh;
//    @include mq(l-tablet) {
//        overflow: visible;
//    }
//}

.c-catalog__header {

    position: fixed;
    z-index: z-index(above);
    left: 0;
    width: 100%;
    user-select: none;
    @include boost-performance(false);

    @include mq(l-tablet) {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        flex-wrap: nowrap;
        //transition: all 200ms ease-out;
    }
}

.c-catalog__title {
    $title-size: 80px;

    margin: 0;
    font-size: rem($title-size);
    font-weight: 100;

    @include mq($until: l-tablet) {
        display: none;
    }
}

.c-catalog__nav {
    @include mq($until: l-tablet) {
        .c-nav-slider__wrap {
            padding: 0 map-get($canvas-gutter, null);
        }
    }
}

$catalog-body-top: 130px;

.c-catalog__body {
    @include touch-overflow(y);
    overflow-x: hidden;
    user-select: none;
    height: calc(100vh - #{140px});
    position: relative;
    top: 40px;

    @include boost-performance(false);

    @include mq(s-tablet) {
        position: absolute;
        top: $catalog-body-top * 1.2; //pixel perfect rulez!
        height: calc(100vh - #{$catalog-body-top * 1.2});
        right: 0;
        left: 0;
    }

    @include mq(l-tablet) {
        overflow: hidden;
        top: 100px;
        //height: calc(100vh - #{$catalog-body-top});
        height: calc(100vh - #{25vh});
    }

    @include mq($from: desktop, $and: '(min-height: #{em($container-height)})') {
        top: vh($catalog-body-top);
        //height: calc(100vh - #{$catalog-body-top});
        height: calc(100vh - #{25vh});
    }
}

.c-catalog__description {
    min-height: 300px;
    padding: rem(10px) map-get($canvas-gutter, null) rem(80px);
    text-align: center;

    @include mq(l-tablet, medium) {
        font-size: font-size(16px);
    }

    @include mq(l-tablet) {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: vw($catalog-description-size + $catalog-description-left-gutter * 2);
        min-height: 0;
        padding: 0 0 0 $catalog-description-left-gutter;
        color: rgba($color-light, 0.7);
        text-align: left;
        transform: translate(-100%, 0);

        .is-collapsed .is-entering & { //FIXME ugly!
            opacity: 0;
            transform: translate(0, 0.5em);
            transition-delay: 0s;
        }
    }


    @include mq(desktop, medium) {
        padding-right: $catalog-description-left-gutter * 1.4;
        padding-left: $catalog-description-left-gutter * 1.4;
    }

    @include mq(medium, wide) {
        padding-right: $catalog-description-left-gutter * 1.5;
        padding-left: $catalog-description-left-gutter * 1.5;
        top: 10%;
    }

    @include mq(wide) {
        padding-right: $catalog-description-left-gutter * 2;
        padding-left: $catalog-description-left-gutter * 2;
    }

    @include mq(extreme) {
        padding-right: $catalog-description-left-gutter * 2.3;
        padding-left: $catalog-description-left-gutter * 2.3;
    }

    .o-text__title {

        font-size: rem(30px);

        @include mq($until: l-tablet) {
            margin-bottom: em(40px, 30px);
        }

        @include mq(medium, wide) {
            font-size: rem(36px);
        }

        @include mq(wide) {
            font-size: rem(40px);
        }

        @include mq(extreme) {
            font-size: rem(45px);
        }

    }

    > :last-child {
        margin-bottom: 0;
    }

}

$catalog-slider-item-sizes: (
    //null: 60vw,
    //s-tablet: 33vw,
    l-tablet: 25vw
);

.c-catalog__slider.c-slider {
    position: relative;
    margin-bottom: 32vh;

    @include mq(l-tablet) {
        position: absolute;
        //top: 190px;
        top: 35%;
        right: vw(120px);
        left: vw(120px);
        margin-bottom: 0;
        transform: translateY(-50%);
    }

    .c-slider__body {
        //margin-left: (100vw - map-get($catalog-slider-item-sizes, null)) / 2;

        @include mq($until: l-tablet) {
            display: flex;
        }

        @include mq(s-tablet) {
            //margin-left: (100vw - 66) / 2;
        }

        @include mq($from: l-tablet) {
            //margin-left: 0;
        }
    }

    &::before {
        position: absolute;
        visibility: hidden;
        content: '';

        @each $mq-size, $value in $catalog-slider-item-sizes {
            @if $mq-size != null {
                @include mq($mq-size) {
                    content: '#{$value}';
                }
            }
        }
    }

    .c-slider__item {
        @include mq-prop(width, $catalog-slider-item-sizes);

        padding-right: 10px;
        padding-left: 10px;

        @include mq(s-tablet) {
            padding-right: 30px;
            padding-left: 30px;
        }
        @include mq($until: l-tablet) {
            display: flex;
            flex: 0 0 auto;
        }

        @include mq(l-tablet) {
            padding-right: 0;
            padding-left: 0;
        }

    }

    @include mq(l-tablet) {
        .c-product__image {
            width: 320px;

            > img {
                transform: translate(-50%, -50%) scale(0.36);
            }
        }

    }

    @include mq(medium) {
        .c-product__image > img {
            transform: translate(-50%, -50%) scale(0.42);
        }
    }
}

.c-catalog.is-initialized {

    .c-slider__body {
        //transition: transform 0.4s cubic-bezier(0.11, 1.62, 0.57, 1.01);
        transition: transform 0.4s cubic-bezier(0.64, 0.04, 0.09, 1.1);
        //transition: transform 0.4s cubic-bezier(.22,.22,.19,1);

        @include mq(l-tablet) {
            transition-duration: 0.5s;
        }
    }
}

/* ==========================================================================
   ## ELEMENT MODIFIERS
   ========================================================================== */

.c-catalog__header--right {

    @include mq(l-tablet) {
        transform: translate(50%, 0);
        opacity: 0;

        .is-initialized & {
            opacity: 1;
        }

        .c-catalog__title,
        .c-catalog__nav {
            transform: translate(-50%, 0);

            .no-flexbox & {
                text-align: right;
            }
        }
    }

}

.c-catalog__slider--single.c-slider {
    $catalog-slider-item-sizes: (
        //null: 60vw,
        //s-tablet: 33vw,
        l-tablet: 50vw
    );

    .c-slider__item {
        @include mq-prop(width, $catalog-slider-item-sizes);
    }
    //
    //.c-product__image {
    //
    //    > img {
    //        max-width: 100%;
    //    }
    //}
}

.c-catalog__slider--double.c-slider {
    $catalog-slider-item-sizes: (
        //null: 60vw,
        //s-tablet: 33vw,
        l-tablet: 33vw
    );

    .c-slider__item {
        @include mq-prop(width, $catalog-slider-item-sizes);
    }

    //.c-product__image {
    //
    //    > img {
    //        max-width: 100%;
    //    }
    //}

}

/* ==========================================================================
   ## STATES
   ========================================================================== */

/* ==========================================================================

   ### Collapsed State

   ```

   ```
   ========================================================================== */
.c-catalog__description {
    h3 {
        opacity: 0;
    }
    p{
        opacity: 0;
    }
}


.c-slider__item .c-product__image,
.c-slider__item .c-product__title,
.c-slider__item .c-product__tagline,
.c-slider__item .c-product__label,
.c-slider__item .info-brand,
.c-slider__track,
.c-slider__control--left{
    opacity: 0;
}

.is-entering-anim {
    .c-catalog__description {
        h3 {
            opacity: 1;
        }
    }

}

.is-initialized {
    .c-catalog__header {
        transition: all 0.35s ease-out 0.1s;
        will-change: transform;
    }

    .c-catalog__title {
        transition: all 0.25s ease-out;
        transition-delay: inherit;
    }

    .c-catalog__nav {
        transition: all 0.35s ease-out;
        transition-delay: inherit;
    }

    .c-catalog__description {
        transition: all 0.45s ease-out 0.05s;
        will-change: opacity, transform;
    }

    .c-catalog__slider {
        transition: all 0.5s ease-out;
        will-change: transform;
    }
}


.is-collapsed {

    .c-catalog__title {
        transition-delay: 0.25s;
    }

    .c-catalog__description {
        transition-delay: 0.4s;
    }

    @include mq(l-tablet) {

        .c-catalog__description {
            opacity: 1;
            transform: translate(0, 0);
        }

        .c-catalog__slider.c-slider {
            transform: translate(perc($catalog-description-size + $catalog-description-left-gutter), -50%);
        }

    }
}