/* ==========================================================================

   Checkboxes
   ====

   checkboxes custom

   ```
    <div class="o-checkbox">
        <input id="privacy" type="checkbox" class="o-checkbox__input">
        <label for="privacy" class="o-checkbox__label">
                Ai sensi dell'art. 23 del D. Lgs.30.11.2003 n. 196 esprimo il consenso al trattamento dei dati conferiti.
            </span>
        </label>
    </div>
   ```
   ========================================================================== */

$checkbox-font-size: 12px !default;
$checkbox-check-font-size: 16px !default;

.o-checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    &__label {
        position: relative;
        display: inline-block;
        min-height: 20px;
        margin-bottom: 0;
        padding-left: 20px;
        font-weight: 100;
        font-size: rem($checkbox-font-size);
        line-height: em(20px, $checkbox-font-size);

        &::before {
            content: '';
            display: inline-block;
            position: absolute;
            width: 20px;
            height: 20px;
            left: 0;
            top: -10px;
            margin-left: -20px;
            border: 1px solid $color-light;
            background: transparent;
            outline: none;
            transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
            cursor: pointer;
        }
        &::after {
            @extend %o-ico;
            content: '';
            display: inline-block;
            position: absolute;
            width: 20px;
            height: 20px;
            left: 0;
            top: -10px;
            margin-left: -20px;
            padding-left: 2px;
            padding-top: 2px;
            font-size: rem($checkbox-check-font-size);
            color: $color-light;
            content: map-get($icons, confirm);
            transform: scale3d(0, 0, 0);
            transition: transform 0.2s ease;

        }

        > *:first-child {
            margin-top: 0;
        }
    }
    &__link {
        text-decoration: underline;
        font-size: rem($checkbox-font-size);
        line-height: rem($checkbox-font-size);
        margin-left: 20px;
        display: block;
        font-weight: 100;
        margin-top: 20px;
    }
    &__input {
        opacity: 0;
        position: absolute;
        z-index: z-index(above);
        margin: 4px 0 0;
        margin-top: 4px;
        margin-left: -20px;
        padding: 0;
        cursor: pointer;
        height: 20px;
        width: 20px;
        top: 0;

        &:checked {
            + .o-checkbox__label {
                &::after {
                    transform: scale3d(1, 1, 1);
                }
            }
        }
    }
}

label.o-checkbox__label {
    cursor: pointer;
}



.has-error {
    .o-checkbox__label::before {
        border-color: currentColor;
    }
}
