
.c-rings__claim {
    position: absolute;
    width: 100%;
    bottom: 15%;
    padding: 0 70px;
    left: 0%;
    color: #fff;
    font-family: $font-title;
    backface-visibility: hidden;
    z-index: 300;

    opacity: 0;
    display: none;

    @include mq(s-tablet){
        bottom: 13%;
    }

    @include mq(l-tablet){
        width: 25%;
        top: 50%;
        left: 50%;
        bottom: auto;
        padding: 0;
    }
    @include mq(desktop){
        width: 22%;
    }


    h1 {
        text-align: center;
        font-weight: 100;
        font-size: 17px;
        line-height: 19px;
        margin: 0;
        letter-spacing: 1px;


        @include mq(s-tablet){
            font-weight: 300;
            font-size: 25px;
            line-height:25px;
            padding: 0 20%;
        }

        @include mq(l-tablet){
            font-size: 35px;
            line-height: normal;
            text-align:left;
            padding: 0;
        }

        @include mq(desktop){
            font-size: 40px;
            text-align: left;
        }

    }
}
