$color-black: #000;
$color-white: #fff;
$color-light: #fefefe;
$color-gray: #818181;
$color-gray-light: #c6c6c6;
$color-gray-lighter: #eeeeee;
$color-light-30: rgba($color-light, 0.3);
$color-light-50: rgba($color-light, 0.5);
$color-yellow: #f1c96d;
$color-yellow-intense: #ffdb0b;
$color-yellow-light: #f3f0c6;
$color-red: #770600;
//$color-bordeaux: #d84141;
$color-bordeaux: #fefefe;
$color-player: #f00;
$color-pink: #ff5c5c;
$color-blue: #1F349C;
$color-light-blue: #1e3da5;
$color-dark-blue: #001760;
$color-blue-sw: #2037a8;
$color-blue-opaque: #2d59a5;

//by functions
$color-text: $color-light;
$color-bg: $color-light;
$color-text-selection: rgba($color-blue, 0.3);

//mapped colors
$colors: (
    blue: $color-blue,
    light: $color-light,
    quiet: $color-light-50,
    yellow: $color-yellow,
    pink: $color-pink
);


