/* ==========================================================================

   Colophon
   ====

   colophon

   ```
   <section id="colophon" class="c-colophon">
        <ul class="c-colophon__list">
            <li> <a href="#" class="c-colophon__item">cookie policy</a> </li>
            <li> <a href="#" class="c-colophon__item">gruppo Müller</a> </li>
            <li> <a href="#" class="c-colophon__item">credits</a> </li>
            <li> <a href="#" class="c-colophon__item">area riservata</a> </li>
        </ul>
        <button class="o-control c-colophon__close">
            <span class="o-ico o-ico--close"></span>
        </button>
   </section>
   ```
   ========================================================================== */

$colophon-font-size: 16px !default;
$colophon-height: 80px !default;

.c-colophon {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background-color: $color-blue;
    z-index: z-index(behind);
    visibility: hidden;
    transition: all 150ms ease-in-out;
}

.c-colophon__list {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 10px;

    @include mq(s-tablet) {
        margin: 0;
        justify-content: center;
    }

    > li {
        flex: 0 0 auto;
        margin: 0 5px;

        @include mq(s-tablet) {
            margin: 0 40px;
        }
    }
}

.c-colophon__item {
    color: rgba($color-light, 0.3) !important;
    font-weight: 300;
    font-size: rem($colophon-font-size / 1.5);

    @include mq(s-tablet) {
        font-size: rem($colophon-font-size/1.2);
    }

    @include mq(desktop) {
        font-size: rem($colophon-font-size);
    }
}

.c-colophon__close {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    @include mq(s-tablet) {
        right: 30px;
    }
}

/* ==========================================================================
   ## States
   ========================================================================== */

/* ==========================================================================

   ### :hover, .is-active

   ```
      <section id="colophon" class="c-colophon">
        <ul class="c-colophon__list">
            <li> <a href="#" class="c-colophon__item is-active">cookie policy</a> </li>
            <li> <a href="#" class="c-colophon__item">gruppo Müller</a> </li>
            <li> <a href="#" class="c-colophon__item">credits</a> </li>
            <li> <a href="#" class="c-colophon__item">area riservata</a> </li>
        </ul>
        <button class="o-control c-colophon__close">
            <span class="o-ico o-ico--close"></span>
        </button>
   </section>
   ```
   ========================================================================== */

.no-touchevents .c-colophon__item {
    transition: color 150ms ease-in-out;
}
.c-colophon__item.is-active,
.no-touchevents .c-colophon__item:hover {
    color: $color-light !important;
}

/* ==========================================================================

   ### .is-open

   ```
      <section id="colophon" class="c-colophon">
        <ul class="c-colophon__list">
            <li> <a href="#" class="c-colophon__item is-active">cookie policy</a> </li>
            <li> <a href="#" class="c-colophon__item">gruppo Müller</a> </li>
            <li> <a href="#" class="c-colophon__item">credits</a> </li>
            <li> <a href="#" class="c-colophon__item">area riservata</a> </li>
        </ul>
        <button class="o-control c-colophon__close">
            <span class="o-ico o-ico--close"></span>
        </button>
   </section>
   ```
   ========================================================================== */

.c-colophon.is-open {
    height: $colophon-height;
    visibility: visible;
    z-index: z-index(footer) + 1;
}

