/* ==========================================================================
   ## Main Layout
   ========================================================================== */

#container {
    @extend %prevent-fouc;
    z-index: z-index(container);
    min-height: 100%;
    padding-top: $container-mobile-gutter;

    .home & {
        padding-top: 0;
    }

    .list & {
        height: 100vh;
        overflow: hidden;
    }

    @include mq(l-tablet) {
        padding-top: 0;
    }


}

#site-cover {
    position: fixed;
}


#catalog {
    @include mq(l-tablet) {
        position: absolute;
        top: 80px;
        right: 0;
        left: 0;
        padding: 0 map-get($canvas-gutter, l-tablet);
    }
}

@include mq(l-tablet) {
    .home #nav-main.is-open ~ #site-modal {
        z-index: -2;
        opacity: 0;
    }
}

.thankyou #container,
.thankyoujob #container,
.error #container {

    @include mq($until: s-tablet) {
        padding-top: 0;
        overflow-y: scroll;
    }
}


//body:not(.homepage) #site-cover .c-cover__mask {
//    background-position: 0 -50vh;
//}

//.list #container{
//    padding-top: 0;
//}