/* ==========================================================================

   Command
   ====

   command for sliding news products

   ```
   <button class="o-command o-control o-control--fill">
        <span class="o-ico o-ico--arrow-down o-control__ico o-command__ico"></span>
   </button>

   ```
   ========================================================================== */

$command-dim: 90px !default;
$command-ico-font-size: 10px !default;

.o-command {
    width: $command-dim;
    height: $command-dim;
    position: fixed;
    z-index: z-index(nav);
    transition: all 150ms ease-in-out;

    &[disabled] {
        opacity: 0;
        visibility: hidden;
    }
}

/* ==========================================================================
   ## Modifiers
   ========================================================================== */

/* ==========================================================================

   ### Command Top

   ```
   <button class="o-command o-control o-control--fill o-command--top">
        <span class="o-ico o-ico--arrow-down o-control__ico o-command__ico"></span>
   </button>
   ```
   ========================================================================== */

.o-command--top {
    top: - $command-dim / 1.5;
    left: 0;
    right: 0;
    margin: auto;

    .o-command__ico {
        height: 100%;
        font-size: $command-ico-font-size;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
}

/* ==========================================================================

   ### Command Bottom

   ```
   <button class="o-command o-control o-control--fill o-command--bottom">
        <span class="o-ico o-ico--arrow-top o-control__ico o-command__ico"></span>
   </button>
   ```
   ========================================================================== */

.o-command--bottom {
    bottom: - $command-dim / 1.5;
    left: 0;
    right: 0;
    margin: auto;

    .o-command__ico {
        height: 100%;
        font-size: $command-ico-font-size;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
}

/* ==========================================================================

   ### Command Left

   ```
   <button class="o-command o-control o-control--fill o-command--left">
        <span class="o-ico o-ico--arrow-left o-control__ico o-command__ico"></span>
   </button>
   ```
   ========================================================================== */

.o-command--left {
    top: 0;
    bottom: 0;
    left: - $command-dim / 1.5;
    margin: auto;

    .o-command__ico {
        height: 100%;
        font-size: $command-ico-font-size;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

/* ==========================================================================

   ### Command Right

   ```
   <button class="o-command o-control o-control--fill o-command--right">
        <span class="o-ico o-ico--arrow-right o-control__ico o-command__ico"></span>
   </button>
   ```
   ========================================================================== */

.o-command--right {
    top: 0;
    bottom: 0;
    right: - $command-dim / 1.5;
    margin: auto;

    .o-command__ico {
        height: 100%;
        font-size: $command-ico-font-size;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}

/* ==========================================================================
   ## States
   ========================================================================== */

/* ==========================================================================

   ### :hover, .is-active

   ```
   <button class="o-command o-control o-control--fill o-command--right">
        <span class="o-ico o-ico--arrow-right o-control__ico o-command__ico"></span>
   </button>
   ```
   ========================================================================== */

.no-touchevents .o-command {
    transition: transform 150ms ease-in-out;

    &:hover {
        transform: scale3d(1.1, 1.1, 1.1);
    }
}