/* ==========================================================================

   Control
   ====

   UI Controls

   ```
   <button class="o-control">
        <span class="o-control__ico o-ico o-ico--search"></span>
   </button>

   <a href="#" class="o-control">
        <span class="o-control__ico o-ico o-ico--search"></span>
   </a>

   <button class="o-control" disabled>
        <span class="o-control__ico o-ico o-ico--search"></span>
   </button>

   <button class="o-control is-disabled">
        <span class="o-control__ico o-ico o-ico--search"></span>
   </button>

   <button class="o-control is-focused">
        <span class="o-control__ico o-ico o-ico--search"></span>
   </button>
   ```
   ========================================================================== */

.o-control {
    display: inline-block;
    margin-bottom: 0;
    padding: 10px;
    border: 0;
    background-color: transparent;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;

    &:hover,
    &:focus,
    &.is-focused {
        text-decoration: none;
    }

    &:active {
        background-image: none;
        outline: 0;
    }

    &.is-disabled,
    &[disabled] {
        cursor: default;
    }
}

a.o-control.is-disabled {
    pointer-events: none;
}

.o-control__ico {
    //display: table-cell;
    display: block;
    min-width: 1em;
    height: 1em;
    margin-left: auto;
    margin-right: auto;
    font-size: rem(16px);
}

/* ==========================================================================
   ## BLOCK MODIFIERS
   ========================================================================== */


%control-rounded {
    position: relative;
    width: 50px;
    height: 50px;
    padding: 15px;
    border-radius: 50%;
    transition: all 150ms ease-out;
}

/* ==========================================================================

   ### Control fill

   ```
    <button class="o-control o-control--fill">
        <span class="o-control__ico o-ico o-ico--search"></span>
    </button>
   ```
   ========================================================================== */

.o-control--fill {
    @extend %control-rounded;
    background-color: rgba($color-light, 0.4);
}


.o-control--fullcolor {
    background-color: $color-light !important;
}

/* ==========================================================================

   ### Control with border stroke

   ```
    <button class="o-control o-control--stroke">
        <span class="o-control__ico o-ico o-ico--search"></span>
    </button>

    <button class="o-control o-control--stroke is-focused">
        <span class="o-control__ico o-ico o-ico--search"></span>
    </button>

    <button class="o-control o-control--stroke" disabled>
        <span class="o-control__ico o-ico o-ico--search"></span>
    </button>
   ```
   ========================================================================== */

.o-control--stroke {
    @extend %control-rounded;
    //border: 2px solid rgba($color-light, 0.4);

    @include mq(s-tablet) {
        border: 2px solid rgba($color-light, 0.4);
    }

    &:hover,
    &.is-focused {
        border-color: rgba($color-light, 0.8);
    }

    @include aria-focus {
        border-color: rgba($color-light, 0.8);
    }

    &.is-disabled,
    &[disabled] {
        border-color: rgba($color-light, 0.4);
    }
}

/* ==========================================================================

   ### Reversed controls

   ```
   <button class="o-control o-control--reverse">
        <span class="o-control__ico o-ico o-ico--search"></span>
   </button>
   ```
   ========================================================================== */

.o-control--reverse {
    transform: rotate(-180deg);
}


/* ==========================================================================

   ### Toggle Control

   ```
   <button class="o-control o-control--toggle" aria-pressed="false">
        <!-- default state-->
        <span class="o-control__ico o-ico o-ico--speaker"></span>
        <!-- pressed state-->
        <span class="o-control__ico o-ico o-ico--speaker-mute"></span>
   </button>

   <button class="o-control o-control--toggle" aria-pressed="true">
        <!-- default state-->
        <span class="o-control__ico o-ico o-ico--speaker"></span>
        <!-- pressed state-->
        <span class="o-control__ico o-ico o-ico--speaker-mute"></span>
   </button>
   ```
   ========================================================================== */

.o-control--toggle {
    .o-control__ico {

        transition: all 100ms ease-out;
        transition-property: opacity, transform;

        &:last-child {
            position: absolute;
            top: 50%;
            left: 50%;
            opacity: 0;
            transform: translate(-50%, 0%);
        }
    }

    &.is-pressed,
    &[aria-pressed="true"] {

        .o-control__ico:first-child {
            opacity: 0;
            transform: translateY(-50%);
        }

        .o-control__ico:last-child {
            opacity: 1;
            transform: translate(-50%, -50%);
        }
    }
}


/* ==========================================================================
   ## themes
   ========================================================================== */

/* ==========================================================================

   ### Control dark

   ```
    <button class="o-control ui-dark">
        <span class="o-control__ico o-ico o-ico--search"></span>
    </button>
    <button class="o-control o-control--fill ui-dark">
        <span class="o-control__ico o-ico o-ico--search"></span>
    </button>
   ```
   ========================================================================== */

.o-control {
    &:not(.o-control--fill) {
        &.ui-dark {
            .o-ico {
                color: $color-gray;
            }
        }
    }
}

.o-control--fill {
    &.ui-dark {
        background-color: rgba($color-black, 0.2);
    }
}

.o-control--bounce {

    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-10px);}
    60% {transform: translateY(-7px);}
}



