$contest-title-font-size: 46px !default;
$contest-subtitle-font-size: 27px !default;
$contest-container-max-width: 950px;

.contests {
    position: relative;

    background-color: $color-blue;
    color: $color-white;

    text-align: center;
    overflow-y: scroll;

    @include mq(l-tablet) {
        padding: 120px 0;
    }
}

.o-contests__title {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: rem($contest-title-font-size / 1.5);
    font-weight: 500;
    text-align: center;

    @include mq(s-tablet) {
        font-size: rem($contest-title-font-size);
    }
}

.o-contests__subtitle {
    font-size: rem($contest-subtitle-font-size / 1.5);
    font-weight: 100;
    text-align: center;
    opacity: 0.7;

    @include mq(s-tablet) {
        font-size: rem($contest-subtitle-font-size);
        margin-bottom: 3rem;
    }

    img {
        width: 30px;
        height: 30px;
    }
}

.o-contents__main {
    max-width: $contest-container-max-width;
    margin: 2rem auto;

    @include mq(s-tablet) {
        margin: 2rem;
    }

    @include mq(desktop) {
        margin: 2rem auto;
    }
}