$contacts-main-font-size: 46px !default;
$contacts-sub-font-size: 26px !default;


#contacts {

    width: 100%;

    //h3.o-text__tagline {
    //    font-size: rem($contacts-sub-font-size);
    //    font-weight: 100;
    //    text-transform: none;
    //}
    //h3.o-text__title {
    //    font-size: rem($contacts-sub-font-size);
    //    font-weight: 100;
    //    strong {
    //        font-weight: 500;
    //    }
    //}

    .o-form {
        justify-content: center;
        min-height: 70vh;
    }

    @include mq(l-tablet) {
        .o-form__body {
            padding: 0;
        }
    }

    .c-tablist__panel {
        margin-bottom: 100px;

        @include mq(s-tablet) {
            margin-bottom: 0;
        }

        @include mq(l-tablet) {

            > * {
                max-width: vw(760px);
                margin-right: auto;
                margin-left: auto;
            }
        }



        > .c-manifest {
            max-width: none;
        }
    }

    .c-tablist__footer {
        bottom: 12vh;
        transition: all 200ms ease-out 0ms;
    }

    .c-tablist__panel-wrap.is-scrolled ~ .c-tablist__footer {
        opacity: 0;
        transform: translateY(15px);
    }

    .o-btn {
        min-width: 250px;
        margin-left: auto;
        margin-right: auto;

        @include mq(s-tablet) {
            float: right;
        }
    }

}

#contact-chooser {
    max-width: 400px !important;
    margin-right: auto;
    margin-left: auto;
    @include mq(s-tablet) {
        margin: 1em auto 3em;
    }
}

.contact-intros {
    position: relative;
    white-space: nowrap;
    text-align: center;

    @include mq($until: s-tablet) {
        margin-bottom: -100px;
    }

    > * {
        position: relative;
        display: inline-block;
        width: 100%;
        white-space: normal;
        //vertical-align: top;
        vertical-align: middle;
    }


}

#company-intro,
#private-intro {
    opacity: 0;

    transform: translateY(10px);
    transition: all 250ms ease-out;
    transition-property: opacity, transform;

    p {
        margin-bottom: 0.5em;
    }

    &.is-active-intro {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0.2s;
    }

    .o-text__title {
        font-size: font-size(22px);
    }

    @include mq(s-tablet) {
        font-size: font-size(23px);

        .o-text__title {
            font-size: font-size(27px);
        }
    }
}

#private-intro {
    margin-right: -100%;
}

#mondo-muller {
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#lavora {
    display: flex;
    align-items: center;
    .o-text {
        font-weight: 100;
    }

    .c-manifest > h2:last-of-type {
        margin-left: 30%;
    }
}

#job-form {
    .o-form__body {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

    }

    .o-text {
        width: 100%;
        flex: 1 1 100%;
    }

    fieldset,
    .o-form__group {
        flex: 1 1 100%;
        will-change: transform;

        @include mq($until: l-tablet) {
            flex: 1 1 100%;
        }
    }
}

#contacts-social {


    &.c-tablist__panel {
        margin-bottom: 100px;
    }

    h2 {
        font-size: font-size(20px);
        font-weight: 300;
    }


    .o-list img {
        @include img-responsive;
        max-width: 80%;
        margin-right: auto;
        margin-left: auto;
    }

    @include mq($until: l-tablet) {
        .o-list__item {
            display: block;
            flex-basis: 100%;
            margin-top: 2em;
        }
    }

    @include mq(l-tablet) {
        min-height: 60vh;

        .o-list {
            display: flex;
            margin-top: 2em;
            justify-content: space-around;
        }
    }

    @include mq(desktop) {
        .o-list img {
            min-width: 100%;
        }
    }

}