/* ==========================================================================

   Container
   ====

   Generic Layout Container

   ```
   <section class="o-container"></section>
   ```
   ========================================================================== */

.o-container {
    @extend %clearfix;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

/* ==========================================================================
   ## Themes
   ========================================================================== */

//.o-container {
//    &.ui-light {
//        background: $color-gray-lighter;
//    }
//}