/* /////////////////////////
COOKIE BAR PLUGIN

<div class="cookie-bar">
    <div class="cookie-bar__content">

        <p class="cookie-bar__text">
            Utilizziamo i cookie per assicurarti la migliore esperienza possibile sul nostro sito. Navigandolo accetti  <a href="">termini e condizioni</a>
        </p>

        <div class="cookie-bar__accept-outer">
            <button id="accept-cookie" class="cookie-bar__accept-button">
                Accetta
            </button>
        </div>

    </div>
</div>

//////////////////////////*/

$cookie-text-font-size: 10px !default;

$cookie-bar-max-width: 1000px !default;
$cookie-bar-max-width-wide: 1280px !default;

$cookie-bar-background: $color-blue !default;
$cookie-bar-content-color: $color-light !default;
$cookie-bar-link-color: $color-light !default;
$cookie-bar-link-hover-color: $color-light-50 !default;
$color-button: white !default;

@if mixin-exists('mq') == false {
    @warn 'sass-mq is required.'
}

.cookie-bar {

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    background: $cookie-bar-background;

    &__content {
        max-width: $cookie-bar-max-width;
        margin: 0 auto;
        padding: 1rem 5%;
        color: $cookie-bar-content-color;
        *zoom: 1;

        &:before,
        &:after {
            display: table;
            content: '';
        }

        &:after {
            clear: both;
        }

        @include mq(wide) {
            max-width: $cookie-bar-max-width-wide;
        }
    }

    a {

        color: $cookie-bar-link-color;
        font-size: $cookie-text-font-size + 1;
        text-decoration: underline;

        .no-touch &:hover,
        .no-touchevents &:hover {
            color: $cookie-bar-link-hover-color;
        }
    }


    &__text {


        font-size: $cookie-text-font-size;
        font-weight: 100;
        letter-spacing: .25em;
        line-height: 2em;
        margin: 0;

        @include mq(l-tablet) {
            width: 60%;
            float: left;
            max-width: 700px;
            margin: 0 auto;
        }
    }

    &__accept-outer {

        text-align: center;
        padding-top: 2rem;

        @include mq(l-tablet) {

            width: 40%;
            float: left;
            padding-top: 0;
            text-align: right;

        }
    }

    &__accept-button {

        display: inline-block;
        border: 1px solid transparent;
        background: transparent;
        color: $color-button;
        padding: 1.4rem 6rem;
        font-size: $cookie-text-font-size;
        text-transform: uppercase;
        letter-spacing: 0.25em;
        transition: all 0.25s ease-out;

        .no-touch &:hover,
        .no-touchevents &:hover {
            border-color: $color-button;
            color: white;
        }
    }

    //transform: translateY(100%);
    //transition: transform 300ms ease-out;
    //
    //&.is-bar-visible {
    //    transform: translateY(0);
    //    transition-duration: 500ms;
    //    transition-delay: 1s;
    //    will-change: transform;
    //}
}


