/* ==========================================================================

   Counter
   ====

   counter for news

   ```
   <div class="c-counter">
       <span class="c-counter__current">9</span>
       <span class="c-counter__total"> / 10 </span>
   </div>
   ```
   ========================================================================== */

$counter-total-font-size: 20px !default;
$counter-current-font-size: 30px !default;

.c-counter {
    font-size: 0;
}

.c-counter__current {
    color: $color-light;
    font-size: rem($counter-current-font-size);
}

.c-counter__total {
    color: $color-light-50;
    font-size: rem($counter-total-font-size);
    font-weight: 300;
}