/* ==========================================================================

   Cover Media
   ====

   Full-size Cover Media

   ```
   <div></div>
   ```
   ========================================================================== */

%c-cover-pos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.c-cover {
    @extend %c-cover-pos;
    z-index: z-index(cover);
    overflow: hidden;
}


$gradient-home: to bottom, rgba(37, 59, 166, 0) 40%, rgba(37, 59, 166, 1) 100%;

//$gradient-home: to top, rgba(207,77,12,0.9) 0%, rgba(221,129,96,0.5) 40%, rgba(235,180,180,0) 80%, rgba(235,180,180,0) 100%;


.c-cover__mask {
    @extend %c-cover-pos;
    background-image: linear-gradient($gradient-home);
    background-repeat-y:no-repeat;

    //background-size: 1px 100%;
    z-index: z-index(above) + 1;
    position: fixed;
    transform: translate3d(0,0,0);

}

.c-cover__image {
    @extend %c-cover-pos;
    z-index: z-index(base) + 1;
    overflow: hidden;
}

.c-cover__image-src {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    //top: 50%;
    //left: 50%;
    //min-width: 100%;
    //min-height: 100%;
    //width: auto;
    //height: auto;
    //position:absolute;
    //transform: translateX(-50%) translateY(-50%);


    opacity: 0;
    visibility: hidden;

    &.is-loaded {
        z-index: 2;
    }

    &.is-active {
        opacity: 1;
        visibility: visible;
    }

}


.c-cover__video {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    > video {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(1.1);
        z-index: z-index(above) + 1;
        opacity: 0;
        display: none;
        backface-visibility: hidden;

        &.is-loaded {
            //z-index: z-index(above) + 1;
        }

        @include mq(desktop) {
            display: block;
        }
    }
}

html[data-agent='ie']{
    .c-cover__video {
        > video {
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            position: absolute;
            transform: translateX(-50%) translateY(-50%) scale(1);

        }

    }
}