
.container {

}

#rings-cont {
    position: absolute;
    top: -45px;
    left: 0;
    margin: auto;
    overflow: hidden;
    width: 100%;
    height: 100%;
    height: calc(100% + 45px);
    z-index: 1;
    display: none;

    @include mq(l-tablet) {
        top: 0;
        height: 100%;
    }
}


canvas {
    width: 100%;
    height: 100%;

    &.cursor-pointer {
        cursor:pointer;
    }
}



#elements-world {
    width: 190px;
    height: 190px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    transform: translate3d(-50%,-50%,0);
    position: relative;
    backface-visibility: hidden;

    @include mq(l-tablet){
        width: 280px;
        height: 280px;
        margin-top: 0;
    }


    .item-img {
        position: absolute;
        width: 100%;
        height:100%;

        > div {
            position: absolute;
            width: 100%;
            height:100%;
            background-size: contain;
            background-repeat: no-repeat;
            backface-visibility: hidden;
            transform: translateZ(0) scale(1.0, 1.0);
        }


    }

    > img {
        position: absolute;
        width: 100%;
        height:100%;
        background-size: contain;
        background-repeat: no-repeat;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1.0, 1.0);
        opacity: 0;

        //image-rendering: optimizeSpeed;
        //image-rendering: -moz-crisp-edges;
        //image-rendering: -o-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        //image-rendering: crisp-edges;
        -ms-interpolation-mode: nearest-neighbor;

    }
}

.o-pointer {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 20px;
    margin: -20px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 1000px;
    opacity: 0;
    display:none;

    @include mq(desktop){
        display:block;
    }
}


