$thankyou-hero-font-size: 46px !default;
$thankyou-link-font-size: 12px !default;
$thankyou-icon-font-size: 40px !default;

.thankyou #container,
.thankyoujob #container {

    height: 100%;
    padding-top: 0;
}

.c-feedback {

    padding: 100px 20px;
    text-align: center;
    width: 100%;
    background-color: $color-blue;

    @include mq(s-tablet) {
        height: 100vh;
    }

    @include mq(l-tablet) {

        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        footer {
            position: absolute;
            bottom: 10%;
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    //@include mq($until: s-tablet) {
    //    height: 130vh;
    //    -webkit-overflow-scrolling: touch;
    //}

}

.c-feedback__icon {

    width: 65px;
    height: 65px;
    cursor: default;

    .o-ico {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        font-size: rem($thankyou-icon-font-size);
        color: $color-blue;
    }
}

.c-feedback__hero {

    margin-top: 1.2em;
    margin-bottom: 1.2em;
    font-size: rem($thankyou-hero-font-size);
}

.c-feedback__desc {

    color: $color-light-50;
    font-weight: 100;
    margin-bottom: 3em;
    margin-top: 1.5em;

    p {
        &:not([class]) {
            margin-bottom: 0;
        }
    }
}

.c-feedback__link {

    color: $color-light-50;
    text-decoration: underline;
    font-size: rem($thankyou-link-font-size);

    .no-touchevents & {
        transition: color 0.2s;

        &:hover {
            color: $color-light;
        }
    }
}

/* ==========================================================================
   ## Modifiers
   ========================================================================== */

/* ==========================================================================

   ### feedback error

   ```
   <div></div>
   ```
   ========================================================================== */

.c-feedback--error {
    //background-color: $color-gray;
    .c-feedback__icon {
        .o-ico {
            color: $color-gray;
        }
    }
}
/* ==========================================================================

   ### feedback campaign

   ```
   <div></div>
   ```
   ========================================================================== */

.c-feedback--campaign {
    background-color: $color-pink;
    //@include mq($until: s-tablet) {
    //    height: 150vh;
    //}
    .c-feedback__icon {
        .o-ico {
            color: $color-pink;
        }
    }
}
