$font-base-path: '/assets/fonts' !default;

//fonts by type
$font-family-sans: "museo-sans-rounded", Helvetica, FreeSans, "Liberation Sans", sans-serif;

//fonts by function
$font-family-base: $font-family-sans;

//font dimensions
$font-size-default: 16px !default;
$font-size-base: 16px !default;

$font-sizes: (

) !default;

$font-weights: (

) !default;


// fonts url needs to follow the convention
// '../fonts/#{$font}/#{$font-family}/#{$font-family}'

//@enhance

// Eg:
//$fonts: (
//    sourcesans: (
//        SourceSansPro-Bold,
//        SourceSansPro-ExtraLight,
//        SourceSansPro-Italic,
//        SourceSansPro-Light,
//        SourceSansPro-Regular
//    )
//);

$fonts: (
);

@each $font in map-keys($fonts) {

    @each $font-family in map-deep-get($fonts, $font) {

        @font-face {
            font-family: $font-family;
            src:
                url('#{$font-base-path}#{$font}/#{$font-family}/#{$font-family}.eot?#iefix') format('embedded-opentype'),
                url('#{$font-base-path}#{$font}/#{$font-family}/#{$font-family}.woff') format('woff'),
                url('#{$font-base-path}#{$font}/#{$font-family}/#{$font-family}.ttf') format('truetype'),
                url('#{$font-base-path}#{$font}/#{$font-family}/#{$font-family}.svg##{$font-family}') format('svg');
        }
    }
}

@font-face {
    font-family: 'mullerico';
    src:
        url('#{$font-base-path}/mullerico/fonts/mullerico.ttf?a1j1il') format('truetype'),
        url('#{$font-base-path}/mullerico/fonts/mullerico.woff?a1j1il') format('woff'),
        url('#{$font-base-path}/mullerico/fonts/mullerico.svg?a1j1il#mullerico') format('svg');
    font-weight: normal;
    font-style: normal;
}