/* ==========================================================================
   ## Website Footer
   ========================================================================== */

#footer {
    position: fixed;
    right: 0;
    bottom: 20px;
    left: 0;
    z-index: z-index(modal) - 1;
    display: flex;
    margin-right: 10px;
    margin-left: 0px;
    color: $color-light-50;
    font-weight: 500;
    align-items: center;
    width: 15%;

    .is-colophon-open & {
        @include mq(l-tablet) {
            z-index: z-index(nav) + 1;
        }
    }

    @include mq(s-tablet) {
        margin-left: 10px;
        bottom: 15px;
        width: 100%;
    }

    @include mq(l-tablet) {
        z-index: z-index(footer);
        bottom: 15px;
    }

    @include mq(desktop) {
        left: map-get($canvas-gutter, l-tablet);
        width: 35%;
    }

    @media (max-width: 480px) {
        width: 100%;
    }

    a:not([class]) {
        transition: color 150ms;

        &:hover {
            color: $color-light;
        }
    }
}

#footer-controls {

    @include mq($until: s-tablet) {
        overflow: visible;
        width: 0;
        margin: 0;
        //transform: scale(0.9);
    }

    @media (max-width: 480px) {
        width: 100%;
    }

    > :last-child {
        @media (max-width: 480px) {
            float: right;
        }

        @include mq($until: desktop) {
            //display: none;
        }
    }

}

#footer-info {

    font-size: font-size(10px);
    text-align: center;
    flex: 1 1 100%;

    @include mq($until: s-tablet) {
        display:none;
    }

    @include mq(s-tablet) {
        margin-left: 18px;
        font-size: font-size(12px);
        text-align: left;
        flex: 1 0 auto;
    }
}