/* ==========================================================================

   Form container
   ====

   form container

   ```
   <form class="o-form">
    <div class="o-form__body">
    </div>
   </form>
   ```
   ========================================================================== */

$form-body-gutter: 100px;

.o-form {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    @include mq(s-tablet) {
        align-items: center;
    }
    &__body {
        margin: 0 auto;
        width: 100%;
        @include mq(s-tablet) {
            padding: 0 60px;
        }
    }

}

/* ==========================================================================

   Form Fieldset
   ====

   where form groups are

   ```
   <fieldset class="o-form__fieldset">
    <div class="o-form__group">
      <input required class="o-form__field" type="text" />
      <label class="o-form__label">
       <span> Required Field </span>
      </label>
    </div>
    <div class="o-form__group">
      <input required class="o-form__field" type="text" />
      <label class="o-form__label">
       <span> Required Field </span>
      </label>
    </div>
    <div class="o-form__group">
      <input required class="o-form__field" type="text" />
      <label class="o-form__label">
       <span> Required Field </span>
      </label>
    </div>
   </fieldset>
   ```
   ========================================================================== */

.o-form__fieldset {
    position: relative;
    // where form groups are
    border: none;
    padding: 0;
    margin-left: -23px;
    margin-right: -23px;
    @include mq(s-tablet) {
        margin: 1rem 0;
    }
    @include mq(desktop) {
        margin: 0;
    }
    @include mq(wide) {
        margin: 2rem 0;
    }

    .o-checkbox {
        left: 23px;
    }
}

/* ==========================================================================

   ### Form two cols

   ```
   <fieldset class="o-form__fieldset o-form__fieldset--col-2">
    <div class="o-form__group">
      <input required class="o-form__field" type="text" />
      <label class="o-form__label">
       <span> Required Field </span>
      </label>
    </div>
    <div class="o-form__group">
      <input required class="o-form__field" type="text" />
      <label class="o-form__label">
       <span> Required Field </span>
      </label>
    </div>
    <div class="o-form__group">
      <input required class="o-form__field" type="text" />
      <label class="o-form__label">
       <span> Required Field </span>
      </label>
    </div>
   </fieldset>
   ```
   ========================================================================== */

.o-form__fieldset--col-2 {
    .o-form__group {
        width: 100%;
        @include mq(s-tablet) {
            width: calc(100% / 2);
            float: left;
        }
    }
}

/* ==========================================================================

   ### Form three cols

   ```
   <fieldset class="o-form__fieldset o-form__fieldset--col-3">
    <div class="o-form__group">
      <input required class="o-form__field" type="text" />
      <label class="o-form__label">
       <span> Required Field </span>
      </label>
    </div>
    <div class="o-form__group">
      <input required class="o-form__field" type="text" />
      <label class="o-form__label">
       <span> Required Field </span>
      </label>
    </div>
    <div class="o-form__group">
      <input required class="o-form__field" type="text" />
      <label class="o-form__label">
       <span> Required Field </span>
      </label>
    </div>
   </fieldset>
   ```
   ========================================================================== */

.o-form__fieldset--col-3 {
    .o-form__group {
        width: 100%;
        @include mq(l-tablet) {
            width: calc(100% / 3);
            float: left;
        }
    }
}

/* ==========================================================================

   Form Legend
   ====

   Form title legend

   ```
   <legend class="o-form__legend">A Form Legend</legend>
   ```
   ========================================================================== */

$form-legend-font-size: 24px !default;

.o-form__legend {
    //display: block;
    //text-align: center;
    font-weight: 500;
    font-size: rem($form-legend-font-size);
    margin: 10px auto 30px;
    @include mq(wide) {
        margin: 40px auto;
    }
}

/* ==========================================================================

   Form Hint
   ====

   A form hint

   ```
   <span class="o-form__hint"><strong>Compilando il presente modulo è possibile ottenere la garanzia di 5
    (cinque) anni sui prodotti della linea i-LèD, nei termini e condizioni indicati dalla Dichiarazione di Garanzia.</strong>
    <br>
     Il modulo dev'essere compilato in tutte le sue parti ed inviato all'indirizzo warranty@linealight.com.
     La richiesta per l'estensione della Garanzia deve avvenire entro 30 (trenta) giorni dalla data riportata sul documento
     di fatturazione. A seguito della verifica da parte di Linea Light s.r.l. dei dati ricevuti Vi verrà inviata, entro 7
     (sette) giorni dalla ricezione del modulo,
    l'eventuale conferma di accettazione della richiesta e rilasciato il codice identificativo della pratica di garanzia.</span>
   ```
   ========================================================================== */

.o-form__hint {
    //font-size: font-size(l);
    //@include line-height(base);
    display: block;
    margin: 40px 0;
    b,
    strong {
        //@include font-family(bold);
    }
}

/* ==========================================================================

   Form Groups
   ====

   A container for input and label

   ```
   <div class="o-form__group">
      <input required class="o-form__field" type="text" />
      <label class="o-form__label">
       <span> Required Field </span>
      </label>
   </div>
   ```
   ========================================================================== */

$form-gutter-outside: 40px;
$form-group-gutter: 23px;

.o-form__group {
    @include clearfix;
    position: relative;
    z-index: 1;
    vertical-align: top;
    padding-left: $form-group-gutter;
    padding-right: $form-group-gutter;
    margin: 1rem 0;

    @include mq(s-tablet) {
        margin: 0;
    }

    .o-form__field + .o-form__label {
        white-space: nowrap;
    }

}

/* ==========================================================================

   ### Form group with icon

   ```
   <div class="o-form__group o-form__group--hint">
      <button class="o-control o-control--stroke o-form__control">
        <span class="o-ico o-ico--link"></span>
      </button>
      <input required class="o-form__field" type="text" />
      <label class="o-form__label">
       <span> Required Field </span>
      </label>
   </div>
   ```
   ========================================================================== */

$form-group-hint-font-size: 30px !default;

.o-form__group--hint {
    .o-form__control {
        display: none;
    }
    @include mq(desktop) {
        .o-form__control {
            display: block;
            float: left;
            margin: 10px 25px;
            .o-ico {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                font-size: rem($form-group-hint-font-size);
                height: $form-group-hint-font-size;
            }
        }
        .o-form__label {
            width: calc(100% - 100px);
        }
    }
}


/* ==========================================================================

   Form Field
   ====

   Form field for text - emails - etc

   ```
   <input type="text" class="o-form__field" />
   ```
   ========================================================================== */

$form-bg: transparent;
$form-gutter-inside: 20px;
$form-field-height: 45px;
$form-field-font-size: 22px !default;

.o-form__field,
textarea.o-form__field {
    width: 100%;
    float: left;
    background: transparent;
    letter-spacing: 1px;
    padding: 30px 0 15px 35px;
    font-size: rem($form-field-font-size / 1.5);
    margin-bottom: 0.2em;
    color: $color-light;
    position: relative;
    display: block;
    border: none;
    border-radius: 0;
    appearance: none;
    margin-right: -100%;
    transform: translateZ(0);

    //http://stackoverflow.com/questions/14007655/remove-ie10s-clear-field-x-button-on-certain-inputs

    &::-ms-clear {
        display: none;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        transition: background-color 5000s;
    }

    @include mq(desktop) {
        padding: 20px 0 20px 20px;
        font-size: rem($form-field-font-size);
    }

    &:focus,
    &.is-dirty {
        outline: none;
        + .o-form__label {
            span {
                opacity: 0.5;
                transform: translate3d(0, -30px, 0) scale3d(0.9, 0.9, 1);
            }
            &::after {
                transform: scale3d(1, 3, 1);
            }
        }
    }




}


textarea.o-form__field {
     //    padding: $form-gutter-inside;
     //    min-height: 180px;
     min-height: 100px;
     padding-bottom: 0;
     resize: none;
     & + .o-form__label {
         min-height: 100px;
     }
 }


/* ==========================================================================

   Form Label
   ====

   Label for inputs

   ```
   <label class="o-form__label">
    <span>Name and Surname</span>
   </label>
   ```
   ========================================================================== */

$form-label-font-size: 14px !default;

.o-form__label {
    width: 100%;
    position: relative;
    float: left;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: left;
    font-size: rem($form-label-font-size);
    padding: 20px;
    pointer-events: none;
    display: inline-block;
    user-select: none;
    color: $color-light;

    span {
        position: relative;
        display: block;
        padding: 0;
        width: 100%;
        transform-origin: 0 0;
        color: currentColor;
        transition: transform 0.3s, color 0.3s, opacity 0.3s;
    }

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: currentColor;
        left: 0;
        top: 100%;
        opacity: 0.5;
        transition: transform 0.2s;
    }
}

/* ==========================================================================

   Form Hint
   ====

   Label for inputs

   ```
   <span class="o-form__info">
        <span class="o-ico o-ico--info" role="presentation"></span>
        <figure class="o-callout o-callout--liquid ui-light">
            <img src="/assets/images/form-product-hint.png" alt="">
            <figcaption><p>&Egrave; il codice alfanumerico che trovi sull'opercolo vicino alla data di scadenza.</p></figcaption>
        </figure>
   </span>
   ```
   ========================================================================== */


.o-form__info {
    position: relative;
    z-index: z-index(above);

    .o-ico {
        display: inline-block;
        width: 2em;
        height: 2em;
        line-height: em(18px, 10px);
        border: 1px solid rgba($color-light, 0.2);
        border-radius: 50%;
        font-size: font-size(10px);
        text-align: center;
        will-change: transform;
    }

    .o-callout {
        position: absolute;
        left: 200%;
        z-index: z-index(behind);
        opacity: 0;
        font-size: font-size(11px);
        transform: translateX(-2px);
        transition: all 300ms ease-out, z-index 300ms;
        transition-delay: 0s, 500ms;

        @include mq($until: s-tablet) {
            display: none;
        }

    }

    .o-form__group > & {
        position: absolute;
        top: 50%;
        right: $form-group-gutter + 5px;
        transform: translateY(-50%);
    }
}



.o-form__info:hover {
    .o-callout {
        opacity: 1;
        transform: translateX(0);
    }
}

/* ==========================================================================
   ## Modifiers
   ========================================================================== */

/* ==========================================================================

   ### Required

   ```
   <label class="o-form__label"> Required Field </label>
   <input required class="o-form__field" type="text" />
   ```
   ========================================================================== */

.o-form__field[required] + .o-form__label {
    span {
        &::after {
            content: " *";
        }
    }
}

$success-color: #468847;
$success-bg: #DFF0D8;
$success-border: #D6E9C6;

$error-color: #C56866;
$error-bg: #F2DEDE;
$error-border: #EED3D7;

input.has-success,
select.has-success,
textarea.has-success {
    color: $success-color;
    background-color: $success-bg;
    border: 1px solid $success-border;
}

input.has-error,
select.has-error,
textarea.has-error {
    color: $error-color !important;
    background-color: $error-bg;
    border: 1px solid $error-border;
}

.o-form__error {
    position: absolute;
    top: 100%;
    left: $form-group-gutter + 20px;
    opacity: 0;
    color: currentColor;
    font-size: font-size(12px);
    white-space: nowrap;
    letter-spacing: 0.05em;
    transform: translateY(-20px);
    transition: all 150ms ease-out 100ms;
    display:none;

    .o-checkbox + & {
        top: 120%;
        left: 63px;
    }


}

.o-upload,
.o-link{

    .o-form__error {

        display:block;
    }
}

.has-error {
    color: $error-color !important;

    .o-form__field {
        color: $error-color;
    }
    .o-form__label {
        color: $error-color;
    }


    .o-form__error {
        opacity: 1;
        transform: translateY(-7px);
        @include mq(desktop) {
            transform: translateY(-10px);
        }
    }
}

.o-form__group--checkboxes {
    &.has-error {
        .o-checkbox {
            color: $error-color;
            background-color: $error-bg;
            border: 1px solid $error-border;
        }
    }
    &.has-success {
        .o-checkbox {
            color: $success-color;
            background-color: $success-bg;
            border: 1px solid $success-border;
        }
    }
}


.s-login-form {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;

    @include mq(wide) {
        max-width: 550px;
    }

    .o-form__legend {
        color: $color-light;
        font-size: font-size(16px);
        font-weight: 900;
        text-transform: uppercase;
    }

    .o-form__group {
        margin-bottom: 2em;

        &:last-of-type {
            margin-bottom: 3em;
        }
    }
}


.o-form__uploads {
    margin-top:15px;
    min-height: 100px;
}