/* ==========================================================================

   Gallery
   ====

   Image Gallery

   ```

   ```
   ========================================================================== */

.c-gallery {
    overflow: hidden;
    padding-bottom: 110px;
    text-align: center;

    @include mq(l-tablet) {
        overflow: visible;
        width: 100%;
        margin-bottom: 110px;
        padding-bottom: 0;
    }
}

.c-gallery__pag {
    position: relative;
    z-index: z-index(above);
    display: inline-block;
    margin-top: 30px;

    .o-pag__item:only-child {
        display: none;
    }
}

.c-gallery__figure-wrap {
    position: relative;
    display: flex;
    overflow: visible;
    max-width: 100%;
    font-size: 0;
    white-space: nowrap;
    transition: all 500ms ease-out;
}


.c-gallery__caption {
    $caption-font-size: 18px;
    position: absolute;
    right: 0;
    bottom: -110px;
    left: 0;
    font-size: font-size($caption-font-size);
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.01em;

    @include mq(l-tablet) {
        opacity: 0;
        transform: translateY(30%);
        transition: all 200ms ease-out;
        transition-delay: 0s;
    }

    small {
        font-size: em(14px, $caption-font-size);
    }

    > * {
        display: inline-block;
        padding: 10px 17px;
        border-radius: 3em;
        background-color: rgba($color-light, 0.15);
        white-space: nowrap;
    }
}

.c-gallery__figure {
    position: relative;
    display: inline-block;
    display: flex;
    flex: 0 0 auto;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    margin: 0;
    vertical-align: middle;

    @include mq($until: l-tablet) {
        padding-right: 5%;
        padding-left: 5%;
        transform: translateX(-100%);
        //transition: transform 200ms ease-out;
        transition: transform 0.5s cubic-bezier(0.11, 1.62, 0.57, 1.01);
        will-change: transform;
    }

    @include mq(l-tablet) {
        padding-right: 10%;
        padding-left: 10%;
    }
    @include mq(desktop) {
        padding-right: 0;
        padding-left: 0;
    }

    > img {
        @include img-responsive;
        opacity: 0;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
        //margin-right: auto;
        //margin-left: auto;
        -webkit-user-drag: none;
        transform-origin: 50% 100%;
        transition: opacity 100ms ease-out 0.2s;

        @include mq($until: s-tablet) {
            max-height: 40vh;
        }
        @include mq($from: s-tablet, $until: l-tablet) {
            max-height: 50vh;
            transform: scale(0.7);
        }

        @include mq(l-tablet) {
            transform: translateX(-10%) scale(0.6);
            transition: all 200ms ease-out;
            transition-delay: 0s;
            transition-property: transform, opacity;
            will-change: transform, opacity;
        }
        @include mq(wide) {
            transform: translateX(-10%) scale(0.8);
        }
    }

    &.is-current {

        > img {
            opacity: 1;
            transition-delay: 0s;
        }

        @include mq($until: l-tablet) {
            transform: translateX(0);
        }

        @include mq(l-tablet) {

            > img {
                opacity: 1;
                transform: translateX(0) scale(0.6);
                transition-delay: 0.2s;
            }

            > .c-gallery__caption {
                opacity: 1;
                transform: translateY(0);
                transition-delay: 0.3s;
            }

        }

        @include mq(wide) {
            > img {
                transform: translateX(0%) scale(0.8);
            }
        }
    }

    &.is-current  ~ .c-gallery__figure {

        @include mq($until: l-tablet) {
            transform: translateX(100%);
        }

        @include mq(l-tablet) {

            > img {
                transform: translateX(10%) scale(0.6);
            }

        }

        @include mq(wide) {
            > img {
                transform: translateX(10%) scale(0.8);
            }
        }
    }
}

.c-gallery--grecia {
    margin-top: 10%;
    padding-bottom: 0;

    @include mq(s-tablet) {
        margin: 0;
        padding: 0;
    }

    @include mq(l-tablet) {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        transform: translateY(-50%);
    }

    .c-gallery__figure {
        @include mq(wide) {
            > img {
                transform: translateX(0%) scale(0.6);
            }
        }
        &.is-current {
            @include mq(wide) {
                > img {
                    transform: translateX(0%) scale(0.6);
                }
            }
        }
        &.is-current ~ .c-gallery__figure {
            @include mq(wide) {
                > img {
                    transform: translateX(10%) scale(0.6);
                }
            }
        }
    }
}

.c-gallery__label {
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;

    font-weight: 100;

    @include mq(s-tablet) {
        position: absolute;
    }
}

.c-gallery__label--top {
    top: 50%;
    left: 30%;
    right: auto;

    @include mq(l-tablet) {
        top: 25%;

        left: auto;
        right: 80px;
    }
}

.c-gallery__label--bottom {
    margin-top: 10%;
    left: 0;
    width: 100%;

    @include mq(s-tablet) {
        margin-top: 0;
        top: 100%;
    }
}