$mq-breakpoints: (
    mobile: 480px,
    s-tablet: 768px,
    l-tablet: 992px,
    desktop: 1200px,
    l-desktop: 1280px,
    medium: 1400px,
    wide: 1600px,
    l-wide: 1700px,
    extreme: 1900px
);

$layers: (
    behind: -1,
    base: 0,
    above: 1,
    cover: 0,
    container: 2,
    header: 5,
    footer: 30,
    modal: 10,
    overlay: 20,
    nav: 40,
    loader: 100
);

$landing-easing-in: cubic-bezier(0.165, 0.840, 0.440, 1.000);
//$landing-easing-in: cubic-bezier(.14,.68,.31,.97);
$landing-easing-out: cubic-bezier(0.550, 0.085, 0.680, 0.530);
//$landing-easing-out: cubic-bezier(0.390, 0.575, 0.565, 1.000);
//$landing-easing-out: cubic-bezier(0.550, 0.085, 0.680, 0.530);
$top-gutter: 100px !default;
$aside-width: 100px !default;

$container-width: 1280px;
$container-height: 720px;
$container-mobile-gutter: 100px;

$canvas-gutter: (
    null: 20px,
    l-tablet: 40px
);

$overlay-gutter: (
    null: 20px,
    l-tablet: 30px
);