.c-gradient {
    position: fixed;
    z-index: 5;
    content: '';
    transform: translateZ(0);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,1e5799+100&1+0,0+11,0+89,1+100 */
    background: -moz-linear-gradient(top,  rgba($color-blue,1) 0%, rgba($color-blue,0) 10%, rgba($color-blue,0) 80%, rgba($color-blue,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba($color-blue,1) 0%,rgba($color-blue,0) 10%,rgba($color-blue,0) 80%,rgba($color-blue,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba($color-blue,1) 0%,rgba($color-blue,0) 10%,rgba($color-blue,0) 80%,rgba($color-blue,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color-blue}', endColorstr='#{$color-blue}',GradientType=0 ); /* IE6-9 */
}