body.campaign-grecia {
    background-image: url(/assets/images/grecia.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#campaign-grecia {
    padding: 30px;

    @include mq(l-tablet) {
        height: 100%;
    }

    .c-tablist__panel-wrap {
        @include mq(l-tablet) {
            height: 100%;
        }
    }

    .c-tablist--tabbed .c-tablist__panel-wrap .c-tablist__panel {
        font-size: 1rem;

        @include mq(l-tablet) {
            height: 85%;
        }
    }

    .c-tablist__panel-wrap.is-scrolled ~ .c-tablist__footer {
        opacity: 0;
        transform: translateY(15px);
    }

    .c-tablist__panel {
        margin-bottom: 0;

        @include mq(s-tablet) {
            margin-bottom: 10%;
        }
    }

    .c-tablist__footer {
        position: fixed;
        bottom: 15px;

        button {
            cursor: pointer;
        }
    }

    .c-gallery__label--bottom {
        opacity: 0.8;

        * {
            line-height: 1.2;
            margin: 0;
        }
    }
}

.o-greece {
    margin-top: -100px;
    height: 100vh;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;

    @include mq(l-tablet) {
        margin-top: 0px;
        overflow: hidden;
    }
}

.o-greece__body {
    @include mq(l-tablet) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        display: flex;
        flex-direction: column;

        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    @include mq(desktop) {
        width: 80%;
    }
}

.o-greece__head,
.o-greece__content {
    flex: 1 0 auto;
}

.o-greece__head {
    align-self: center;
    margin-bottom: 3rem;

    @include mq(s-tablet) {
        margin-bottom: 0;
    }

    @include mq(l-tablet) {
        height: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.o-greece__content {

    @include mq(s-tablet) {
        margin-top: 10%;
    }

    @include mq(l-tablet) {
        width: 100%;
        height: 75%;

        margin-top: 0;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
    }

    img {
        max-width: 100%;
    }
}

.o-greece__footer {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    font-weight: 100;

    @include mq(l-tablet) {
        flex-direction: row;
    }

    @include mq(wide) {
        margin-top: 5%;
    }
}

.o-greece__how {
    line-height: 1.1;

    flex: 1 0 auto;

    width: 100%;

    @include mq(l-tablet) {
        width: 50%;
    }

    @include mq(wide) {
        letter-spacing: 1px;
        font-size: rem(16px);
    }
}

.o-greece__rules {
    flex: 1 0 auto;

    width: 100%;

    @include mq(l-tablet) {
        width: 50%;
    }
}

.o-greece__steps {
    width: 100%;
}

.o-greece__intro {
    @include mq(desktop) {
        max-width: 80%;
        margin: auto;
    }
}

.o-grecia__balloon {
    display: none;
    margin-top: 3rem;
    margin-left: 10px;

    @include mq(l-tablet) {
        display: inline-block;
    }
}

.o-greece__rules {
    text-align: center;
}

.o-greece__title {
    opacity: 0.8;
    font-weight: 100;
    font-size: 1.6rem;

    @include mq(s-tablet) {
        font-size: rem(34px);
    }
}