/* ==========================================================================
   ## Website Header
   ========================================================================== */


#header {
    position: static;
    //top: 0;
    //left: 0;
    //z-index: z-index(header);
    //width: 100%;
}

#header-logo {
    @include mq-prop(left, $canvas-gutter);
    position: fixed;
    top: 20px;
    z-index: z-index(modal) - 1;

    @include mq($until: l-tablet) {
        > img {
            width: 80%;
        }
    }

    @include mq(l-tablet) {
        z-index: z-index(overlay) + 1;
    }


}

#header-burger {
    @include mq-prop(right, $canvas-gutter);
    position: fixed;
    top: 40px;
    z-index: z-index(header);
    transition: all 250ms ease-out;
    transition-property: transform, opacity, z-index;
    z-index: z-index(nav) + 1;

    .home & {
        @include mq(l-tablet) {
            z-index: z-index(behind);
            opacity: 0;
            transform: translateX(50%);
        }
    }
}

.is-ui-blocked #header-burger:not(.is-active) {
    z-index: z-index(behind);
    opacity: 0;
    transform: translateX(50%);
}

@include mq($until: l-tablet) {

    .is-modal-open {

        #discover {
            opacity: 0 !important;
            visibility: hidden !important;
        }
    }
}

@include mq(l-tablet) {

    .home.is-modal-open #discover {
        opacity: 0 !important;
        visibility: hidden !important;
    }

    .home.is-modal-open #nav-main.is-open ~ #discover {
        opacity: 1 !important;
        visibility: visible !important;
    }
}


$header-search-gutter: (
    null: 20 + 120 + px,
    l-tablet: 40 + 120 + px
);

$header-search-font-size: 20px;

#header-search {
    @include mq-prop(left, $header-search-gutter);
    position: fixed;
    top: 30px;
    left: 110px;
    z-index: z-index(modal) - 1;
    font-size: font-size(20px);

    @include mq(l-tablet) {
        left: 150px;
        z-index: z-index(overlay) + 1;
    }
    font-size: rem($header-search-font-size);

    transition: all 250ms ease-out;
    transition-property: transform, opacity, z-index;

    &.is-invisible {
        z-index: z-index(behind);
        opacity: 0;
        visibility: visible;
        transform: translateX(50%);
        transition-delay: 0s, 0s, 300ms;
    }
}

