/* ==========================================================================

   Hero
   ====

   hero site

   ```
   <figure class="c-hero">
        <img src="http://unsplash.it/960/520?image=490" alt="placeholder to substitute" class="c-hero__image" />
        <figcaption>
            <h2 class="c-hero__title">
                Quando mangi <br>
                Müller mix, <br>
                cosa ti succede?
            </h2>
        </figcaption>
   </figure>
   ```
   ========================================================================== */

$hero-font-size: 72px !default;
$hero-line-height: 74px !default;

.c-hero {

    position: relative;
    text-align: center;
    margin: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    &.is-fadein{
        opacity: 1;
    }

    &__image {
        max-width: 100%;
        //height: 100%;
    }

    &__loop {
        max-width: 100%;
        @include mq(l-tablet) {
            height: 100%;
        }
    }

    @include mq(desktop) {
        max-width: 1400px;
        margin: 0 auto;
    }

    figcaption {
        height: 0;
        padding-bottom: 65%;
        transform: translate(10px, -25%);
        z-index: z-index(above);

        transition: opacity 0.75s $landing-easing-in, transform 1.2s $landing-easing-in;

        .o-btn {
            color: $color-light;
            background-color: $color-pink;
            display: block;
        }

        @include mq(s-tablet) {
            padding-bottom: 50%;
            transform: translate(40px, -30%);
        }

        @include mq(l-tablet) {
            height: 100%;
            padding-bottom: 0;
            display: flex;
            align-items: center;
            position: absolute;
            top: 0;
            left: -60px;
            height: 100%;
            opacity: 0;
            transform: translate(0, 20%);
            //transform: translate(0, 0);
        }

    }

    &__title {
        font-size: rem($hero-font-size / 2);
        line-height: rem($hero-line-height / 2);
        color: rgba($color-pink, 0.7);
        font-weight: 500;
        text-align: left;
        @include mq(s-tablet) {
            line-height: rem($hero-line-height);
            font-size: rem($hero-font-size);
        }

        @include mq(wide) {
            font-size: rem($hero-font-size * 1.5);
            line-height: rem($hero-line-height * 1.5);
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 85vh;
        background: $color-white;
        transform: translate(0, -100%);
        z-index: z-index(base);

        @include mq(l-tablet) {
            transform: translate(0, 0);
        }
    }


    .o-section__item.is-entering & {

        @include mq(l-tablet) {
            &::after {
                transition: transform 0.80s $landing-easing-in;
                transform: translate(0, -100%);
            }
            figcaption {
                transform: translate(0, 0);
                opacity: 1;
            }
        }
    }

    .o-section__item.is-visible & {

        @include mq(l-tablet) {
            &::after {
                display: none;
            }
            figcaption {
                transform: translate(0, 0);
                opacity: 1;
            }
        }
    }

    //.o-section__item.is-leaving & {
    //
    //    &::before {
    //        transition: transform 0.80s $landing-easing-out;
    //        transform: translate3d(0, 0, 0);
    //    }
    //
    //    figcaption {
    //        transition: opacity 0.6s $landing-easing-out, transform 1.2s $landing-easing-out;
    //        transform: translate3d(0, -20%, 0);
    //        opacity: 0;
    //    }
    //}

    //.o-section__item.is-current & {
    //    &::after {
    //        transform: translate3d(0, -100%, 0);
    //    }
    //}

}