/* ==========================================================================

   Icons
   ====

   Font Icons

   ```

   <span class="o-ico o-ico--heart"></span>

   ```
   ========================================================================== */

$icons: (
    micro: "\e928",
    cutlery: "\e920",
	minion: "\e929",
    info: "\e918",
    confirm: "\e916",
    video: "\e91c",
    pen: "\e91d",
    cam: "\e91e",
    giocaevinci: "\e91f",
    upload: "\e908",
    ecomm: "\e91a",
    ecommbold: "\e919",
    share: "\e914",
    speaker: "\e909",
    speaker-mute: "\e917",
    link: "\e915",
    arrow-down: "\e90c",
    arrow-right: "\e90d",
    arrow-top: "\e90e",
    arrow-left: "\e90f",
    pause: "\e910",
    arrow-dot-up: "\e911",
    arrow-dot-down: "\e90a",
    arrow-dot-left: "\e913",
    arrow-dot-right: "\e90b",
    play: "\e912",
    callout: "\e900",
    can: "\e901",
    close: "\e902",
    cursor: "\e903",
    facebook: "\e904",
    heart: "\e905",
    pinterest: "\e906",
    search: "\e907",
    no-gluten: "\e91b",
    pets: "\e921",
    star: "\e922",
    spoon: "\e927",
    phone: "\e926",
    package: "\e925",
    greece: "\e924",
    download: "\e923"
);

%o-ico {
    position: relative;
    //use !important to prevent issues with browser extensions that change fonts
    font-family: 'mullerico' !important;
    speak: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;

    // Better Font Rendering ===========
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.o-ico,
[data-ico]::before {
    @extend %o-ico;
}

// print icons
@each $iconname, $iconcontent in $icons {
    .o-ico--#{$iconname}::before,
    [data-ico~="#{$iconname}"]::before {
        content: $iconcontent;
    }
}


//position fixing

.o-ico--speaker::before {
    position: relative;
    left: -0.1em;
}
.o-ico--speaker-mute::before {
    position: relative;
    left: 0.25em;
}

.o-ico--heart::before {
    font-size: 0.7em;
}

.o-ico--can::before {
    font-size: 1.3em;
}

.o-ico--arrow-down::before,
.o-ico--arrow-dot-down::before {
    position: relative;
    top: 0.1em;
}

.o-ico--arrow-left::before,
.o-ico--arrow-right::before {
    font-size: 1em;
}

.o-ico--ecomm::before {
    font-size: 0.7em;
}

.o-ico--no-gluten {
    margin-right: 20px;
    color:#fff;
    position: relative;
    top: 15px;
}

.o-ico--no-gluten::before {
    font-size: 3.2em;
}

.o-control__ico.o-ico--giocaevinci{
    display: block;
    height: auto;
}


.o-ico--giocaevinci::before {
    color: $color-pink;
    position: relative;
    font-size: 56px;
    top: 2px;
}

.o-ico--video::before {
    font-size: 1em;
}
.o-ico--pen::before {
    font-size: 1em;
}
.o-ico--cam::before {
    font-size: 1em;
}
