
$gradientOptions: linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to( rgba(255, 255, 255, 0.1)), color-stop(0.5, #fff);


%text-small {
    text-transform: uppercase;
    font-family: $font-title;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 3px;
}

.o-indicator-text {
    @extend %text-small;
    display:inline-block;
    text-align: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
    z-index: z-index('above');
    padding: 0 100px;
    background-size: 100px 100%;
    background: gradient($gradientOptions);
    background: -webkit-gradient($gradientOptions);
    background-clip: text;
    -webkit-background-clip: text;
    animation-name: wave;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    text-align: center;
    transition: color 0.8s ease;
    opacity: 0;

    @include mq(desktop) {
        padding: 0 140px;
        background-size: 150px 100%;
    }

    &:hover {
        color: rgba(255, 255, 255, 1);
    }


}


.o-indicator-cursor{
    opacity: 0;
    transition: opacity 0.4s ease-out;

    &.show-text {
        opacity: 1;
    }
}


@keyframes wave {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

#indicator {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    display:none;

    @include mq(desktop) {
        display:block;

    }



}