
.info-brand {

}

.img-brand {
    display:block;
    background-position: center;
    background-repeat: no-repeat;
    width: 95px;
    height: 40px;
    margin: 25px auto 10px;

    &.img-brand--frozen{
        background-image:url('/assets/images/frozen.png');
    }

    &.img-brand--marvel{
        background-image:url('/assets/images/marvel.png');
    }

    &.img-brand--disney {
        background-image:url('/assets/images/disney.png');
        width: 160px;
    }
}

.copy-brand {
    font-size: 11px;
}