/* ==========================================================================

   Intro
   ====

   Intro

   ```
   <article class="c-intro">
        <h3 class="c-intro__sub">Vestibulum Egestas</h3> <!-- 16 / 900 -->
        <h2 class="c-intro__main text__title"> <!-- 46 -->
                Cum <mark>sociis nato</mark> penatibus et magnis
                dis <em>parturient</em> montes <strong>nascetur ridiculus</strong> mus
                nullam id dolor id nibh <mark>ultricies vehicula</mark> elit.
        </h2>
        <div class="c-intro__text"> <!-- 24 -->
            <p>
                Praesent commodo cursus magna, vel scelerisque nisl consectetur et
            </p>
            <p>
                raesent commodo cursus magna, vel scelerisque. nisl consectetur et.
            </p>
        </div>
   </article>
   ```
   ========================================================================== */

$font-size-intro-sub: 16px !default;
$font-size-intro-main: 38px !default;
$font-size-intro-text: 24px !default;

.c-intro {
    max-width: 1280px;
    margin: 0 auto;

    &__sub {
        //@include mq($until: l-tablet) {
        //    opacity: 1;
        //    transform: translate3d(0, 0, 0);
        //}
        position: relative;
        padding: 30px 0;
        font-weight: 900;
        color: $color-pink;
        font-size: rem($font-size-intro-sub / 1.5);
        text-transform: uppercase;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 30px;
            height: 1px;
            background-color: $color-black;
        }
        //opacity: 0;
        //transform: translate3d(0, 20px, 0);
        //transition: opacity 0.85s $landing-easing-in, transform 0.85s $landing-easing-in;
        @include mq(s-tablet) {
            font-size: rem($font-size-intro-sub);
        }
    }

    &__main {
        //@include mq($until: l-tablet) {
        //    opacity: 1;
        //    transform: translate3d(0, 0, 0);
        //}
        font-weight: 100;
        //font-size: rem($font-size-intro-main / 2);
        //line-height: rem($font-size-intro-main / 1.5);
        color: $color-gray;

        strong {
            font-weight: 500;
            color: inherit;
            //color: $color-gray-light
        }

        em {
            font-style: italic;
            color: $color-gray-light;
        }

        mark {
            color: $color-gray;
            background: $color-yellow-light;
            position: relative;

            //@include mq(desktop) {
            //    position: relative;
            //    background: none;
            //
            //    &::after {
            //        content: '';
            //        position: absolute;
            //        left: 0;
            //        top: 0;
            //        bottom: 0;
            //        right: 0;
            //        width: 100%;
            //        background-color: $color-yellow-light;
            //        z-index: z-index(behind);
            //        transition: width 0.3s $landing-easing-in;
            //        @include mq(l-tablet) {
            //            width: 0;
            //        }
            //    }
            //}

            &:first-of-type {
                &::after {
                    transition-delay: 0.6s;
                }
            }
            &:last-of-type {
                &::after {
                    transition-delay: 0.9s;
                }
            }
        }
        //opacity: 0;
        //transform: translate3d(0, 20px, 0);
        //transition: opacity 0.85s $landing-easing-in, transform 0.85s $landing-easing-in;
        //@include mq(s-tablet) {
        //    font-size: rem($font-size-intro-main);
        //}
        //@include mq(s-tablet) {
        //    font-size: rem($font-size-intro-main / 1.2);
        //    line-height: rem($font-size-intro-main);
        //}
        //@include mq(l-tablet) {
        //    font-size: rem($font-size-intro-main / 1.7);
        //    line-height: rem($font-size-intro-main / 1.2);
        //}
        //@include mq(desktop) {
        //    font-size: rem($font-size-intro-main / 1.2);
        //    line-height: rem($font-size-intro-main);
        //}
        //@include mq(wide) {
        //    font-size: rem($font-size-intro-main);
        //    line-height: rem($font-size-intro-main * 1.2);
        //}


        font-size: rem($font-size-intro-main / 1.5);
        line-height: rem($font-size-intro-main / 1.1);
        //font-weight: 100;
        //color: $color-gray;
        //padding: 0 10px;

        @include mq(s-tablet) {
            //padding: 0;
            font-size: rem($font-size-intro-main / 1.3);
            line-height: rem($font-size-intro-main / 1.1);
        }

        @include mq(desktop) {
            font-size: rem($font-size-intro-main);
            line-height: rem($font-size-intro-main * 1.2);
        }

    }


    &__text {
        //@include mq($until: l-tablet) {
        //    opacity: 1;
        //    transform: translate3d(0, 0, 0);
        //}
        font-size: rem($font-size-intro-text / 1.5);
        line-height: rem($font-size-intro-text / 1.5);
        color: rgba($color-gray-light, 0.8);
        //opacity: 0;
        //transform: translate3d(0, 20px, 0);
        //transition: opacity 0.85s $landing-easing-in, transform 0.85s $landing-easing-in;
        @include mq(s-tablet) {
            font-size: rem($font-size-intro-text);
            line-height: rem($font-size-intro-text);
        }
        @include mq(l-tablet, medium) {
            font-size: rem($font-size-intro-text / 1.5);
            line-height: rem($font-size-intro-text / 1.5);
        }
        //@include mq(desktop) {
        //    font-size: rem($font-size-intro-text);
        //    line-height: rem($font-size-intro-text);
        //}
    }

    .o-section__item.is-entering & {

        .c-intro__sub {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }

        .c-intro__main {
            transition-delay: 0.15s;

            opacity: 1;
            transform: translate3d(0, 0, 0);
        }

        .c-intro__text {
            transition-delay: 0.3s;
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }

    }

    //$landing-easing-out: cubic-bezier(0.550, 0.085, 0.680, 0.530);
    //
    //.o-section__item.is-leaving & {
    //
    //    .c-intro__sub {
    //        transition: opacity 0.5s $landing-easing-out, transform 0.65s $landing-easing-out;
    //        transition-delay: 0.3s;
    //
    //        opacity: 0;
    //        transform: translate3d(0, 20px, 0);
    //    }
    //
    //    .c-intro__main {
    //        transition: opacity 0.5s $landing-easing-out, transform 0.65s $landing-easing-out;
    //        transition-delay: 0.15s;
    //
    //        opacity: 0;
    //        transform: translate3d(0, 20px, 0);
    //    }
    //
    //    .c-intro__text {
    //        transition: opacity 0.5s $landing-easing-out, transform 0.65s $landing-easing-out;
    //
    //        opacity: 0;
    //        transform: translate3d(0, 20px, 0);
    //    }
    //
    //}
    //
    //.o-section__item.is-current & {
    //    .c-intro__main {
    //        mark {
    //            &::after {
    //                width: 100%;
    //            }
    //        }
    //    }
    //}
}
