/* ==========================================================================

   Label
   ====

   Label

   ```
   <span class="o-label">New</span>
   ```
   ========================================================================== */

$label-font-size: 9px !default;

.o-label {
    display: inline-block;
    padding-top: em(1px, $label-font-size);//subpixel fixing...
    padding-right: em(10px, $label-font-size);
    padding-left: em(10px, $label-font-size);
    border: 2px solid currentColor;
    border-radius: em(16px, $label-font-size);
    color: $color-yellow;
    font-size: rem($label-font-size);
    font-weight: 700;
    line-height: em(16px, $label-font-size);
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

/* ==========================================================================
   ## BLOCK MODIFIERS
   ========================================================================== */

/* ==========================================================================

   ### Loud Label

   ```
   <span class="o-label o-label--loud">New</span>
   ```
   ========================================================================== */

.o-label--loud {
    border: $color-yellow;
    background-color: $color-yellow;
    color: $color-blue;
}

/* ==========================================================================

   ### Big Label

   ```
   <span class="o-label o-label--big">New</span>
   ```
   ========================================================================== */

.o-label--big {
    line-height: 2.2em;
}


/* ==========================================================================

   ### Loud Label

   ```
   <span class="o-btn__label o-btn__label--discover">Scopri i Prodotti</span>
   ```
   ========================================================================== */

.o-btn__label--discover{
    position:relative;
    top:1px;
}