$lb-title-font-size: 46px !default;
$lb-sub-font-size: 21px !default;
$lb-author-font-size: 18px !default;
$lb-text-font-size: 38px !default;
$lb-bollo-font-size: 14px !default;
$lb-button-font-size: 16px !default;
$lb-recipe-font-size: 35px !default;
$lb-recipe-excerpt-font-size: 35px !default;
$lb-new-font-size: 28px !default;

@keyframes lbPulse {

    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    50% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.2);
    }

}

@keyframes lbRotate {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

/*

	LANDING BIANCO

 */

.lb-pdf-generation {
    font-size: 70%;
}

.walldetail-bianco #loader {
    display: none;
}

body[class*="-bianco"] {

    background-color: $color-light;

    @include mq(desktop) {
        background-image: url('/assets/images/landing-bianco/pattern100.jpg');
        background-repeat: repeat;
    }

    overflow: visible;

    #header,
    #footer {
        @media only print{
            display: none;
        }
    }

    .o-btn--loud {
        background: $color-blue;
        color: $color-white;
    }

    .o-pagination {
        margin-bottom: 80px;
    }

    #cta-ricetta {
        margin-bottom: 3em;

        @include mq(s-tablet) {
            margin-bottom: 6em;
        }
    }

    .c-taxonomy {

        @include mq(s-tablet){
            margin-top: 100px;
        }

        &__item {

            margin-bottom: 10px;

            &.is-active {
                color: $color-light-blue;
                opacity: 1;
            }

            color: $color-blue-sw !important;
            opacity: 0.5;

            .no-touchevents &:hover {
                opacity: 1;
            }
        }
    }

    .o-burger {
        $burger-color: rgba($color-gray, 0.5);

        &::before,
        &::after {
            background-color: $burger-color;
        }

        .o-burger__ico {
            background-color: $burger-color;
        }
    }

    #header-search {
        color: rgba($color-gray, 0.5);
    }

    .c-post {
        opacity: 1;
        // transform: none;
        figure {
            margin-bottom: 80px;
        }
        &--push-down {
            figure {
                margin-top: 40px;
                margin-bottom: 50px;
            }
        }
    }


    .o-upload {
        .o-control--stroke .o-ico {
            color: $color-blue-sw;
        }

        .o-control--stroke {
            @include mq(s-tablet) {
                border: 2px solid rgba($color-blue, 0.4);
            }
        }
    }

    .o-upload__input {
        color: $color-blue;
    }

    .o-upload__label {
        color: $color-blue;
    }

}

.lb {

    background: red;
    &-top {
        position: relative;
        margin: 0;
        @media print{
            margin-top: -50px!important;
        }
        @include mq(l-tablet){
            margin: 70px 0 0 0;
        }
    }

    &-title {
        margin-top: 0;
        margin-bottom: 0.5em;
        color: $color-light-blue;
        font-size: rem($lb-title-font-size / 1.5);
        font-weight: 500;
        text-align: center;

        @include mq(s-tablet) {
            font-size: rem($lb-title-font-size);
        }
    }

    &-sub {

        color: $color-gray;
        font-weight: 100;
        text-align: center;

        font-size: rem($lb-sub-font-size / 1.5);
        @include mq(s-tablet) {
            font-size: rem($lb-sub-font-size);
        }

    }

    &-post {

        position: relative;
        float: left;

        .c-post__frame {
            max-height: none;
            position: relative;
        }

        .c-post__frame::before {
            background-image: linear-gradient(to bottom,rgba(255,255,255,.8) 0,rgba(237,237,237,0) 35%);
        }

        figure {
            position: relative;
            margin-bottom: 40px;
        }

        .c-post__bollo {

            position: absolute;
            right: 10px;
            bottom: 10px;
            z-index: 10;
            opacity: 0;
            visibility: hidden;
            width: 121px;
            height: 121px;
            padding-top: 25px;
            border-radius: 50%;
            background: $color-blue;
            color: #fff;
            font-size: rem($lb-bollo-font-size);
            font-weight: 500;
            text-align: center;

            transform: scale(0.9);
            transition: all 0.3s;

            > img {
                opacity: 0;
                width: 60px;
                margin-top: 10px;
                transform: scale(0.9);
                transition: all 0.3s;
            }
        }

        .c-post__title {
            color: $color-blue-sw;

            @include mq($until: l-tablet) {
                font-size: 1.2rem;
                line-height: 1.2rem;
            }
        }

        .c-post__label {
            &:after {
                background: #7582bf;
            }
        }

        .no-touchevents & {

            &:hover {
                //text-align: center;
                .c-post__label {
                    color: $color-blue-sw;
                }
                .c-post__frame:before {
                    background: rgba($color-blue-sw, 0.7) !important;
                }
                .c-post__bollo {
                    opacity: 1;
                    visibility: visible;
                    transform: scale(1);
                    > img {
                        opacity: 1;
                        transform: scale(1);
                        transition-delay: 0.1s;

                    }
                }
            }

            &:not(.c-post--poster) {

                .c-post__caption {
                    width: calc(100% - 40px);
                    max-width: none;
                    //text-align: center;
                }

            }

            &.c-post--poster {

                .c-post__caption {
                    top: 40% !important;
                    left: -40px;
                }

                &:hover .c-post__caption {
                    left: 50%;
                }

            }

        }

        &--1 {
            width: 100%;
            @include mq(s-tablet) {
                width: 50%;
            }
            @media (min-width: 1024px) {
                width: calc(100% / 3);
            }
        }

        &--2 {
            width: 100%;
            @media (min-width: 1024px) {
                width: calc(100% / 3 * 2);
            }
        }

    }

    &-cta {
        position: absolute;
        right: 40px;
        bottom: 65px;
        @include mq(s-tablet){
            bottom: 85px;
        }


        @include mq(l-desktop){
            bottom: -25px;
        }

        &_icon {
            width: 60px;
            height: 60px;
            position: relative;
            display: inline-block;
            border-radius: 50%;
            background: #f5f5f5;
            line-height: 55px;
            z-index: 2;

            &:before,
            &:after {
                position: absolute;
                top: 50%;
                left: 50%;
                display: block;
                width: 76px;
                height: 76px;
                margin-top: -38px;
                margin-left: -38px;
                border: 2px solid #f5f5f5;
                border-radius: 50%;
                content: '';
                animation: lbPulse 1s linear infinite;
                transition: all 0.5s;
            }

            &:after {
                animation-delay: 1s;
            }

            > img {
                width: 33px;
                vertical-align: middle;
            }
        }

        &_text {

            position: absolute;
            top: 4px;
            right: 20px;
            z-index: 1;
            display: inline-block;
            opacity: 0;
            visibility: hidden;
            width: 190px;
            height: 50px;
            padding: 6px 0 0 35px;
            border-radius: 25px;
            background: $color-blue-sw;
            font-size: rem($lb-button-font-size);
            font-weight: 500;
            text-align: left;
            transform: translateX(10px);
            transition: all 0.3s;
        }

        .no-touchevents &:hover {

            .lb-cta_text {
                opacity: 1;
                visibility: visible;
                transform: translateX(0);
            }

        }

    }

}

.lb-cta_open {
    position: relative;
    margin-right: -130px;
    left: auto;
    right: auto;

    .lb-cta_text {
        opacity: 0.7;
        visibility: visible;
        transform: translateX(0);
        top: -13px;
    }
}


.o-ingredient {
    position: fixed;
    opacity: 0;
    visibility: hidden;

    @include mq($until: desktop) {
        display: none;
    }
}

.o-ingredient--left {
    left: -5%;
}

.o-ingredient--right {
    right: -5%;
}

#left-1 {
    top: 15%;
    transform: translateX(-20%);
}

#left-2 {
    top: 35%;
    transform: translateX(-20%);

    > img {

        max-height: 380px;

        @include mq(wide) {
            max-height: 550px;
        }
    }
}

#right-1 {
    top: 10%;
    transform: translateX(20%);
    z-index: 5;

    > img {

        max-height: 380px;

        @include mq(wide) {
            max-height: 480px;
        }
    }
}

#right-2 {
    top: 25%;
    transform: translateX(20%);

    > img {

        max-height: 520px;

        @include mq(wide) {
            max-height: 680px;
        }
    }
}


#landing-bianco-masonry {
    // overflow: hidden;
}

body.social-wall {
    overflow: scroll;
}

.no-touchevents .lb-post {
    //transition: color 150ms $landing-easing-in;
    figcaption {
        transition: all 500ms $post-hover-curve;
        //transition-delay: 100ms;
    }

    .c-post__frame::before {
        transition: all 500ms $post-hover-curve;
        //transition-delay: 100ms;
    }

    .c-post__abstract::before {
        transition: opacity 300ms $post-hover-curve;
        transition-delay: 100ms;
    }

    .c-post__discover {
        transition: all 300ms linear;
        //transition-delay: 100ms;
    }

    .c-post__title {
        transition: all 300ms $post-hover-curve;
        transition-delay: 100ms;

        font-size: rem(30px);
        line-height: rem(30px);

        @include mq(false, desktop){

            font-size: rem(20px);
            line-height: rem(20px);

        }

    }

    .c-post__label {
        margin-right: 10px;
        transition: all 300ms $post-hover-curve;
        transition-delay: 100ms;

        &::after {
            transition: all 300ms $post-hover-curve;
            transition-delay: 100ms;
        }
    }

    &:hover {

        figcaption{
            @include mq(l-desktop){
                top: 40%!important;
            }
            @include mq(false, l-desktop){
                top: 30%!important;
            }
        }

        .c-post__frame {

            &::before {
                background-image: none;
            }
        }

        .c-post__title {
            color: $color-light;
            transition-delay: 0ms;
        }

        .c-post__abstract::before {
            opacity: 1;
        }

        .c-post__discover {
            opacity: 1;
            transition-delay: 400ms;
        }

        .c-post__label {
            color: $color-light;
        }

    }

    &:not(.c-post--poster) {
        &:hover {
            figcaption {
                top: 50%;
                transform: translate(20px, -50%);
            }
        }
    }

    &.c-post--poster {
        &.c-post--testo:hover {
            figcaption {
                top: 50%;
                left: 0;
                transform: translate(20px, -50%);
            }
        }
    }

}

.lb-recipe {

    position: relative;
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    color: #a2a2a2;
    font-size: rem($lb-recipe-font-size * 0.7);
    font-weight: 100;

    @include mq(s-tablet){
        font-size: rem($lb-recipe-font-size);
    }

    p{
        @media print{
            margin-top: 1em;
        }

    }

    @media print{
        font-size: rem($lb-recipe-font-size * 0.5);
    }

    > div {
        padding-right: 20px;
        padding-left: 20px;
        //background: #fff;
    }

    .lb-top {
        padding-bottom: 40px;
    }

    strong {
        color: #193591;
        font-weight: 300;
    }

    &_image {
        text-align: center;
        //img {
        //    width: 100%;
        //    height: auto;
        //}

        img {
            max-width: 100%;
        }
    }

    &_excerpt {
        font-size: rem($lb-recipe-excerpt-font-size * 0.7);
        font-style: italic;

        @include mq(s-tablet){
            font-size: rem($lb-recipe-excerpt-font-size);
        }

        strong {
            font-style: normal;
        }
    }

    &_row {
        @include clearfix();
        @include mq(l-tablet) {
            margin: 0 -20px;
        }
    }

    &_col1 {
        @include mq(l-tablet) {
            float: left;
            width: 60%;
            padding: 0 20px;
        }
    }

    &_col2 {
        @include mq(l-tablet) {
            float: left;
            width: 40%;
            padding: 0 20px;
        }
    }

    &_label {

        margin-top: 3em;
        margin-bottom: 1em;
        color: #193591;
        font-size: rem(16px);
        font-weight: 900;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        @media print{
            margin-top: 1.5em!important;
        }

    }

    &_diff {
        margin-top: 25px;
        @media print{
            margin-top: 0;
            margin-bottom: 15px;
        }
    }

    &_block {
        @include clearfix();
    }

    &_share {
        text-align: center;
        padding: 50px 0 50px 0;
        &-item {
            font-size: 20px;
            padding: 15px 25px;
            color: #2037a8;
            font-weight: 500;
            @include mq(s-tablet) {
                display: inline-block;
                padding: 0 25px;
            }
            a {
                display: inline-block;
                padding: 0 25px;
                opacity: 0.5;
                .no-touchevents &:hover {
                    opacity: 1;
                }
            }
        }

        @media only print{
            display: none;
        }

    }

    &_navigation {

        @include clearfix();
        padding: 30px 0 100px 0;
        text-align: center;

        &-prev,
        &-next,
        &-all {
            display: inline-block;
            width: 50px;
            height: 50px;
            border-radius: 25px;
            background: #e6e6e6;
            vertical-align: top;
            transition: all 0.3s;

            .no-touchevents &:hover {
                background: $color-blue-sw;
            }

        }

        &-all {
            width: 215px;
            padding-top: 14px;
            background: $color-blue-sw;
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            @include mq(false, mobile) {
                margin-top: 20px;
            }
        }

        &-prev {
            float: left;
        }

        &-next {
            float: right;

            img {
                transform: rotate(180deg);
            }
        }

        @media only print{
            display: none;
        }

    }

}

#recipe-detail-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: all 0.3s;

    div {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border: 4px solid rgba(0, 0, 0, 0.05);
        border-radius: 50%;
        &:before {
            position: absolute;
            top: -4px;
            right: -4px;
            bottom: -4px;
            left: -4px;
            display: block;
            border-left: 4px solid $color-blue-sw;
            border-radius: 50%;
            content: '';
            animation: lbRotate 1s linear infinite;
        }
    }
    &.hidden {
        z-index: -1;
        opacity: 0;
        visibility: hidden;

        div {
            animation: none;
        }
    }

}

.lb-form {

    position: relative;
    padding: 0 20px 40px 20px;
    font-size: rem(24px);
    color: #c6c6c6;

    @include mq(l-tablet) {
        padding: 0 80px 100px 80px;
    }

    &--overlay {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        width: 100%;
        height: 100%;
        background: rgba(#fff, 0.8);
        transition: all 0.3s;
    }

    &.show-overlay .lb-form--overlay {
        opacity: 1;
        visibility: visible;
    }

    &_title {
        color: $color-blue-sw;
        font-size: rem($lb-new-font-size / 1.5);
        font-weight: 700;

        @include mq(s-tablet) {
            font-size: rem($lb-new-font-size);
        }
    }

    &_types {
        @include clearfix();
        position: relative;
        padding-bottom: 60px;

        > div {
            @include mq(mobile) {
                float: left;
                width: 50%;
            }
            @include mq(s-tablet) {
                width: (100% / 3);
                padding-right: 10px;
            }

            //&:nth-child(1),
            //&:nth-child(4) {
            //    @include mq(s-tablet) {
            //        width: 40%;
            //    }
            //}
        }
    }

    &_products{

        @include clearfix();
        padding-bottom: 40px;

        .l-form_select{

            margin-bottom: 20px;

            @include mq(s-tablet){
                width: 50%;
                float: left;
                padding-right: 20px;
            }

            label{

                font-size: 12px;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                color: #193591;
                font-weight: 900;
                margin-bottom: 15px;
                display: block;

            }

            select {
                color: #333;
            }

            &.disabled{

                label{
                    color: #b5b5b5;
                }
                .sod_select{

                    opacity: 0.5;

                }
            }

        }

    }

    &_radio {
        position: relative;
        padding: 20px 0;
        min-height: 40px;
        font-size: rem(20px);
        color: rgba(#a2a2a2, 0.7);

        .has-error > & {
            color: inherit;
        }

        input {
            position: absolute;
            top: 20px;
            left: 0;
            opacity: 0;
            width: 40px;
            height: 40px;
        }
        label {
            position: relative;
            display: block;
            padding-left: 60px;
            line-height: 35px;
            cursor: pointer;

            span {
                display: inline-block;
                line-height: normal;
                vertical-align: middle;
            }

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 40px;
                height: 40px;
                border: 2px solid #b5b5b5;
                border-radius: 50%;
                content: '';
            }

            &:after {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                opacity: 0;
                width: 40px;
                height: 40px;
                background: url('../images/landing-bianco/radio-checked.png') center no-repeat;
                background-size: 22px auto;
                content: '';
                transform: scale(0.9);
                transition: all 0.3s;
            }

        }

        input:checked ~ label {
            color: $color-blue-sw;

            &:after {
                opacity: 1;
                transform: scale(1);
            }
        }

    }

    &_select{

        width: 49%;
        display: inline-block;

    }

    &_description {
        padding-bottom: 50px;
        color: #818181;
        line-height: 1.4;
        font-size: rem(45px / 1.5);
        font-weight: 300;
        cursor: default;

        @include mq(s-tablet) {
            font-size: rem(45px);
        }

        .br-hidden {
            @include mq(s-tablet) {
                display: none;
            }
        }

        span.fill-part {
            font-weight: 100;
            font-style: italic;
            color: #adadad;
            display: inline;
            position: relative;
            z-index: 1;
            background: #eef1ff;
            cursor: text;

            span.fill-part-input {
                position: absolute;
                background: #eef1ff;
                top: -5px;
                left: -5px;
                height: 65px;
                width: 300px;
                padding: 1px 5px;
                opacity: 0;
                visibility: hidden;
                line-height: 55px;
                transition: all 0.3s;

                &.fill-part--first {
                    @include mq(false, s-tablet) {
                        left: -130px;
                    }
                }

                button {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 45px;
                    height: 100%;
                    line-height: 21px;
                    text-align: center;
                    appearance: none;
                    border: none;
                    background: none;
                    display: inline-block;
                    img {
                        width: 15px;
                        transform: rotate(180deg);
                        display: inline-block;
                        vertical-align: middle;
                    }
                    // width: 15px;
                    // transform: translateY(-50%) rotate(180deg);
                    // position: absolute;
                    // top: 50%;
                    // right: 15px;
                }

                input {
                    width: calc(100% - 50px);
                    apparance: none;
                    background: none;
                    border: none;
                    color: #adadad;
                    font-size: rem(35px / 1.5);

                    @include mq(s-tablet) {
                        font-size: rem(35px);
                    }

                }

            }

            &.show-input {
                z-index: 10000;
                background: #fff;
                color: rgba(#818181, 0.1);
                > span {
                    opacity: 1;
                    visibility: visible;
                }

            }

        }

    }

    &_difficulty {

        @include clearfix();
        padding-bottom: 50px;
        > div {
            margin-right: 23px;
            @include mq(s-tablet) {
                display: inline-block;
            }

            &:last-child {
                margin-right: 0;
            }

            .lb-form_radio {
                label {
                    // font-size: rem(35px);
                    font-size: 1.5rem;
                    white-space: nowrap;
                    padding-left: 0;
                    &:before {
                        //background: url(../images/landing-bianco/difficolta-sprite.gif) center top no-repeat;
                        border: none;
                        border-radius: 0;
                        //background-size: 101px auto;
                        height: 60px;
                        position: relative;
                        background-repeat: no-repeat;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 10px;
                        @include mq(false, s-tablet) {
                            margin-right: 30px;
                        }

                    }
                    &:after {
                        display: none;
                    }
                }

                &-1 label:before {
                    background-image: url(../images/landing-bianco/difficolta-1.svg);
                    //width: 39px;
                    width: 60px;
                }
                &-2 label:before {
                    background-image: url(../images/landing-bianco/difficolta-2.svg);
                    //width: 70px;
                    //background-position: center -61px;
                    width: 80px;
                }
                &-3 label:before {
                    background-image: url(../images/landing-bianco/difficolta-3.svg);
                    width: 110px;
                    //background-position: center -121px;
                }

            }

        }

    }

    &_textarea {
        border: none;
        width: 100%;
        border-bottom: 1px solid #a2a2a2;
        padding-bottom: 50px;
        margin-bottom: 50px;
        resize: none;
        color: #818181;
        outline: 0;
        background: transparent;

        &[rows="1"] {
            padding-bottom: 20px;
        }

        @include placeholder() {
            color: #e3e3e3;
            font-weight: 100;
            font-style: italic;
        }
    }

    &_bottom {
        @include clearfix();
        font-size: 11px;
        padding-bottom: 30px;
        > div {
            @include mq(s-tablet) {
                width: 50%;
                float: left;
            }
            padding: 10px;
            color: $color-blue-sw;
            font-weight: 500;
            a {
                color: $color-blue-sw;
                text-decoration: underline;
            }
            &:last-child {
                @include mq(s-tablet) {
                    float: right;
                    display: inline-block;
                    width: auto;
                }
            }
        }

        .lb-form_radio-privacy {

            font-size: 11px;
            color: $color-blue-sw;
            padding: 0;

            input {
                width: 20px;
                height: 20px;
                top: 0;
            }

            label {
                line-height: 13px;
                padding-left: 35px;
                span {
                    line-height: normal;
                }
                &:before {
                    width: 20px;
                    height: 20px;
                    border-radius: 0;
                    border: 1px solid $color-blue-sw;
                }
                &:after {
                    width: 20px;
                    height: 20px;
                    background: url(../images/landing-bianco/radio-checked-privacy.png) center no-repeat;
                    background-size: 8px auto;
                }
            }

        }

        .lb-form_radio-file {
            position: relative;
            label {
                padding-left: 70px;
                line-height: 52px;
                color: #a6afdc;
                white-space: nowrap;

                &:before {
                    width: 52px;
                    height: 52px;
                    opacity: 0.4;
                    border-color: $color-blue-sw;
                    background: url(../images/landing-bianco/upload-image.png) center no-repeat;
                    background-size: 21px auto;
                }

                span {
                    line-height: 0.6;
                    width: 100%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    padding: 5px 0;
                }
                strong {
                    color: $color-blue-sw;
                }
                small {
                    font-size: 60%;
                    color: #a6afdc;
                }
            }
            input {
                width: 100%;
                height: 100%;
            }
            &.filled {
                label {
                    color: $color-blue-sw;
                    &:before {
                        opacity: 1;
                    }
                }
            }
        }

        .o-btn {
            margin-top: 20px;
            border: 2px solid $color-blue-sw;
            padding: 0 30px 50px 30px;
            color: $color-blue-sw;
        }

    }

    &_required {
        color: red;
        font-size: 14px;
        font-weight: 700;
        display: none;
        padding-bottom: 10px;
        &._show {
            display: block;
        }
    }

}