#campaign-mix {

    $error-color: #ffdb6f;

    .has-error {
        color: $error-color;

        .o-form__field {
            color: $error-color;
        }
        .o-form__label {
            color: $error-color;
        }
    }

    textarea.o-form__error {
        transform: translateY(1px);
        @include mq(desktop) {
            transform: translateY(4px);
        }
    }

    .o-form__group--checkboxes {

        &.has-error {
            .o-checkbox {
                color: $error-color;
                background-color: $error-bg;
                border: 1px solid $error-border;
            }
        }
        &.has-success {
            .o-checkbox {
                color: $success-color;
                background-color: $success-bg;
                border: 1px solid $success-border;
            }
        }
    }

    .o-upload {

        .o-control--stroke {
            border-color: $color-bordeaux;
            .o-ico {
                color: $color-bordeaux;
            }
        }
        .o-upload__label {
            color: $color-bordeaux;
        }

    }

    %upload-active-state {

        .o-control--stroke {
            border-color: $color-light;

            .o-control__ico {
                color: $color-light;
            }

        }

        .o-upload__hint {
            top: 0;
            opacity: 0.5;
            transform: translateY(-20%) scale(12px / $upload-hint-font-size);
            color: $color-light;
        }

        //.o-upload__label {
        //    color: $color-light;
        //}

        .o-upload__ext {
            opacity: 0.5;
            visibility: visible;
            color: $color-light;
        }

        .o-upload__filename {
            opacity: 1;
            visibility: visible;
            color: $color-light;
        }
    }

    .no-touchevents .o-upload:hover,
    .o-upload.is-filled {
        @extend %upload-active-state;
    }

    .o-pag {

        @include mq($until: desktop)

    }

}

body.campaign-mix:not(.is-ui-blocked),
body.wall-mix:not(.is-ui-blocked),
body.wall-bianco:not(.is-ui-blocked),
body.walldetail-mix:not(.is-ui-blocked),
body.walldetail-bianco:not(.is-ui-blocked),
body.campaign-bianco:not(.is-ui-blocked) {


    @include mq($until: desktop) {

        overflow: auto;
    }

    //.c-cover {
    //
    //    visibility: hidden;
    //    opacity: 0;
    //    z-index: z-index(behind);
    //}

    .o-burger {
        $burger-color: rgba($color-gray, 0.5);

        &::before,
        &::after {
            background-color: $burger-color;
        }

        .o-burger__ico {
            background-color: $burger-color;
        }
    }

    #footer {
        color: rgba($color-gray, 0.5);
    }

    #footer-controls {
        .o-control {
            border-color: rgba($color-gray, 0.5);
            color: rgba($color-gray, 0.5);
        }
    }

    #header-search {
        color: rgba($color-gray, 0.5);
    }

}

#scroll-down {
    color: $color-pink;
    border-color: $color-pink;
    position: fixed;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: auto;
    transition: all 150ms;

    //animation: bounce 2s infinite;
}

//@keyframes bounce {
//    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
//    40% {transform: translateY(-15px);}
//    60% {transform: translateY(-7px);}
//}

.is-ui-blocked #scroll-down {
    visibility: hidden;
    opacity: 0;
}

body.campaign-mix,
body.wall-mix,
body.walldetail-mix,
body.wall-bianco,
body.walldetail-bianco,
body.contests,
body.campaign-bianco {

    .c-cover {
        opacity: 0;
        visibility: hidden;
    }

}