/* ==========================================================================

   Link Field
   ====

   link field

   ```
    <div class="o-link">
        <button class="o-control o-control--stroke">
            <span class="o-control__ico o-ico o-ico--link"></span>
        </button>
        <input id="attachment" type="file" class="o-link__input">
        <label for="attachment" class="o-link__label">
            <span class="o-link__hint">carica un file</span>
            <span class="o-link__ext">(formati: pdf, jpg, png, tiff)</span>
            <span class="o-link__filename"> nomefile-selezionato.ext </span>
        </label>
    </div>
   ```
   ========================================================================== */

$link-label-font-size: 16px !default;

.o-link {
    position: relative;
    overflow: hidden;
    margin: 10px 0;

    .o-control--stroke {
        border-color: $color-bordeaux;
        float: left;
        .o-ico {
            color: $color-bordeaux;
        }
    }

    &__input {
        float: left;
        width: 50%;
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 22px 0 0 20px;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        background: transparent;
        letter-spacing: 1px;
        font-size: rem($form-field-font-size / 1.5);
        display: block;
        border: none;
        border-radius: 0;
        appearance: none;

        &:focus {
            outline: none;
        }
    }

    &__label {
        cursor: pointer;
        position: relative;
        display: inline-block;
        float: left;
        margin-top: 15px;
        width: 50%;

        span {
            padding-left: 10px;
            font-size: rem($link-label-font-size);
            color: $color-bordeaux;
            display: block;
        }
    }
}

/* ==========================================================================
   ## States
   ========================================================================== */

.no-touchevents .o-link {
    .o-ico,
    .o-link__link,
    .o-link__label,
    .o-link__label::after,
    .o-link__label span {
        transition: all 150ms ease-out;
    }
}

/* ==========================================================================

   ### Upload selected

   ```
   <div class="o-link o-control o-control--stroke is-active">
        <span class="o-ico o-ico--link"></span>
        <input id="attachment" type="file" class="o-link__input">
        <label for="attachment" class="o-link__label">
            carica un file
        </label>
    </div>
   ```
   ========================================================================== */

%link-active-state {
    .o-control--stroke {
        //margin-right: 10px;
        border-color: $color-light;
        .o-ico {
            color: $color-light;
        }
    }

    .o-link__input {
        float: left;
        color: $color-light;
        position: relative;
        margin-right: -100%;
        opacity: 1;
    }

    .o-link__label {
        padding: 6px 0;
        pointer-events: none;
        display: inline-block;
        user-select: none;
        span {
            transform-origin: 0 0;
            color: $color-light-50;
            transform: translate3d(10px, -18px, 0) scale3d(0.9, 0.9, 1);
            font-weight: 100;
        }
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background: $color-light-50;
            left: 10px;
            top: 100%;
        }
    }

}

.no-touchevents .o-link:hover,
.o-link.is-active {
    @extend %link-active-state;
}