/* ==========================================================================

   Lists
   ====

   Lists

   ```
   <ul class="o-list">
        <li class="o-list__item">Item 1</li>
        <li class="o-list__item">Item 2</li>
   </ul>
   ```
   ========================================================================== */

ul.o-list,
.o-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.o-list__item {
    display: block;
}

/* ==========================================================================
   ## BLOCK MODIFIERS
   ========================================================================== */


/* ==========================================================================
   Stacked list

   ```
   <ul class="o-list o-list--stacked">
        <li class="o-list__item">Item 1</li>
        <li class="o-list__item">Item 2</li>
   </ul>
   ```
   ========================================================================== */

.o-list--stacked {

    > *,
    .o-list__item {
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

}

/* ==========================================================================
   Inline list

   ```
   <ul class="o-list o-list--inline">
        <li class="o-list__item">Item 1</li>
        <li class="o-list__item">Item 2</li>
   </ul>
   ```
   ========================================================================== */

$list-inline-gutter: 5px !default;

%list--inline {
    margin-right: -$list-inline-gutter;
    margin-left: -$list-inline-gutter;

    > *,
    > .o-list__item {
        display: inline-block;
        padding-right: $list-inline-gutter;
        padding-left: $list-inline-gutter;
        margin-bottom: 0;
    }

    > img.o-list__item {
        box-sizing: content-box;
    }
}

.o-list--inline {
    @extend %list--inline;
}


/* ==========================================================================
   Inline list dashed

   ```
   <ul class="o-list o-list--dashed">
        <li class="o-list__item">Item 1</li>
        <li class="o-list__item">Item 2</li>
   </ul>
   ```
   ========================================================================== */

.o-list--dashed {

    $dashed-gutter: 8px;

    > *,
    > .o-list__item {
        display: inline-block;
        margin-bottom: 0;
    }

    > * + *,
    > .o-list__item + .o-list__item {
        margin-left: $dashed-gutter;
        &::before {
            display: inline-block;
            padding-right: $dashed-gutter;
            content: '|';
            speak: none;
        }
    }
}