
#loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    font-size: 14px;
    letter-spacing: 2px;
}

.loader-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index:-1;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-image: radial-gradient(#004184 10%,#002d5c 60%);
}

.intro-loader{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    backface-visibility: hidden;
}

.intro-loader__slide {
    width: 100%;
    height: 100%;
    visibility: hidden;
    position: absolute;
    top: 0;
    backface-visibility: hidden;
    will-change: transform;
}


.intro-loader__logo{

}
.intro-loader__logo,
.intro-loader__title,
.intro-loader__percent {
    transform: translate3d(0,-50%,0);
    top: 50%;
    position: absolute;
    resize: vertical;
    text-align: center;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
}

.intro-loader__percent{
    top: 55%;
    font-weight: 100;
    letter-spacing: 5px;
    opacity: 0.1;
}

.intro-loader__recommended{
    position: fixed;
    width: 100%;
    text-align: center;
    left:0;
    bottom: 60px;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    z-index: 1;
    backface-visibility: hidden;
    visibility: hidden;
    display: none;

    @include mq(desktop){
        display:block;
    }

}


.img-headphone{
    background-image: url('/assets/images/headphone-icon.png');
    width: 30px;
    height: 30px;
    margin: 20px auto;
}

.circle-loading {
    stroke-dasharray: 10 500;
    stroke-alignment: inner;
}

.rotate-loading {
    animation-name: rotate;
    animation-duration: 1.1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-direction: normal;
    animation-play-state: running;
    transform-origin: center center;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.stroke-spacing {
    animation-name: stroke-spacing;
    animation-duration: 6.6s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    transform-origin: center center;
}

@keyframes stroke-spacing {
    0% {
        stroke-dasharray: 0 500;
    }
    90% {
        stroke-dasharray: 330 500;
    }
    100%  {
        stroke-dasharray: 330 500;
    }
}

.loading{
    //width: 500px;
    margin: 0 auto;
    //position: absolute;
    //transform: translate(-50%,-50%);
    //top: 50%;
    //left: 50%;
    opacity: 0;
    transform:translate3d(0,0,0);

    &.visibile {
        circle {
            opacity:1;
        }
    }

    svg{
        position:absolute;
        top:0;
        left:0;
        transform:translate3d(0,0,0);
    }

    circle {
        opacity:0;
        transition: opacity 1s ease;
    }

    circle:first-of-type {
        opacity: 0.1;
    }
    circle {
        stroke: rgba(255,255,255,0.5);
        fill: none;
        stroke-width: 1px;
    }
}



.loading.start {

    circle:last-child {
        opacity: 1;
        animation: productLoadAnimation 2s infinite linear;
        transition: opacity 5000ms;
    }
}



@keyframes productLoadAnimation {
    0% {
        stroke-dasharray: 300.6 200.4;
        stroke-dashoffset: 1004;
    }

    50% {
        stroke-dasharray: 1 500;
    }

    100% {
        stroke-dasharray: 300.6 200.4;
        stroke-dashoffset: 0;
    }
}


//
//.intro-loader__slide.slide1.active {
//    animation-name: introAnimation1;
//    animation-duration: 4s;
//    animation-delay: 1s;
//    animation-fill-mode: forwards;
//}
//
//.intro-loader__slide.slide2.active {
//    animation-name: introAnimation2;
//    animation-duration: 7.5s;
//    animation-fill-mode: forwards
//}
//

//
//.intro-loader__recommended.active {
//    animation-name: introRecommended;
//    animation-delay: 9s;
//    animation-duration: 6s;
//    animation-fill-mode: forwards
//}
//
//
//@keyframes introAnimation1 {
//    0% {
//        opacity: 0;
//        visibility: visible;
//        transform: scale(0.95)
//    }
//
//    45% {
//        opacity: 1;
//        visibility: visible;
//        transform: scale(1)
//    }
//
//    80% {
//        opacity: 1;
//        visibility: visible
//    }
//
//    100% {
//        opacity: 0;
//        visibility: hidden;
//        display: none
//    }
//}
//
//@keyframes introAnimation2 {
//    0% {
//        opacity: 0;
//        visibility: visible;
//        transform: scale(0.95)
//    }
//
//    34% {
//        opacity: 1;
//        visibility: visible;;
//        transform: scale(1)
//    }
//
//    85% {
//        opacity: 1;
//        visibility: visible
//    }
//
//    100% {
//        opacity: 0;
//        visibility: hidden;
//        display: none
//    }
//}