/* ==========================================================================

   Manifest
   ====

   manifest

   ```
    <div class="c-manifest">
        <h2> Richiedi </h2>
        <h2> Informazioni </h2>
    </div
   ```
   ========================================================================== */

$manifest-font-size: 190px !default;
$manifest-line-height: 20px !default;

.c-manifest {
    position: absolute;
    top: 0;
    left: -10%;
    z-index: z-index(behind);
    white-space: nowrap;
    user-select: none;

    h2 {
        font-size: rem($manifest-font-size);
        color: rgba($color-light, 0.03);
        font-weight: 100;
        line-height: 0.8em;
        margin: 0;
        &:last-of-type {
            margin-left: 10%;
        }
    }
}