/* ==========================================================================

   Modal
   ====

   Modal Mask

   ```
   <div class="c-modal"></div>
   ```
   ========================================================================== */

$modal-gutter: (
    null: 20px,
    l-tablet: 30px
) !default;


.js body.is-modal-open {
    position: fixed;
    left: 0;
    overflow: hidden;
    width: 100%;
}

.c-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: z-index(behind) - 1;
    opacity: 0;
    width: 100vw;
    height: 100vh;

    transition: opacity 200ms, z-index 100ms;
    transition-delay: 0s, 300ms;

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: block;
        //background: linear-gradient(to bottom,
        //    rgba($color-light-blue, 0.96) 0%,
        //    rgba($color-light-blue, 0.96) 5%,
        //    rgba(mix($color-light-blue, $color-dark-blue), 0.96) 50%,
        //    rgba($color-dark-blue, 1) 95%,
        //    rgba($color-dark-blue, 1) 100%
        //);
        background-color: $color-dark-blue;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        content: '';

        @include mq(s-tablet) {
            //background: linear-gradient(to bottom,
            //    rgba($color-light-blue, 0.9) 0%,
            //    rgba($color-light-blue, 0.9) 5%,
            //    rgba(mix($color-light-blue, $color-dark-blue), 0.96) 50%,
            //    rgba($color-dark-blue, 0.96) 95%,
            //    rgba($color-dark-blue, 0.96) 100%
            //);

            background-color: rgba($color-dark-blue, 0.98);
        }

        @include mq(l-tablet) {
            //transform: scaleX(0.5);
            //transform-origin: right 0;
            //transition: transform 200ms;

        }

        .no-cssgradients & {
            background-color: $color-light-blue;
            opacity: 0.96;
        }
    }

    &:focus {
        outline: 0;
    }

    &.is-open {
        z-index: z-index(modal);
        opacity: 1;
        transition-delay: 150ms, 0s;

        &::after {
            transform: scaleX(1);
        }
    }

    ::-moz-selection {
        background-color: rgba($color-light, 0.1);
    }

    ::selection {
        background-color: rgba($color-light, 0.1);
    }

}

//.c-modal__overlay {
//    position: relative;
//    z-index: z-index(base);
//
//    &:focus {
//        outline: 0;
//    }
//
//    > .c-overlay__body {
//        padding: map-get($modal-gutter, null);
//        padding-top: 40px;
//
//        @include mq(l-tablet) {
//            padding: map-get($modal-gutter, l-tablet);
//        }
//
//    }
//}

.c-modal__close {
    @include mq-prop(top, $modal-gutter);
    @include mq-prop(right, $modal-gutter);
    position: absolute;
    z-index: z-index(above);
}