
$margin-space: 5%;

.c-navrings {
    position: absolute;
    bottom: 27%;
    left:0;
    padding: 0 $margin-space;
    width: 100%;
    z-index: 250;

    @include mq(s-tablet){
        bottom: 22%;
    }

    @include mq(l-tablet){
        display:none;
    }
}

.c-navrings__title {
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    margin: 0;
    text-transform: lowercase;

    .small {
        font-size:20px;
    }

    @include mq(s-tablet){
        font-size: 50px;
    }

    @include mq(l-tablet){
        display:none;
    }
}

.c-navrings__arrows {
    position: absolute;
    width: 60px;
    height: 60px;
    //padding: 10px;
    //height: 100%;
    top: 0px;

    &.hidden {
        display:none;
    }

    &--prev{
        left: 0;
        text-align:left;

        > span {
            left: 20%;
        }
    }

    &--next{
        right: 0;
        text-align:right;

        > span {
            right: 20%;
        }
    }

    > span {
        position: relative;
        top: 12px;
    }
}