/* ==========================================================================

   Navigation
   ====

   Navigation Component

   ```
   <ul class="c-nav">
        <li class="c-nav__item">
            <a href="/">home</a>
        </li>
        <li class="c-nav__item is-active">
            <a href="/">bianco</a>
        </li>
        <li class="c-nav__item">
            <a href="/">mix</a>
        </li>
   </ul>
   ```
   ========================================================================== */

$nav-font-size: 40px;

.c-nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.c-nav__item {
    color: $color-light;
    line-height: 1em;
    white-space: nowrap;
    font-size: font-size(30px);
    font-weight: 100;
    margin-bottom: em(70px, $nav-font-size);
    position: relative;

    @include mq(s-tablet) {
        font-size: font-size($nav-font-size);
    }
    @include mq($from: l-tablet, $until: desktop) {
        font-size: font-size($nav-font-size * 0.8);
    }

    > a {
        transition: opacity 0.5s;
        opacity: 0.5;
        //text-transform: lowercase;
        display: inline-block;

        &:hover {
            opacity: 1;
        }
    }



    @include aria-focus {
        opacity: 1;
    }
}

/* ==========================================================================
   ## STATES
   ========================================================================== */

.c-nav__item.is-active {
    > a {
        opacity: 1;
    }
}

/* ==========================================================================
   ## ELEMENT MODIFIERS
   ========================================================================== */

.c-nav__item--small {
    margin-bottom: 0.5em;
    font-size: font-size(20px);

    @include mq(s-tablet) {
        font-size: font-size(25px);
    }
}


/* ==========================================================================
   ## BLOCK MODIFIERS
   ========================================================================== */

/* ==========================================================================

   ### Stacked Navigation

   ```
   <ul class="c-nav c-nav--stacked">
        <li class="c-nav__item">
            <a href="/">home</a>
        </li>
        <li class="c-nav__item is-active">
            <a href="/">bianco</a>
        </li>
        <li class="c-nav__item">
            <a href="/">mix</a>
        </li>
   </ul>
   ```
   ========================================================================== */

.c-nav--stacked {
    .c-nav__item {
        display: block;
        margin-bottom: em(80px, 40px);
        font-size: rem(40px);
        font-weight: 100;
        line-height: 1em;
        white-space: nowrap;
    }
}

/* ==========================================================================

   ### Inline Navigation

   ```
   <ul class="c-nav c-nav--inline">
        <li class="c-nav__item">
            <a href="/">home</a>
        </li>
        <li class="c-nav__item is-active">
            <a href="/">bianco</a>
        </li>
        <li class="c-nav__item">
            <a href="/">mix</a>
        </li>
   </ul>
   ```
   ========================================================================== */

.c-nav--inline {
    $nav-gutter: 13px;
    margin-right: $nav-gutter * - 1;
    margin-left: $nav-gutter * - 1;
    font-size: 0;
    white-space: nowrap;

    .c-nav__item {
        display: inline-block;
        margin: 0 $nav-gutter;
        font-size: rem(22px);
        font-weight: 300;
        line-height: 1.56em;
        letter-spacing: 0.02em;
    }

}

#balloon-bianco {

    .o-control__ico {
        height: 0.7em;
        min-width: 0;
    }

    .c-balloon__label-action {
        background-color: $color-blue-sw;
    }
}