/* ==========================================================================

   Navigation Slider
   ====

   Navigation Slider

   ```
   <div class="c-nav-slider c-catalog__nav">
        <button class="o-control c-nav-slider__control c-nav-slider__control--left" aria-label="Categoria precedente">
            <span class="o-ico o-ico--arrow-dot-left"></span>
        </button>
        <button class="o-control c-nav-slider__control c-nav-slider__control--right" aria-label="Categoria successiva">
            <span class="o-ico o-ico--arrow-dot-right"></span>
        </button>
        <nav class="c-nav-slider__wrap">
            <ul class="c-nav c-nav--inline">
                <li class="c-nav__item is-active">
                    <a href="#">I love frutta</a>
                </li>
                <li class="c-nav__item">
                    <a href="#">fruit passion</a>
                </li>
                <li class="c-nav__item">
                    <a href="#">parzialmente scremato</a>
                </li>
                <li class="c-nav__item">
                    <a href="#">parzialmente</a>
                </li>
                <li class="c-nav__item">
                    <a href="#">lorem ipsum dolor</a>
                </li>
            </ul>
        </nav>
   </div>
   ```
   ========================================================================== */

//$nav-slider-control-size: 30px;

.c-nav-slider {
    position: relative;
    //ie<10 fallback

    @include mq(l-tablet) {

        display: flex;
        align-items: center;

        .no-flexbox & {
            @include clearfix;
            display: inline-block;
            > * {
                float: left;
            }

            .c-nav-slider__control--right {
                float: right;
            }
        }

    }
}


.c-nav-slider__wrap {
    @include touch-overflow(x);
    position: relative;
    padding-top: 10px;
    padding-right: 10px;
    //max-width: 510px;
    //margin-right: $nav-slider-control-size * 1.5;
    //margin-left: $nav-slider-control-size * 1.5;

    @include mq(l-tablet) {
        overflow: hidden;
        flex: 1 0 auto;
        @include boost-performance;
    }
}

.c-nav-slider__control {
    z-index: z-index(above);
    flex: 0 0 auto;
    font-size: 1rem;

    .o-control__ico {
        transition: transform 150ms ease-out;
    }

    &.is-disabled,
    &[disabled] {
        opacity: 0.5;
        cursor: default;
    }

    @include aria-focus {
        background-color: rgba($color-light, 0.2);
        transition: background 150ms;
    }
}


/* ==========================================================================
   ## ELEMENTS MODIFIERS
   ========================================================================== */

.c-nav-slider__control--left {
    left: 0;

    &:hover .o-control__ico {
        transform: translate(-3px, 0);
    }

    @include aria-focus {
        .o-control__ico {
            transform: translate(-3px, 0);
        }
    }
}

.c-nav-slider__control--right {
    right: 0;
    order: 999;

    &:hover .o-control__ico {
        transform: translate(3px, 0);
    }

    @include aria-focus {
        .o-control__ico {
            transform: translate(3px, 0);
        }
    }
}