/* ==========================================================================
   ## Main Navigation
   ========================================================================== */

#nav-main {
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: z-index(behind);
    visibility: hidden;
    width: 100%;


    @include mq($until: l-tablet) {
        display: none;
    }

    @include mq(l-tablet) {
        //right: 60px;
        right: 2%;
        left: auto;
        overflow: visible;
        //overflow-y: visible;
        //width: 17.34%;
        width: auto;
        float: right;
    }

    @include mq(desktop) {
        right: 2%;
    }

    @include mq(medium) {
        right: 5%;
    }

    @include mq(l-wide){
        right: 10%;
    }

    .c-nav-scroller {
        @include boost-performance;
        //position: absolute;
        position: relative;
        top: 27.5vh;
        //height: (100vh - 27.5vh);
        left: 0;
        width: 100%;
        padding-bottom: 29.5vh;
        transition: transform 200ms linear;
        will-change: transform;

        @include mq($until: l-tablet) {
            padding-bottom: 50px;
            transform: none !important;
        }

        @include mq(l-tablet) {
            &.has-ease {
                //transition: transform 500ms ease-out !important;
            }
        }
    }


    .c-nav__item {
        opacity: 0;
        white-space: nowrap;
        text-align: center;
        text-transform: lowercase;

        .small {
            font-size: 24px;
        }

        @include mq(l-tablet) {
            text-align: left;
        }
    }

    &.is-open {
        //@include touch-overflow(y);
        display: block;
        z-index: z-index(nav);
        visibility: visible;
        -webkit-overflow-scrolling: touch;
    }

    .c-nav__item--hidden {
        display:none;

        @include mq($until: s-tablet) {
            display: block;
        }
    }

    .c-nav__item--info {
        font-size: 15px;

        &.c-nav__item--small {
            margin-bottom: 1em;
        }
    }

    .c-nav__item--copy {
        font-size: 12px;
        text-transform: uppercase;
        line-height: 18px;

        > span {
            display:block;
            margin-left:0;
            opacity: 0.2;
            text-align: center;
        }

        &.c-nav__item--small {
            margin-top: 8em;
        }
    }


    .c-nav__sep {
        border-top: 1px solid rgba(255,255,255,0.1);
        width: 30%;
        margin: 20px auto;
    }
}
