/* ==========================================================================

   Overlay
   ====

   Content Overlay

   ```
   <section class="c-overlay is-open">

       <button class="o-control c-overlay__close" aria-label="Chiudi">
            <span class="o-ico o-ico--close o-control__ico"></span>
        </button>

        <div class="c-overlay__body">
            Overlay Content
        </div>

   </section>
   ```
   ========================================================================== */

$overlay-gutter: (
    null: 20px,
    l-tablet: 30px
) !default;

$overlay-close-position: (
    null: 20px,
    l-tablet: 30px,
    desktop: 30px,
) !default;

.c-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: z-index(behind);
    opacity: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity 200ms, z-index 100ms;
    transition-delay: 0s, 300ms;

    &:focus {
        outline: 0;
    }
}

.c-overlay__close {
    @include mq-prop(top, $overlay-close-position);
    @include mq-prop(right, $overlay-close-position);
    position: absolute;
    z-index: z-index(above);
    opacity: 0;
    transform: translateX(50%);
    transition: all 200ms ease-out;

    @include mq(l-tablet) {
        &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: z-index(below);
            display: block;
            width: 50px;
            height: 50px;
            margin: -25px 0 0 -25px;
            border-radius: 50%;
            background-color: rgba($color-light, 0.4);
            content: '';
        }

        .o-ico {
            transform: scale(12px / 16px);
            transition: transform 200ms;
        }

        &:hover .o-ico {
            transform: scale(0.9);
        }
    }

    &.is-entering {
        opacity: 1;
        transform: translateX(0);
        transition-delay: 1000ms;
    }


}

.c-overlay__body {
    @include touch-overflow(y);
    position: relative;
    z-index: z-index(base);
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    padding: map-get($overlay-gutter, null);
    padding-top: 40px;

    @include mq(l-tablet) {
        padding: map-get($overlay-gutter, l-tablet);
    }

    @include mq(desktop) {
        overflow: hidden;
    }

}

/* ==========================================================================
   ## STATES
   ========================================================================== */

.c-overlay.is-open {
    z-index: z-index(modal);
    opacity: 1;
    transition-delay: 0s, 0s;
}