/* ==========================================================================

   Pagination
   ====

   pagination

   ```
    <div class="o-pagination">
        <a href="#" class="o-control o-control--fill o-pagination__left">
            <span class="o-ico o-ico--arrow-left"></span>
        </a>
        <a href="#" class="o-btn o-btn--loud o-pagination__button">lista completa</a>
        <a href="#" class="o-control o-control--fill o-pagination__right">
            <span class="o-ico o-ico--arrow-right"></span>
        </a>
    </div>
   ```
   ========================================================================== */

.o-pagination {
    width: 100%;
    display: block;
    position: relative;
    @include clearfix();
    margin: 20px 0 50px;
    text-align: center;

    @include mq(s-tablet) {
        margin: 40px 0 0;
    }

    .o-btn{

        @include mq($until: s-tablet) {
            max-width: 180px;
        }

    }
}

.o-pagination__left {
    float: left;

}

.o-pagination__right {
    float: right;

}

.o-pagination__left,
.o-pagination__right {
    color: $color-light;
    background-color: rgba($color-gray-light, 0.5);
    width: 50px;
    height: 50px;
    margin-top: 10px;
    font-size: initial;
    transition: background 0.4s ease;

    @include mq(s-tablet){
        width: 60px;
        height: 60px;
        margin-top: 0px;
    }

    &:visited {
        color: $color-light;
    }

    &:hover{
        background-color: rgba($color-gray-light, 1);
    }

    .o-ico {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.o-pagination__button {

    display: block;
    margin: 30px auto;

    @include mq(s-tablet) {
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        margin: auto;
    }

    background-color: $color-pink;
    color: $color-light;
}