/* ==========================================================================

   Page
   ====

   Text Content

   ```
   <article class="c-page o-text">
        <h2 class="c-page__title o-text__title">
            LEGAL TERMS
        </h2>

   </article>
   ```
   ========================================================================== */

.c-page {
    @include touch-overflow(y);
    overflow-x: hidden;
    max-height: 100%;

    @include mq(s-tablet) {
        mask: linear-gradient(to top, rgba(black, 0) 0, rgba(black, 0.5) 10%, rgba(black, 1) 25%, rgba(black, 1) 85%, rgba(black, 0) 100%);
    }
}

.c-page__title {
    margin-bottom: em(40px, 16px);
    font-size: font-size(16px);
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    //letter-spacing: 0.05em;
    letter-spacing: 0.15em;
}

.c-page__body {
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    padding-bottom: 80px;
    color: $color-light-50;
    font-size: font-size(14px);
    font-weight: 300;

    @include mq(s-tablet) {
        max-width: vw(870px);
        padding-top: 100px;
    }


    li,
    p {
        line-height: 1.7em;
    }
}