/* ==========================================================================

   Pagination
   ====

   Pagination (vertical by default)

   ```
   <ul class="o-pag">
        <li class="o-pag__item is-current">
            <a href="#prodotto" class="o-pag__anchor">
                <span class="o-pag__label">Prodotto</span>
            </a>
        </li>
        <li class="o-pag__item">
            <a href="#ingredienti" class="o-pag__anchor">
                <span class="o-pag__label">Lista Ingredienti</span>
            </a>
        </li>
        <li class="o-pag__item">
            <a href="#valori-nutrizionali" class="o-pag__anchor">
                <span class="o-pag__label">Valori Nutrizionali</span>
            </a>
        </li>
   </ul>
   ```
   ========================================================================== */

$page-anchor-size: 15px !default;

.o-pag {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.o-pag__item {
    @include clearfix;
}

.o-pag__anchor {
    position: relative;
    display: block;
    float: left;
    height: $page-anchor-size;
    padding-left: $page-anchor-size;

    //big circle
    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
        width: 8px;
        height: 8px;
        margin: -4px 0 0 -4px;
        border: 1px solid currentColor;
        border-radius: 50%;
        content: '';
        transform: scale(0.8);
        transition: all 150ms ease-out;
    }

    //small circle
    &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 4px;
        height: 4px;
        margin: -2px 0 0 -2px;
        border-radius: 50%;
        background-color: currentColor;
        content: '';
        transition: all 150ms ease-out;
    }

}

.is-current > .o-pag__anchor,
.no-touchevents .o-pag__anchor:hover {
    &::before {
        opacity: 1;
        transform: scale(1);
    }

    &::after {
        opacity: 0;
    }
}

.o-pag__label {
    position: absolute;
    top: 50%;
    left: 100%;
    opacity: 0;
    margin-left: 0.5em;
    font-size: font-size(12px);
    font-weight: 300;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    pointer-events: none;
    transform: translate($page-anchor-size * -1, -50%);
    transition: all 150ms ease-out 130ms;
    will-change: opacity, transform;


    .is-current & {
        opacity: 1;
        transform: translate(0, -50%);
    }
}


/* ==========================================================================
   ## BLOCK MODIFIERS
   ========================================================================== */

/* ==========================================================================

   ### Reversed pagination

   ```
   <ul class="o-pag o-pag--rev">
        <li class="o-pag__item is-current">
            <a href="#prodotto" class="o-pag__anchor">
                <span class="o-pag__label">Prodotto</span>
            </a>
        </li>
        <li class="o-pag__item">
            <a href="#ingredienti" class="o-pag__anchor">
                <span class="o-pag__label">Lista Ingredienti</span>
            </a>
        </li>
        <li class="o-pag__item">
            <a href="#valori-nutrizionali" class="o-pag__anchor">
                <span class="o-pag__label">Valori Nutrizionali</span>
            </a>
        </li>
   </ul>
   ```
   ========================================================================== */

.o-pag--rev {

    .o-pag__anchor {
        float: right;
    }

    .o-pag__label {
        right: 100%;
        left: auto;
        margin-right: 0.5em;
        margin-left: 0;
        text-align: right;
    }
}

/* ==========================================================================

   ### Horizontal pagination

   ```
   <ul class="o-pag o-pag--x">
        <li class="o-pag__item is-current">
            <a href="#prodotto" class="o-pag__anchor">
                <span class="o-pag__label">Prodotto</span>
            </a>
        </li>
        <li class="o-pag__item">
            <a href="#ingredienti" class="o-pag__anchor">
                <span class="o-pag__label">Lista Ingredienti</span>
            </a>
        </li>
        <li class="o-pag__item">
            <a href="#valori-nutrizionali" class="o-pag__anchor">
                <span class="o-pag__label">Valori Nutrizionali</span>
            </a>
        </li>
   </ul>
   ```
   ========================================================================== */

.o-pag--x {
    @include clearfix;

    .o-pag__item {
        float: left;
    }

    .o-pag__label {
        @include visually-hidden;
    }
}

/* ==========================================================================
   ## themes
   ========================================================================== */

.o-pag {
    &.ui-dark {
        color: $color-pink;
    }
}