/* ==========================================================================
   ## Shared Styles

   Shared placeholder

   ```
   ```
   ========================================================================== */

%inline {
    display: inline-block;
}

%inline-block {
    display: inline-block;
}

%img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

%clearfix {
    @include clearfix;
}

%bg-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

%button-reset {
    background: transparent;
    background-image: none;
    padding: 0;
    border-width: 0;
}

%prevent-fouc {
    .wf-loading & {
        visibility: hidden;
    }
}
