/* ==========================================================================

   post
   ====

   post item

   ```
   <a href="#" class="c-post">
        <figure>
            <div class="c-post__frame">
                <img src="http://unsplash.it/900/400?random" alt="unsplash paceholder" class="c-post__thumb" />
            </div>
            <div class="o-sticker">
                <span class="o-sticker__ico o-ico o-ico--play"></span>
            </div>
            <figcaption class="c-post__caption">
                <span class="c-post__label">Ametinceptos Sem</span>
                <h2 class="c-post__title">
                    Cras Mollis <br>
                    Commodo Ornare
                </h2>
            </figcaption>
        </figure>
   </a>

   <a href="#" class="c-post">
        <figure>
            <p class="c-post__abstract">
                Praesent commodo cur magna, vel scelerisq nisl consectetur...
            </p>
            <div class="o-sticker">
                <span class="o-sticker__ico o-ico o-ico--arrow-right"></span>
            </div>
            <figcaption class="c-post__caption">
                <span class="c-post__label">Ametinceptos Sem</span>
                <h2 class="c-post__title">
                    Cras Mollis <br>
                    Commodo Ornare
                </h2>
            </figcaption>
        </figure>
   </a>

   ```
   ========================================================================== */

$post-label-font-size: 14px !default;
$post-title-font-size: 40px !default;
$post-abstract-font-size: 22px !default;

.c-post {
    position: relative;
    display: block;
    color: $color-pink;
    background-color: $color-light;
    @include mq(l-tablet) {
        opacity: 0;
        transform: translateY(80px);
        transition: opacity 800ms, transform 1400ms, color 300ms $landing-easing-in;
    }

    .o-sticker {
        position: absolute;
        bottom: 5%;
        right: 5%;
    }

    > figure {
        margin: 0;
    }
}

.c-post.is-slidein {
    opacity: 1;
    transform: translateY(0);
}

.c-post__frame {


    max-height: 500px;
    overflow: hidden;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        //background-color: rgba($color-light, 0.5);
        background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%, rgba(237,237,237,0) 70%);
        z-index: z-index(above);
    }
}

.c-post__thumb {
    position: relative;
    width: 100%;
    height: 100%;
}

.c-post__abstract {
    color: $color-gray;
    font-size: rem($post-abstract-font-size);
    padding: 60px 20px;
    font-weight: 100;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color-pink, 0.8);
        z-index: z-index(above);
        opacity: 0;
    }

    @include mq($until: l-tablet) {
        padding: 80px 20px;
    }
}

.c-post__discover {
    opacity: 0;
    color: $color-light;
    max-width: 200px;
    transition-delay: 0ms;
}

.c-post__caption {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(20px, -40px);
    z-index: z-index(above);
    max-width: 85%;


    @include mq(s-tablet) {
        transform: translate(20px, -50px);
    }
}

.c-post__label {
    font-size: rem($post-label-font-size);
    position: relative;
    color: $color-light;
    padding: 0 10px;
    z-index: z-index(above);
    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($color-pink, 0.5);
        z-index: z-index(behind);
    }
}

.c-post__title {
    font-size: rem($post-title-font-size / 1.5);
    color: currentColor;
    line-height: rem($post-title-font-size / 1.5);
    margin: 0.25em 0;

    @include mq(s-tablet) {
        font-size: rem($post-title-font-size / 1.1);
        line-height: rem($post-title-font-size / 1.1);
    }

    @include mq(desktop) {
        font-size: rem($post-title-font-size);
        line-height: rem($post-title-font-size);
    }

    //@include mq(l-tablet, desktop) {
    //    font-size: rem($post-title-font-size / 1.2);
    //    line-height: rem($post-title-font-size / 1.2);
    //}
}

/* ==========================================================================

   ### Post poster

   ```
   <a href="#" class="c-post c-post--poster">
        <figure>
            <div class="c-post__frame">
                <img src="http://unsplash.it/900/400?random" alt="unsplash paceholder" class="c-post__thumb" />
            </div>
            <div class="o-sticker">
                <span class="o-sticker__ico o-ico o-ico--play"></span>
            </div>
            <figcaption class="c-post__caption">
                <span class="c-post__label">Ametinceptos Sem</span>
                <h2 class="c-post__title">
                    Cras Mollis <br>
                    Commodo Ornare
                </h2>
            </figcaption>
        </figure>
   </a>
   ```
   ========================================================================== */

.c-post--poster {
    @include mq($until: l-tablet) {
        margin-top: 60px;
    }
    .c-post__caption {
        //top: -40%;
        //left: -60px;
        @include mq(l-tablet) {
            top: 40%;
            left: -60px;
        }
    }


    &.c-post--testo {
        display: table;

        .c-post__caption {
            top: 0;
            left: 0;
        }

        .c-post__abstract {

            font-size: rem($post-title-font-size/1.5);

            @include mq(l-tablet) {
                height: 400px;
                margin: 0;
                display: table-cell;
                vertical-align: middle;
                font-size: rem($post-title-font-size);
            }

            @include mq(desktop) {
                height: 450px;
            }
        }

    }
}

/* ==========================================================================
   ## States
   ========================================================================== */

/* ==========================================================================

   ### :hover, .is-active

   ```
      <a href="#" class="c-post">
        <figure>
            <div class="c-post__frame">
                <img src="http://unsplash.it/900/400?random" alt="unsplash paceholder" class="c-post__thumb" />
            </div>
            <div class="o-sticker">
                <span class="o-sticker__ico o-ico o-ico--play"></span>
            </div>
            <figcaption class="c-post__caption">
                <span class="c-post__label">Ametinceptos Sem</span>
                <h2 class="c-post__title">
                    Cras Mollis <br>
                    Commodo Ornare
                </h2>
            </figcaption>
        </figure>
   </a>
   ```
   ========================================================================== */

.c-post.is-active {

}

//$post-hover-curve: cubic-bezier(0.64, 0.04, 0.09, 1.1);
$post-hover-curve: cubic-bezier(0.165, 0.840, 0.440, 1.000);

.no-touchevents .c-post {
    //transition: color 150ms $landing-easing-in;
    figcaption {
        transition: all 500ms $post-hover-curve;
        //transition-delay: 100ms;
    }
    .c-post__frame::before {
        transition: all 500ms $post-hover-curve;
        //transition-delay: 100ms;
    }
    .c-post__abstract::before {
        transition: opacity 300ms $post-hover-curve;
        transition-delay: 100ms;
    }
    .c-post__discover {
        transition: all 300ms linear;
        //transition-delay: 100ms;
    }
    .c-post__title {
        color: $color-pink;
        transition: all 300ms $post-hover-curve;
        transition-delay: 100ms;
    }
    .c-post__label {
        transition: all 300ms $post-hover-curve;
        transition-delay: 100ms;
        &::after {
            transition: all 300ms $post-hover-curve;
            transition-delay: 100ms;
        }
    }
    &:hover {
        .c-post__frame {
            &::before {
                background-color: rgba($color-pink, 0.8);
                background-image: none;
            }
        }

        .c-post__title {
            transition-delay: 0ms;
            color: $color-light;
        }

        .c-post__abstract {
            &::before {
                opacity: 1;
            }
        }

        .c-post__discover {
            opacity: 1;
            transition-delay: 400ms;
        }

        .c-post__label {
            color: $color-pink;
            &::after {
                background-color: $color-light;
            }
        }
    }

    &:not(.c-post--poster) {
        &:hover {
            figcaption {
                transform: translate(20px, -50%);
                top: 50%;
                //top: 50%;
            }
        }
    }

    &.c-post--poster {
        &.c-post--testo{

            &:hover{
                figcaption {
                    transform: translate(20px, -50%);
                    top: 50%;
                    left: 0;
                }
            }
        }
    }

}

//.no-touchevents .c-post {
//    figcaption {
//        transition: all 300ms $post-hover-curve;
//        transition-delay: 100ms;
//    }
//    .c-post__frame::before {
//        transition: all 300ms $post-hover-curve;
//        transition-delay: 100ms;
//    }
//    .c-post__discover {
//        transition: all 150ms linear;
//        transition-delay: 400ms;
//    }
//    &:hover {
//        transition: all 100ms linear;
//        color: $color-light;
//        //figcaption {
//        //    transform: translate(0, -50px);
//        //    left: -60px;
//        //    top: 50%;
//        //}
//        .c-post__frame {
//            &::before {
//                background-color: rgba($color-pink, 0.8);
//            }
//        }
//
//        .c-post__discover {
//            opacity: 1;
//            visibility: visible;
//        }
//    }
//    &:not(.c-post--poster) {
//        &:hover {
//            figcaption {
//                transform: translate(20px, -50%);
//                top: 50%;
//                //top: 50%;
//            }
//        }
//    }
//}

.no-touchevents .c-post--poster {

    &:hover {
        figcaption {
            //text-align: center;
            transform: translate(-50%, -50px);
            //top: 50%;
            left: 50%;
        }
    }
}