%hidden {
    visibility: hidden;
    opacity: 0;
}

.c-preview {
    position:absolute;
    width: 20%;
    text-align: center;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    @extend %hidden;

    > * {
        flex: 0 0 auto;
    }
}

.c-preview__info {
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    font-family: $font-title;

    //margin-top: 20px;
    //padding-top: 50px;
    top: 100%;
    left:50%;
    width: 80%;
    transform: translate(-50%, -30px);
    position:absolute;


    &-title {
        @extend %hidden;
        > span {
           font-size: 43px;
        }
    }

    &-extra {
        text-transform: uppercase;
        font-size: 14px;
        margin-top: 10px;
        letter-spacing:2px;
        @extend %hidden;

    }
}


$product-images-canvas: (
    small: (406px, 400px),
    big: (720px, 710px)
);
$product-image-canvas-ratio: (710 / 720);
$product-transition-duration: 150ms;
$product-image-widths: (
    null: 280px,
    l-tablet: 200px,
    desktop: 300px
);
$product-image-spacing: 10px;
$product-image-scale-ratio: map-get($product-image-widths, desktop) / nth(map-get($product-images-canvas, small), 1);


.c-preview__image {
    position: relative;
    width: map-get($product-image-widths, null) + ($product-image-spacing * 2);
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: $product-image-spacing;
    padding-left: $product-image-spacing;
    transform: scale($product-image-scale-ratio);

    @include mq(l-tablet) {
        width: map-get($product-image-widths, l-tablet) + ($product-image-spacing * 2);
        transform: scale(0.37);
    }


    &::before {
        display: block;
        width: 100%;
        padding-bottom: $product-image-canvas-ratio * 100%;
        content: '';
    }

    > img {
        @include img-responsive;
        position: absolute;
        bottom: 0%;
        left: 50%;
        width: auto;
        max-width: 60vh;
        max-height: 50vh;
        transform: translate(-50%, 0%);
        image-rendering: auto;

        @extend %hidden;

        @include mq(s-tablet) {
            max-width: none;
            max-height: none;
        }
    }

}