/* ==========================================================================

   Product Details
   ====


   ========================================================================== */

#product-details {

    $scrollable-panel-height: 55vh;

    z-index: z-index(above);

    @include mq($until: l-tablet) {
        margin-top: 50px;
    }

    @include mq(s-tablet, l-tablet) {
        padding: 0 40px;
    }

    &.c-tablist--scrollable {
        @include mq(l-tablet) {
            float: left;
            max-width: 550px;
            height: 100%;
        }

        @include mq(wide) {

            max-width: 50%;
        }
    }

    .c-tablist__footer {
        text-align: left;
    }

    @include mq(l-tablet) {
        .c-tablist__panel-wrap {
            max-height: $scrollable-panel-height;
            transition: all 200ms ease-out;
            transform: translateY(0);
        }

        .c-tablist__scroll-wrap {
            max-height: $scrollable-panel-height;
        }

        .c-tablist__panel {
            &:last-of-type {
                min-height: $scrollable-panel-height;
            }
        }

        .c-tablist__footer {
            bottom: 60px;
            transition: all 200ms ease-out 0ms;
        }

        //.c-tablist__panel-wrap.is-initialized {
        //
        //    transform: translateY(0);
        //}

        .c-tablist__panel-wrap.is-scrolled {
            transform: translateY(-30px);

            ~ .c-tablist__footer {
                opacity: 0;
                transform: translateY(15px);
            }
        }

    }

    @include mq(wide) {

        .c-tablist__panel,
        .c-tablist__description {
            padding-right: 40%;
        }
    }

    .o-label {
        font-size: font-size(12px);
        @include mq(l-tablet) {
            font-size: font-size(16px);
        }
        font-weight: 900;
    }

    .o-text {

        @include mq(l-tablet) {
            font-size: font-size(20px);
        }

        > p {
            line-height: 1.6em;
        }
    }

    .o-text__tagline {
        font-size: em(16px, 20px);
    }

    .o-text__title,
    .o-text__tagline {
        font-weight: 700;
    }

    .o-text__title {
        font-size: font-size(30px);

        @include mq(l-tablet) {
            font-size: font-size(46px);
        }
    }

    .info-brand {
        display: flex;
        align-items: center;
        > span{
            margin: 0;
        }
    }

}

#product-gallery {

    margin-top: 70px;
    margin-right: map-get($modal-gutter, null) * -1;
    margin-left: map-get($modal-gutter, null) * -1;

    @include mq(s-tablet) {
        .c-gallery {
            margin-top: -10vh;
        }
    }

    @include mq(l-tablet) {

        display: flex;
        height: 100%;
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
        align-items: center;
        justify-content: center;

        .no-flexbox {
            float: right;
        }

        .c-gallery {
            max-height: 80vh;
            margin-top: -10vh;
        }

        .c-gallery__figure > img {
            max-width: 55vw;
            max-height: 80vh;
        }
    }

    @include mq(desktop) {
        .c-gallery__figure > img {
            max-width: none;
        }
    }

    @include mq(wide) {

        justify-content: flex-start;

        .c-gallery {
            width: 70%;
        }
    }
}