/* ==========================================================================

   Product
   ====

   Product Item

   ```
   <article class="c-product">
        <div class="c-product__image">
            <img src="/assets/images/products/i-love-fragola.png" alt="Vasetto I Love Fragola" data-load />

            <span class="c-product__image-frame">
                <svg xmlns="http://www.w3.org/2000/svg" width="264" height="264" viewBox="0 0 264 264">
                    <path fill="none" stroke="#fff" stroke-width="2" stroke-miterlimit="10" d="M132 2c71.797 0 130 58.202 130 130 0 71.797-58.203 130-130 130S2 203.797 2 132C2 60.202 60.203 2 132 2z"/>
                    <path fill="none" stroke="#fff" stroke-width="2" stroke-miterlimit="10" d="M132 2c71.797 0 130 58.202 130 130 0 71.797-58.203 130-130 130S2 203.797 2 132C2 60.202 60.203 2 132 2z" />
                </svg>
            </span>


        </div>
        <div class="c-product__body">
            <h3 class="c-product__title">
                I <span class="o-ico o-ico--heart" aria-label="Love"></span> Fragola
            </h3>
            <p class="c-product__tagline">Con frutta in pezzi</p>
            <p class="c-product__label">
                <span class="o-label">New</span>
            </p>
        </div>
   </article>
   ```
   ========================================================================== */


$product-images-canvas: (
    smaller: (206px, 200px),
    small: (490px, 480px),
    big: (720px, 710px)
);
$product-image-canvas-ratio: (710 / 720);
$product-transition-duration: 170ms;
$product-image-widths: (
    null: 280px,
    l-tablet: 200px,
    desktop: 200px //era 300
);
$product-image-spacing: 10px;
$product-image-scale-ratio: map-get($product-image-widths, desktop) / nth(map-get($product-images-canvas, small), 1);

.c-product {
    position: relative;
    display: block;
    color: $color-light;
}

.c-product__image {
    position: relative;
    width: map-get($product-image-widths, null) + ($product-image-spacing * 2);
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: $product-image-spacing;
    padding-left: $product-image-spacing;
    //transform: scale($product-image-scale-ratio);

    @include mq(l-tablet) {
        width: map-get($product-image-widths, l-tablet) + ($product-image-spacing * 2);
        //transform: scale(0.55);
    }

    @include mq(desktop) {
        $product-image-scale-ratio: map-get($product-image-widths, desktop) / nth(map-get($product-images-canvas, smaller), 1);
        width: map-get($product-image-widths, desktop) + ($product-image-spacing * 2);
        //transform: scale($product-image-scale-ratio);
    }

    &::before {
        display: block;
        width: 100%;
        padding-bottom: $product-image-canvas-ratio * 100%;
        content: '';
    }

    > img {
        @include img-responsive;
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        max-width: 180vw;
        max-height: 90vh;
        transform: translate(-50%, -50%) scale($product-image-scale-ratio);

        @include mq(s-tablet) {
            max-width: none;
            max-height: none;
        }

        @include mq(l-tablet) {
            transform: translate(-50%, -50%) scale(0.55);
        }
        @include mq(desktop) {
            transform: translate(-50%, -50%) scale($product-image-scale-ratio);
        }

    }

}

.c-product__image-frame {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: z-index(behind);
    display: block;
    opacity: 0;
    width: 110%;
    transform: translate(-50%, -50%) rotate(-45deg) scale(0.8);
    transition: all $product-transition-duration ease-out;
    transition-property: opacity, transform, font-size;

    @include mq(l-tablet) {
        width: 105%;
    }

    &::after {
        display: block;
        padding-bottom: 100%;
        content: '';
    }

    svg {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
    }

    circle {
        stroke: currentColor;
        fill: none;
        stroke-width: 1px;

        &:first-of-type {
            opacity: 0.5;
        }

        &:last-child {
            opacity: 0;
        }
    }

}

.c-product__body {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 80%;
    padding-top: 0;
    text-align: center;
    transform: translate(-50%, -30px);
    transition: all $product-transition-duration ease-out;
    transition-property: transform, font-size;
    will-change: transform;

    @include mq(s-tablet) {
        padding-top: 80px;
    }
    @include mq(l-tablet, desktop) {
        padding-top: 20px;
    }

    @include mq(desktop) {
        padding-top: 0;
        padding-left: 30px;
        padding-right: 40px;
    }
}

.is-higher .c-product__body {
    @include mq(desktop) {

        padding-top: 40px;
    }
}

.c-product__title {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: rem(22px);
    font-weight: 700;
    letter-spacing: 1px;
    transition: inherit;
    transform-origin: 50% 100%;
    will-change: font-size;
    white-space: normal;

    @include mq(l-tablet, medium) {
        font-size: rem(18px);
    }
}

.c-product__tagline {
    margin: 10px 0 0;
    color: $color-light-50;
    font-size: rem(12px);
    letter-spacing: 1px;
    font-weight: 900;
    text-transform: uppercase;

    @include mq(l-tablet, medium) {
        font-size: rem(10px);
    }
}

.c-product__label {
    margin: 20px 0 0;
}




/* ==========================================================================
   ## STATES
   ========================================================================== */

a.c-product {
    cursor: default;

    .is-selectable & {
        cursor: pointer;
    }
}

@include mq($until: s-tablet) {
    .c-slider__item .c-product__body {
        visibility: hidden;
    }
    .c-slider__item.is-current .c-product__body {
        visibility: visible;
    }
}

.c-product.is-loading,
.is-active > .c-product,
.no-touchevents .is-selectable a.c-product:hover {
    .c-product__image-frame {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(-45deg);
        transition-delay: 100ms;
    }
}
@keyframes activeProductAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.97);
    }
    52% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(1);
    }
}

.is-active > .c-product {
    .c-product__image-frame > svg {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(-45deg);
        animation: activeProductAnimation 2s 20 ease-in-out;
        animation-fill-mode: forwards;
        animation-direction: alternate;
    }
}

.no-touchevents  {

    .c-product.is-loading,
    .is-active > .c-product,
    .is-selectable a.c-product:hover {

        .c-product__body {
            @include boost-performance(false);
            transform: translate(-50%, 0);
            transition-delay: 100ms;
        }

        .c-product__title {
            transform: scale(28 / 22);
        }

        .c-product__tagline {
            transition-delay: 100ms;
            transform: translate(0, 3px);
        }
    }

}

.c-product.is-loading,
.is-active > .c-product,
.no-touchevents .is-selectable {
    .c-product__image > img {
        @include boost-performance(false);
        will-change: transform;
    }
}


.c-product.is-loading {
    .c-product__image-frame circle:last-child {
        opacity: 1;
        animation: productLoadAnimation 2s infinite linear;
        transition: opacity 100ms;
    }
}

@keyframes productLoadAnimation {
    0% {
        stroke-dasharray: 300.6 200.4;
        stroke-dashoffset: 1004;
    }

    50% {
        stroke-dasharray: 1 500;
    }

    100% {
        stroke-dasharray: 300.6 200.4;
        stroke-dashoffset: 0;
    }
}