/* ==========================================================================

   radio
   ====

   radio custom

   ```
    <div class="o-radio">
        <input id="privacy" type="radio" class="o-radio__input">
        <label for="privacy" class="o-radio__label">
            Label
        </label>
    </div>
   ```
   ========================================================================== */

$radio-font-size: 14px !default;
$radio-check-font-size: 16px !default;

.o-radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    &__label {
        position: relative;
        display: inline-block;
        min-height: 20px;
        margin-bottom: 0;
        padding-left: 20px;
        font-weight: 100;
        font-size: rem($radio-font-size);
        line-height: rem($radio-font-size * 1.5);
        font-weight: 900;
        letter-spacing: 1px;
        cursor: pointer;
        &::before {
            content: '';
            display: inline-block;
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            left: 0;
            margin-left: -20px;
            border: 1px solid $color-light;
            background: transparent;
            outline: none;
            transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        }
        &::after {
            content: '';
            display: inline-block;
            position: absolute;
            width: 10px;
            height: 10px;
            left: 5px;
            top: 5px;
            //margin-top: -20px;
            margin-left: -20px;
            padding-left: 2px;
            padding-top: 2px;
            border-radius: 50%;
            background-color: $color-light;
            //font-size: rem($radio-check-font-size);
            //color: $color-light;
            //content: map-get($icons, confirm);
            transform: scale3d(0, 0, 0);
            transition: transform 0.2s ease;
        }
    }
    &__input {
        opacity: 0;
        position: absolute;
        margin: 4px 0 0;
        margin-top: 4px;
        margin-left: -20px;
        padding: 0;
        &:checked {
            + .o-radio__label {
                &::after {
                    transform: scale3d(1, 1, 1);
                }
            }
        }
    }
}