
#regulations-overlay{
    .info-reg {
        display: table-cell;
        vertical-align: middle;
        padding-left: 35px;

        h3 {
            font-size: 25px;
            font-weight: 300;
            color: #fff;
            margin-bottom: 0px;

            @include mq(s-tablet){
                font-size: 30px;
            }

            @include mq(desktop){
                font-size: 40px;
            }
        }
        p {
            font-size: 15px;
            margin-bottom: 0;

            @include mq(s-tablet){
                font-size: 18px;
            }

            @include mq(desktop){
                font-size: 20px;
            }
        }
    }
}


.o-regulations__item{
    display: table;
    width: 100%;
    height: 150px;
    border-bottom: 1px solid;

    &:last-child{
        border:none;
    }
}

.o-regulations__icon{
    width: 55px;
    display: table-cell;
    vertical-align: middle;


    @include mq(s-tablet){
        font-size: 75px;
    }

    @include mq(desktop){
        width: 95px;
    }

    svg {
        width: 100%;
        fill: #fff;
    }
}

.download-reg {
    display: table-cell;
    vertical-align: middle;
    width: 70px;
    text-align: center;
    font-size: 14px;
    transition: all 0.3s ease;

    @include mq(s-tablet){
        width: 90px;
        font-size: 16px;
    }

    @include mq(desktop){
        width: 100px;
    }

    svg {
        width: 35%;
        fill: #fff;
        opacity: 0.5;
        margin: 10px auto;
        display: block;
        transform: translateY(20px);
        transition: all 0.3s ease-in-out 0.1s;
    }

    span {
        opacity: 0;
        visibility: hidden;
        transform: translateY(20px);
        position: relative;
        display: block;
        transition: all 0.25s ease-in-out 0.15s;
    }

    &:hover {
        color: #fff;

        svg {
            transform: translateY(0px);
            opacity: 1;
        }

        span {
            opacity: 1;
            visibility: visible;
            transform: translateY(0px);
        }
    }
}
