/* ==========================================================================

   Scroller
   ====

   scroller

   ```
   <div class="o-scroller"></div>
   ```
   ========================================================================== */

.o-scroller {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;

    @include mq($until: desktop) {

        overflow-y: scroll;
    }

    @include mq($until: s-tablet) {
        position: static;
        height: 90vh;
    }
}