/* ==========================================================================

   Search
   ====

   search

   ```
   <header class="c-search">

        <form class="o-form">
            <div class="o-form__body">
                <fieldset class="o-form__fieldset">

                    <div class="o-form__group">

                        <input id="search-form" name="search-form" class="o-form__field" />
                        <div class="c-search__hint"><span class="o-ico o-ico--search"></span></div>
                        <label for="search-form" class="o-form__label"></label>

                    </div>

                </fieldset>
            </div>
        </form>

   </header>
   ```
   ========================================================================== */

$search-font-size: 58px !default;
$search-icon-font-size: 30px !default;
$search-error-font-size: 14px !default;

.c-search {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;

    .o-form__field {
        margin-bottom: 0;
        font-size: inherit;
        font-weight: 300;
        padding: 30px 20px 10px;
        padding-left: 55px;
        @include mq(l-tablet) {
            padding-left: 70px;
        }
        @include mq(desktop) {
            padding: 20px 0 20px 70px;
        }
    }

    .o-form__group,
    .o-form__fieldset {
        margin: 0;
        @include mq(s-tablet) {
            margin: 0;
        }
        @include mq(wide) {
            margin: 0;
        }
    }

    .o-scroller {
        top: 75px;
        height: calc(100vh - 75px);
        @include mq(l-tablet) {
            top: 110px;
            height: calc(100vh - 110px);
            mask: linear-gradient(to top, rgba(black, 0) 0, rgba(black, 0.5) 10%, rgba(black, 1) 25%, rgba(black, 1) 85%, rgba(black, 0) 100%);
        }
    }

}

.c-search__header {
    font-size: rem($search-font-size / 2);
    @include mq(l-tablet) {
        font-size: rem($search-font-size);
    }
}

.c-search__control {
    font-size: em($search-icon-font-size, $search-font-size);
}

.c-search__hint {
    width: 100%;
    position: relative;
    //float: left;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: left;
    padding: 30px 20px 10px;
    pointer-events: none;
    //display: inline-block;
    user-select: none;
    display: flex;
    align-items: baseline;

    @include mq(desktop) {
        padding: 20px;
    }

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: $color-light;
        left: 0;
        top: 100%;
        transition: transform 0.2s;
    }
}

.c-search__autocomplete {
    font-weight: 300;
    position: relative;
    display: block;
    padding: 0;
    width: 100%;
    color: rgba($color-light, 0.2);
    //float: left;
    padding-left: 20px;
    //min-height: 60px;
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    //font-size: rem($search-font-size / 1.5);
    visibility: visible;
    @include mq(s-tablet) {
        max-width: 100%;
    }

    .is-invisible {
        visibility: hidden;
    }

}

.c-search__error {
    font-size: rem($search-error-font-size / 1.2);
    line-height: rem($search-error-font-size);
    margin-top: 20px;

    @include mq(s-tablet) {
        line-height: rem($search-error-font-size * 4);
    }

    @include mq(l-tablet) {margin-top: 20px;
        font-size: rem($search-error-font-size);
    }

    @include mq(desktop) {
        margin-top: 0;
    }
}

/* ==========================================================================

   Search results
   ====

   search res

   ```
   <ul id="search-results" class="c-search__results">

        <li class="c-search__result">

            <a href="#" class="c-product" data-id-product="{{i}}">
                <div class="c-product__image">
                    <img src="/assets/images/products/i-love-fragola.png" alt="Vasetto I Love Fragola" data-load />

                    <span class="c-product__image-frame">
                        <svg xmlns="http://www.w3.org/2000/svg" width="264" height="264" viewBox="0 0 264 264">
                            <path fill="none" stroke="#fff" stroke-width="2" stroke-miterlimit="10" d="M132 2c71.797 0 130 58.202 130 130 0 71.797-58.203 130-130 130S2 203.797 2 132C2 60.202 60.203 2 132 2z"/>
                            <path fill="none" stroke="#fff" stroke-width="2" stroke-miterlimit="10" d="M132 2c71.797 0 130 58.202 130 130 0 71.797-58.203 130-130 130S2 203.797 2 132C2 60.202 60.203 2 132 2z" />
                        </svg>
                    </span>

                </div>
                <div class="c-product__body">
                    <h3 class="c-product__title">
                        I <span class="o-ico o-ico--heart" aria-label="Love"></span> Fragola
                    </h3>
                    <p class="c-product__tagline">Con frutta in pezzi</p>
                </div>
            </a>

        </li>

    </ul>
   ```
   ========================================================================== */

.c-search__results {
    @include clearfix();
    width: 100%;
    overflow: hidden;
    //mm
    padding: 80px 40px;
}

.c-search__result {
    width: 100%;
    padding-bottom: 160px;
    opacity: 0;
    visibility: hidden;


    @include mq(s-tablet) {
        width: 33.333%;
        float: left;
    }

    .c-product__image {
        //width: 200px;

        &::before {
            padding-bottom: $product-image-canvas-ratio * 60%;
        }

        > img {
            transform: translate(-50%, -50%) scale(0.30);
        }
    }

    .c-product__body {

        padding-top: 50px;
    }

    &.is-higher {

        padding-bottom: 280px;

        .c-product__body {

            padding-top: 90px;
        }

        //.c-product__image {
        //
        //    > img {
        //
        //        transform: translate(-50%, -50%) scale(0.25);
        //
        //    }
        //}
    }

}

#search-overlay {
    .c-overlay__body {

        @include mq($until: desktop) {
            overflow-y: hidden;
        }
    }
}