/* ==========================================================================

   Section Title
   ====

   Description

   ```
   <div></div>
   ```
   ========================================================================== */

.o-section {

    @include mq(l-tablet) {
        overflow: hidden;
        //position: fixed;
        //top: $top-gutter;
        //bottom: $top-gutter;
        //top: 0;
        //left: 0;
        //left: 0;
        //right: 0;
        margin: auto;
        width: calc(100% - #{$aside-width * 2});
        z-index: z-index(behind);
    }

    @include mq(l-tablet, desktop) {
        $aside-width: 30px;
        width: calc(100% - #{$aside-width * 2});
    }

    @include mq(desktop) {

        max-height: 100vh;

    }

}

.o-section__item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 1;
    z-index: z-index(base) + 1;

    @include mq(l-tablet) {
        //height: 100vh;
        padding: 80px 0;
    }

    //&.is-animating {
    //    opacity: 1;
    //}

    //@include mq(l-tablet) {
    //    position: absolute;
    //    top: 0;
    //    left: 0;
    //}

    //&.is-current {
    //    z-index: z-index(base) + 1;
    //    opacity: 1;
    //}

    //@include mq(l-tablet) {
    //    opacity: 0;
    //    position: absolute;
    //    top: 0;
    //    left: 0;
    //    overflow-x: hidden;
    //}
}

.o-section__inner {
    width: 100%;
    margin: 0 20px;

    @include mq(s-tablet) {
        margin: 0 60px;
    }

    @include mq(l-tablet, desktop) {
        margin: 0 80px;
    }

    @include mq(wide) {
        margin: 0 100px;
    }
}

.o-section__grid {
    @include clearfix();

    @include mq($until: l-tablet) {
        margin-bottom: 40px;
    }
}

.o-section__block {
    margin: 80px 0;

    @include mq(l-tablet) {
        width: 50%;
        float: left;
        padding: 20px;
    }
}


#lasciati-ispirare {
    padding: 0;
    height: 100vh;
}

#campaign-mix {
    .c-post{
        opacity: 1;
        visibility:visible;
        transform: translateY(0);
    }
}

#succede-cosi {

    .o-section__inner{
        margin: 0;
    }

    .o-winner__title{
        font-weight: 500;
    }

    .o-wall {
        min-height:auto;
    }

    .o-wall-wrap{
        margin-top: 150px;

        @include mq(desktop){
            padding: 0px 70px;
            margin-bottom: 50px;
        }

    }
}