$seek-bar-height: 5px;

$buffer-bar-bg: $color-gray;

$progress-bar-bg: $color-pink;

$seek-bar-track-size: 4px;

.c-seekbar {
    height: $seek-bar-height;
    position: absolute;
    bottom: -$seek-bar-height / 2;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .6);
    transition: all .3s ease;
    .no-touchevents &:hover {

        //height: $seek-bar-height * 1.5;
        //transform: translateY($seek-bar-height / 1.5);
        //transform: scale(1.1, 1.1);

    }
    &__item {
        transition: all .2s ease;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0;

        &--buffer {
            background: $buffer-bar-bg;
        }

        &--progress {
            background: $progress-bar-bg;
        }
    }
    &__field {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;

        -webkit-appearance: none;
        width: 100%;
        background: transparent;

        cursor: w-resize;

        border: none;

        &::-webkit-slider-runnable-track {
            -webkit-appearance: none !important;
            height: $seek-bar-height;
            padding: 0;
            border: none;
            background: transparent;
            outline: 0;
        }

        &::-moz-range-track {
            -moz-appearance: none !important;
            height: $seek-bar-height;
            padding: 0;
            border: none;
            background: transparent;
            outline: 0;
        }


        &::-ms-track {
            -ms-appearance: none !important;
            height: $seek-bar-height;
            padding: 0;
            border: none;
            background: transparent;
            outline: 0;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none !important;
            width: $seek-bar-track-size;
            height: $seek-bar-height;
            border: none;
            opacity: 0;
            border-radius: 0;
            background: transparent;
            box-shadow: none;
            cursor: w-resize;
        }

        &::-moz-range-thumb {
            -moz-appearance: none !important;
            width: $seek-bar-track-size;
            height: $seek-bar-height;
            border: none;
            opacity: 0;
            border-radius: 0;
            background: transparent;
            box-shadow: none;
            cursor: w-resize;
        }


        &::-ms-thumb {
            -ms-appearance: none !important;
            width: $seek-bar-track-size;
            height: $seek-bar-height;
            border: none;
            opacity: 0;
            border-radius: 0;
            background: transparent;
            box-shadow: none;
            cursor: w-resize;
        }

        &::-ms-ticks { -ms-appearance: none !important; display: none; }
        &::-ms-ticks-after { -ms-appearance: none !important; display: none;}
        &::-ms-ticks-before { -ms-appearance: none !important; display: none; }
        &::-ms-fill-lower { -ms-appearance: none !important; background: transparent; }
        &::-ms-fill-upper { -ms-appearance: none !important; background: transparent; }
        &::-ms-tooltip { -ms-appearance: none !important; display: none; }
    }
}


