/* ==========================================================================

   Sharer
   ====

   Social Sharing Widget

   ```
   <div class="c-sharer">
        <button class="c-sharer__control o-control o-control--stroke" aria-label="Attiva / disattiva audio" aria-controls="" aria-expanded="false" aria-haspopup="true">
            <span class="o-control__ico o-ico o-ico--share"></span>
        </button>
        <div class="c-sharer__networks">
            <button class="o-control" aria-label="Condividi su Pinterest">
                <span class="o-control__ico o-ico o-ico--pinterest"></span>
            </button>
            <button class="o-control" aria-label="Condividi su Facebook">
                <span class="o-control__ico o-ico o-ico--facebook"></span>
            </button>
            <span class="c-sharer__callout o-callout">
                Condividi la tua <br />esperienza Müller
            </span>
        </div>
   </div>
   ```
   ========================================================================== */

.c-sharer {
    position: relative;
}

.c-sharer__networks {
    position: absolute;
    bottom: 100%;
    left: 0;
    opacity: 0;
    padding-top: 20px;
    padding-bottom: 0px;
    text-align: center;
    transform: translateX(-10px);
    transition: opacity 250ms ease-out, transform 250ms ease-out;
    will-change: transform, opacity;
    visibility: hidden;

    @include mq(s-tablet) {
        padding-bottom: 20px;
    }

    > :first-child {
        transform: translateX(-10px);
        transition: all 100ms ease-out 300ms;
    }

    .o-control {
        font-size: font-size(16px);
    }
}

.c-sharer__callout {
    position: absolute;
    top: 50%;
    left: 100%;
    opacity: 0;
    white-space: nowrap;
    transform: translate(-10px, -50%);
    transition: all 250ms ease-out;
    pointer-events: none;
}



%active-state {


}
.c-sharer {

    //&:hover,
    //&:active,
    &.is-active {
        .c-sharer__control {
            border-color: rgba($color-light, 0.8);
            transform: rotate(-90deg);
        }

        .c-sharer__networks {
            opacity: 1;
            transform: translateX(0);
            transition-delay: 200ms;
            visibility: visible;

            > :first-child {
                transform: translateY(0);
                transition-delay: 200ms;
            }
        }

        @include mq(s-tablet) {
            .c-sharer__callout {
                opacity: 1;
                transform: translate(0, -50%);
                transition-delay: 500ms;
            }
        }

    }

}