/* ==========================================================================

   Slider
   ====

   Content Slider

   ```

   ```
   ========================================================================== */

.c-slider {
    position: relative;
}

.c-slider__body {
    display: inline-block;
    font-size: 0;
    white-space: nowrap;

    &[draggable] {
        cursor: -webkit-grab;
        cursor: -moz-grab;
    }

    @include mq(l-tablet) {
        display: flex;
        margin: 0 vw(40px) !important;
        flex-wrap: nowrap;
        align-items: center;
        font-size: inherit;
    }
}

.c-slider__item {
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: middle;

    @include mq(l-tablet) {
        .no-flexbox & {
            > * {
                display: inline-block;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }


    @include mq(l-tablet) {
        .flexbox & {
            display: flex;
            flex: 0 0 auto;
            justify-content: center;

            > * {
                flex: 0 0 auto;
            }
        }
    }
}



.c-slider__track {
    position: absolute;
    top: 50%;
    right: 0;
    left: 50vw;
    z-index: z-index(behind);
    height: 4px;
    background: url('/assets/images/scrollbar-track-bg.svg') repeat-x 0 center;
    transform: translateY(-50%);

    .c-slider[data-slide-state="scrolling"] > & {
        left: 0;
    }

    .c-slider[data-slide-state="scrollend"] > &{
        right: 50vw;
        left: 0;
    }

    @include mq(s-tablet) {

        //left: 33vw;

        .c-slider[data-slide-state="scrolling"] > & {
            left: 0;
        }
        .c-slider[data-slide-state="scrollend"] > & {
            //right: 33vw;
            left: 0;
        }

    }

    @include mq(l-tablet) {
        display: none;

        &,
        .c-slider[data-slide-state] > & {
            right: 70px;
            left: 70px;
        }

        .c-slider[data-slide-state="scrollend"] > & {
            right: 20vw;
            left: 70px;
        }

        .is-scrollable & {
            display: block;
        }
    }

    //fallback
    .borderimage & {
        height: 0;
        margin-top: 1px;
        border: 3px solid transparent;
        border-image: url('/assets/images/scrollbar-track-bg.svg') 3 3 0 0 round;
        background: none;
    }
}

html[data-agent='firefox']{
    .c-slider__track {
        border: 2px solid transparent;
        border-image: url('/assets/images/scrollbar-track-bg.svg') 1 3 1 0 round;
    }
}
html[data-agent='ie']{
    .c-slider__track {
        border: 2px solid transparent;
        border-image: url('/assets/images/scrollbar-track-bg.svg') 2 2 0 0 round;
    }
}


%slider__control-circle {
    position: absolute;
    top: 50%;
    width: 8px;
    height: 8px;
    border: 2px solid $color-light;
    border-radius: 50%;
    content: '';
    transform: translate(0, -50%);
    transition: inherit;
}

.c-slider__control {
    position: absolute;
    top: 50%;
    max-width: 70px;
    z-index: z-index(above);
    display: block;
    transform: translate(0, -50%);
    transition: all 150ms ease-out;

    @media (max-width: 480px) {
        &::after {
            display: none;
        }
    }

    &:hover::after {
        width: 20px;
        height: 20px;
    }

    &.is-disabled,
    &[disabled] {
        opacity: 0.5;

        &:hover::after {
            width: 8px;
            height: 8px;
            transform: translate(0, -50%);
        }

        &:hover > .o-control__ico {
            transform: none;
        }
    }

    > .o-control__ico {
        transition: inherit;
    }

    //TODO: needs :focus
}

.c-slider__control--left {
    padding-right: 40px;

    &::after {
        @extend %slider__control-circle;
        right: 15px;
    }

    &:hover::after {
        transform: translate(6px, -50%);
    }

    &:hover > .o-control__ico {
        transform: translate(-5px, 0);
    }
}

.c-slider__control--right {
    right: 0;
    padding-left: 40px;
    //order: 999; //last!

    &::after {
        @extend %slider__control-circle;
        left: 15px;
    }

    &:hover::after {
        transform: translate(-6px, -50%);
    }

    &:hover > .o-control__ico {
        transform: translate(5px, 0);
    }

}

.c-slider[data-slide-state="scrollend"] {
    .c-slider__control--right {
        opacity: 0;
        visibility: hidden;
    }
}

.c-slider[data-slide-state="scrollstart"] {
    .c-slider__control--left {
        opacity: 0;
        visibility: hidden;
    }
}