/* ==========================================================================

   Slider Home Media
   ====

   Full-size Slider Home Media

   ```
   <div></div>
   ```
   ========================================================================== */

%c-sliderHome-pos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.c-sliderHome {
    @extend %c-sliderHome-pos;
    z-index: -99;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba(37, 59, 166, 0) 20%, rgba(37, 59, 166, 0.498039) 60%, rgb(37, 59, 166) 100%);
    }
}


//.c-sliderHome__image {
//    @extend %c-cover-pos;
//    z-index: z-index(base) + 1;
//    overflow: hidden;
//}

$slides: 5;
$time_per_slide: 4;
$total_animation_time: $time_per_slide * $slides;

.c-sliderHome-src {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;
    animation: round #{$total_animation_time}s infinite;

}

@keyframes round {
    25% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
}

@for $index from 1 to $slides + 1 {
    .c-sliderHome-src:nth-child(#{$index}) {
        animation-delay: #{$total_animation_time - $time_per_slide * $index}s
    }
}