//body.socialwall{
//	overflow: auto;
//
//    .c-cover {
//        opacity: 0;
//        transition: opacity 400ms;
//    }
//}

body.socialwall:not(.is-ui-blocked) {
    overflow: auto;

    .c-cover {
        opacity: 0;
        transition: opacity 400ms;
    }

    .o-burger {
        $burger-color: rgba($color-gray, 0.5);

        &::before,
        &::after {
            background-color: $burger-color;
        }

        .o-burger__ico {
            background-color: $burger-color;
        }
    }

    #footer {
        color: rgba($color-gray, 0.5);
    }

    #footer-controls {
        .o-control {
            border-color: rgba($color-gray, 0.5);
            color: rgba($color-gray, 0.5);
        }
    }

    #header-search {
        color: rgba($color-gray, 0.5);
    }

}

//.socialwall #loader{
//	display: none;
//}

#social-wall{

	text-align: center;

	.sw-top{
		margin-top: 70px;
		margin-bottom: 70px;
	}
	.sw-container{
		width: 90%;
		margin: 0 auto;
		color: #818181;
	}
	.sw-title{
		font-family: "museo-sans-rounded";
		color: $color-light-blue;
	}

	.sw-item{

		padding: 1.5%;
		float: left;

		width: 100%;
		@include mq(s-tablet){
			width: calc(100% / 2);
		}
		@include mq(l-tablet){
			width: calc(100% / 3);
		}

		&_inner{
			position: relative;
			.no-touchevents &{
				opacity: 0;
				transform: translateY(50px);
				transition: all 0.5s;
			}
		}

		&_video{
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
			// width: 100%;
			// height: auto;
			// transform: translate3d(0,0,0);
			// backface-visibility: hidden;
		}

		&._show{
			.sw-item_inner{
				opacity: 1;
				transform: translateY(0);
			}
		}

		&_image{
			width: 100%;
			z-index: 5;
			position: relative;
		}

		&_overlay{
			display: flex;
			position: absolute;
			top: 10px;
			left: 10px;
			right: 10px;
			bottom: 10px;
			background: rgba($color-blue-sw, 0.7);
			z-index: 10;
			color: #fff;
			font-size: 15px;

			-ms-flex-align: center;
			-webkit-align-items: center;
			-webkit-box-align: center;
			align-items: center;

			.no-touchevents &{
				opacity: 0;
				visibility: hidden;
				transition: all 0.3s;
				transform: scale(0.9);
			}

			&-inner{
				padding: 0 10%;
				width: 100%;
			}

		}

		&_social-icon{
			margin-bottom: 10%; //35px;

			.no-touchevents &{
				opacity: 0;
				transform: translateY(20px);
				transition: all 0.3s;
			}

		}
		&_time{
			font-size: 10px;
			text-transform: uppercase;
			margin-bottom: 15%; //50px;

			.no-touchevents &{
				opacity: 0;
				transform: translateY(-10px);
				transition: all 0.3s;
			}

		}

		&_text{

			.no-touchevents &{
				transform: translateY(-10px);
				opacity: 0;
				transition: all 0.3s;
			}

		}

		&--video{

			.sw-item_inner{
				background: #808080;
			}

			.sw-item_video{
				opacity: 0;
				width: 100%;
				height: auto;
			}
			.sw-item_image{
				opacity: 0.7
			}

			button{
				width: 72px;
				height: 72px;
				border: 1px solid #fff;
				border-radius: 50%;
				appearance: none;
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -36px auto auto -36px;
				z-index: 15;
				background: none;
				span{
					display: block;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 7.5px 0 7.5px 14px;
					border-color: transparent transparent transparent #ff0000;
				    box-sizing: content-box;
				    margin: 0 auto;
				}
			}

			&.show_video{
				.sw-item_video{

					opacity: 1;

				}
				.sw-item_image{

					opacity: 0;
					visibility: hidden;
					z-index: -1;

				}

				button{

					opacity: 0;
					visibility: hidden;
					z-index: -1;

				}
			}

		}

		&--instagram{
			.sw-item_social-icon{
				width: 20px;
			}
		}
		&--pinterest{
			.sw-item_social-icon{
				width: 18px;
			}
		}
		&--facebook{
			.sw-item_social-icon{
				width: 10px;
			}
		}

		&--no-image{
			color: #adb2cc;
			.sw-item_inner{
				background: #f0f0f0;
				padding: 15px;
			}
			.sw-item_overlay{
				position: relative;
				opacity: 1;
				visibility: visible;
				transform: scale(1);
				display: block;
				top: auto;
				left: auto;
				bottom: auto;
				right: auto;
				background: none;
				color: #adb2cc;

				.sw-item_time,
				.sw-item_social-icon,
				.sw-item_text{

					opacity: 1;
					transform: none;

				}

				.sw-item_time,
				a{
					color: $color-blue-sw;
				}

				.sw-item_overlay-inner{
					padding: 10%;
				}

			}

			.no-touchevents &:hover .sw-item_overlay{
				background: #fff;
			}

		}

		.no-touchevents &:hover{

			.sw-item_overlay{
				opacity: 1!important;
				visibility: visible!important;
				transform: scale(1)!important;
			}

			.sw-item_time,
			.sw-item_social-icon,
			.sw-item_text{
				opacity: 1;
				transform: translateY(0);
				transition-delay: 0.15s;
			}
			.sw-item_text{
				transition-delay: 0.3s;
			}

		}

	}

	#social-wall-masonry > div:nth-child(2){
		@include mq(s-tablet){
			margin-top: 40px;
		}
	}

}