#start-cont {
    position: absolute;
    top: -45px;
    left: 0;
    margin: auto;
    overflow: hidden;
    width: 100%;
    height: calc(100% + 45px);

    @include mq(s-tablet) {
        top: 0;
        height: 100%;
    }
}

$space-delay: 140px;
$space-delay-neg: - ($space-delay*2);

.c-start__button {
    @extend %text-small;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    z-index: 300;
    cursor: pointer;
    left: 50%;
    top: 48%;
    // display: none;

    @include mq(s-tablet){
        top: 50%;
    }



    span {
        display: block;
        margin-top: 8px;

        &:last-child{
            display: none;

            @include mq(s-tablet){
                display: block;
            }
        }
    }

    .o-indicator-text {
        opacity: 0;

        @include mq($until: l-tablet) {
            padding: 0;
        }

        // padding: 0 $space-delay;
        // margin: 0 $space-delay-neg;
    }

}

.c-start__slogan {
    position: absolute;
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    font-family: $font-title;
    margin-top: 20px;
    bottom: 1%;
    left: 0;
    width: 100%;
    text-align: center;
    will-change: transform;

    opacity: 0;
    z-index: 10;

    @include mq(s-tablet){
        bottom: 5%;
        font-size: 30px;
    }

    @include mq(l-tablet){
        bottom: auto;
        width: auto;
        left: auto;
        text-align: left;
        font-size: 40px;
    }

    span {
        display: block;
    }

    .cta-concorso {
        margin-top: 0px;
        position: static;

        @include mq(l-tablet) {
            margin-top: 10px;
        }

        .c-balloon--claim {
            transform: scale(0.9);
            margin-left: -130px;

            @include mq(l-tablet) {
                margin-left: 0px;
            }
        }

        .c-balloon__label{
            display: inline-block;
            text-align: left;
        }
    }
}



.c-start__play {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #f00;
    font-size: rem(25px);
    opacity: 0;

    @include mq(s-tablet){
        margin-top: 80px;
        margin-bottom: 30px;
    }
}

.c-start--hidden{
    display:none;
}