$number-size: 50px;

.c-step {
    position: relative;
    margin: 10%;

    &::after {
        position: absolute;
        content: '';
        top: -5%;
        left: -5%;
        width: 110%;
        height: 0;
        padding-bottom: 110%;

        background-color: transparent;
        border: 1px solid rgba($color-white, 0.5);
        border-radius: 50%;
    }
}

.c-step__icon-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.c-step__icon {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: $color-blue-opaque;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    .o-ico {
        font-size: rem(50px);
    }
}

.c-step__number-container {
    text-align: center;
    font-size: rem(20px);
    color: $color-black;
}

.c-step__number {
    position: relative;
    width: $number-size;
    height: $number-size;
    margin: auto;
    line-height: $number-size;
    transform: translateY(-30%);

    &:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        background-color: $color-white;
        border-radius: 50%;
        width: $number-size;
        height: $number-size;
        z-index: -1;
    }
}

.c-step__label {
    margin: 0 auto;
    font-weight: 100;

    text-align: center;
    text-transform: uppercase;

    strong {
        display: block;
        font-weight: 500;
    }
}