/* ==========================================================================

   sticker
   ====

   sticker

   ```
    <div class="o-sticker">
        <span class="o-sticker__ico o-ico o-ico--play"></span>
    </div>

    <div class="o-sticker">
        <span class="o-sticker__ico o-ico o-ico--arrow-right"></span>
    </div>
   ```
   ========================================================================== */

.o-sticker {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 0;
    padding: 10px;
    border: 0;
    //background-color: $color-light-50;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    //color: $color-pink;
    color: #ddd;
    opacity: 0.7;
    border: solid 2px #ddd;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    user-select: none;
    touch-action: manipulation;
    position: relative;

}

.o-sticker__ico {
    display: block;
    min-width: 1em;
    height: 1em;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}