/* ==========================================================================

   suggestion
   ====

   suggestion

   ```
   <figure class="c-suggestion">
    <img class="c-suggestion__thumb" src="http://unsplash.it/150/40?random" />
    <figcaption>
        E' il codice alfanumerico che trovi sull'opercolo vicino alla data di scadenza
    </figcaption>
   </figure>
   ```
   ========================================================================== */

$suggestion-font-size: 10px !default;

.c-suggestion {
    position: relative;
    width: 150px;
    border-radius: 25px;
    background-color: rgba($color-light, 0.2);
    color: $color-light-50;
    font-size: rem($suggestion-font-size);
    &__thumb {
        max-width: 100%;
        padding: 20px 20px 0;
    }
    figcaption {
        padding: 20px;
    }
    &::before {
        position: absolute;
        content: '';
        left: -10px;
        top: 30px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right:10px solid  rgba($color-light, 0.2);
    }
}