/* ==========================================================================

   Table
   ====

   Tables

   ```

   ```
   ========================================================================== */

%table-cell {
    padding-top: 20px;
    font-size: font-size(16px);
    font-weight: 300;
    line-height: 1.2;
    vertical-align: top;
    letter-spacing: 0.05em;

    @include mq(l-tablet) {
        font-size: font-size(18px);
    }
}

.o-table {
    width: 100%;
    border-collapse: separate;

    caption,
    &__caption {
        opacity: 0.4;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: font-size(16px);
        font-weight: 300;
        text-align: center;

        @include mq(s-tablet) {
            text-align: left;
        }
    }

    th,
    &__header {
        @extend %table-cell;
        font-weight: 500;
        text-align: left;
        text-transform: uppercase;
    }

    td,
    &__cell {
        @extend %table-cell;
        text-align: right;
    }
}

.o-table__row--quiet {

    th,
    td,
    .o-table__cell,
    .o-table__header {
        padding-top: 2px;
        padding-left: 0.7em;
        color: $color-light-50;
        font-size: font-size(12px);
        font-weight: 100;
    }
}


.o-table--striped {

    th,
    td,
    &__header,
    &__cell {

        &::before {
            display: block;
            height: 4px;
            margin-bottom: -2px;
            background-color: rgba($color-light, 0.07);
            content: '';
            transform: translateY(0.55em);
        }

        &:first-child::before {
            margin-left: -10px;
            border-radius: 1em 0 0 1em;
        }

        &:last-child::before {
            margin-right: -10px;
            border-radius: 0 1em 1em 0;
        }
    }

    .o-table__row--quiet {
        > *::before {
            display: none;
        }
    }

}