/* ==========================================================================

   Tablist
   ====

   Tabbed / anchor scrolled Interface

   ```
   <section class="c-tablist">

        <ul class="o-pag c-tablist__pag">
            <li class="o-pag__item is-current c-tablist__tab">
                <a href="#prodotto" class="o-pag__anchor" id="tab-1">
                    <span class="o-pag__label">Prodotto</span>
                </a>
            </li>
            <li class="o-pag__item c-tablist__tab">
                <a href="#ingredienti" class="o-pag__anchor" id="tab-2">
                    <span class="o-pag__label">Lista<br>Ingredienti</span>
                </a>
            </li>
            <li class="o-pag__item c-tablist__tab">
                <a href="#valori-nutrizionali" class="o-pag__anchor" id="tab-3">
                    <span class="o-pag__label">Valori<br>Nutrizionali</span>
                </a>
            </li>
        </ul>

        <div class="c-tablist__panel-wrap">
            <article class="c-tablist__panel is-current o-text" id="tab-panel-1">
                <p>
                    2) Yogurt cremoso <strong>
                </p>
            </article>
            <article class="c-tablist__panel o-text" id="tab-panel-2">
                <p>
                    2) Yogurt cremoso <strong>
                </p>
            </article>
            <article class="c-tablist__panel o-text" id="tab-panel-3">
                <p>
                    3) Yogurt cremoso <strong>
                </p>
            </article>
        </div>

   </section>
   ```
   ========================================================================== */

$tablist-pagination-size: 160px;

.c-tablist {
    position: relative;

    @include mq(l-tablet) {
        display: flex;
        align-items: center;
        align-content: center;
    }
}

.c-tablist__description {
    position: relative;
    z-index: z-index(above);
    text-align: center;
    white-space: normal;

    @include mq(s-tablet) {
        text-align: left;
    }
}

.c-tablist__pag {
    position: relative;
    z-index: z-index(above);

    @include mq($until: l-tablet) {
        display: none;
    }

    @include mq(l-tablet) {
        flex: 0 0 $tablist-pagination-size;
        order: 1;

        &.o-pag--rev {
            order: 3;
        }
    }
}

.c-tablist__panel-wrap {
    position: relative;

    @include mq(l-tablet) {
        max-width: calc(100% - #{$tablist-pagination-size});
        align-content: flex-start;
        flex: 1 1 auto;
        order: 2;
    }

}

.c-tablist__panel {
    position: relative;
}

.c-tablist__footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: $tablist-pagination-size;
    z-index: z-index(above);
    display: none;
    text-align: center;

    @include mq(l-tablet) {
        display: block;
    }
}

/* ==========================================================================
   ## BLOCK MODIFIER
   ========================================================================== */


/* ==========================================================================

   ### Tabbed like interface

   ```
   <section class="c-tablist c-tablist--tabbed">

        <ul class="o-pag c-tablist__pag">
            <li class="o-pag__item is-current c-tablist__tab">
                <a href="#prodotto" class="o-pag__anchor" id="tab-1">
                    <span class="o-pag__label">Prodotto</span>
                </a>
            </li>
            <li class="o-pag__item c-tablist__tab">
                <a href="#ingredienti" class="o-pag__anchor" id="tab-2">
                    <span class="o-pag__label">Lista<br>Ingredienti</span>
                </a>
            </li>
            <li class="o-pag__item c-tablist__tab">
                <a href="#valori-nutrizionali" class="o-pag__anchor" id="tab-3">
                    <span class="o-pag__label">Valori<br>Nutrizionali</span>
                </a>
            </li>
        </ul>

        <div class="c-tablist__panel-wrap">
            <article class="c-tablist__panel is-current o-text" id="tab-panel-1">
                <p>
                    2) Yogurt cremoso <strong>
                </p>
            </article>
            <article class="c-tablist__panel o-text" id="tab-panel-2">
                <p>
                    2) Yogurt cremoso <strong>
                </p>
            </article>
            <article class="c-tablist__panel o-text" id="tab-panel-3">
                <p>
                    3) Yogurt cremoso <strong>
                </p>
            </article>
        </div>

   </section>
   ```
   ========================================================================== */

.c-tablist--tabbed {

    .c-tablist__panel-wrap {
        position: relative;
        overflow: visible;

        @include mq(l-tablet) {
            font-size: 0;
            white-space: nowrap;
            transition: all 200ms ease-out;
        }

    }

    .c-tablist__panel {
        position: relative;
        margin: 0 0 3em 0;
        text-align: center;
        vertical-align: top;
        white-space: normal;

        @include mq($until: l-tablet) {
            left: 0 !important; //override js styles
        }


        @include mq(l-tablet) {
            z-index: z-index(behind);
            display: inline-block;
            opacity: 0;
            width: 100%;
            margin-bottom: 0;
            text-align: left;
            transform: translate3d(0, -50vh, 0);
            -ms-transform: translate3d(0, -200%, 0); //IE hates vw amd vh transitions
            transition: transform 300ms ease-in-out, opacity 200ms ease-out;

            &.is-current {
                z-index: z-index(base);
                opacity: 1;
                transform: translate3d(0, 0, 0);
                transition-delay: 0.1s, 0.2s;
            }

            &.is-current  ~ .c-tablist__panel {
                transform: translate3d(0, 50vh, 0);
                -ms-transform: translate3d(0, 200%, 0); //IE hates vw amd vh transitions
            }

        }

    }
}


/* ==========================================================================

   ### Scrollable interface with anchors

   ```

   ```
   ========================================================================== */

.c-tablist--scrollable {

    $scrollable-panel-height: 55vh;

    .c-tablist__panel-wrap {
        overflow: visible;
    }

    .c-tablist__panel {
        padding-top: 60px;
        padding-bottom: 30px;

        .no-cssmask & {
            padding-top: 30px;
            padding-bottom: 0;
        }

        @include mq(s-tablet, l-tablet) {
            padding-top: 0;
        }

    }

    .c-tablist__scroll-wrap {

        @include mq($until: s-tablet) {
            > * {
                transform: none !important;
            }
        }

        @include mq(l-tablet) {

            position: relative;
            top: -60px;
            overflow: hidden;
            //padding-bottom: 100px;
            mask: linear-gradient(to top, rgba(black, 0) 0, rgba(black, 0.5) 10%, rgba(black, 1) 25%, rgba(black, 1) 85%, rgba(black, 0) 100%);

            .no-touchevents & {
                > * {
                    transition: transform 150ms !important;
                }
            }

            .no-cssmask & {
                top: -30px;
                padding-bottom: 0;
            }

        }

    }
}

/* ==========================================================================

   ### Full size wrapper

   ```
   <section class="c-tablist c-tablist--full">

        <ul class="o-pag c-tablist__pag">
            <li class="o-pag__item is-current c-tablist__tab">
                <a href="#prodotto" class="o-pag__anchor" id="tab-1">
                    <span class="o-pag__label">Prodotto</span>
                </a>
            </li>
            <li class="o-pag__item c-tablist__tab">
                <a href="#ingredienti" class="o-pag__anchor" id="tab-2">
                    <span class="o-pag__label">Lista<br>Ingredienti</span>
                </a>
            </li>
            <li class="o-pag__item c-tablist__tab">
                <a href="#valori-nutrizionali" class="o-pag__anchor" id="tab-3">
                    <span class="o-pag__label">Valori<br>Nutrizionali</span>
                </a>
            </li>
        </ul>

        <div class="c-tablist__panel-wrap">
            <article class="c-tablist__panel is-current o-text" id="tab-panel-1">
                <p>
                    2) Yogurt cremoso <strong>
                </p>
            </article>
            <article class="c-tablist__panel o-text" id="tab-panel-2">
                <p>
                    2) Yogurt cremoso <strong>
                </p>
            </article>
            <article class="c-tablist__panel o-text" id="tab-panel-3">
                <p>
                    3) Yogurt cremoso <strong>
                </p>
            </article>
        </div>

   </section>
   ```
   ========================================================================== */

.c-tablist--full {

    .c-tablist__panel-wrap {
        @include mq(l-tablet) {
            max-width: 100%;
        }
    }
    .c-tablist__scroll-wrap {
        @include mq(l-tablet) {
            top: -100px;
            padding-top: 100px;
            max-height: 100vh;
        }
    }

    .c-tablist__panel {
        @include mq(l-tablet) {
            min-height: 80vh;
        }
    }

    .c-tablist__pag {

        @include mq(l-tablet) {
            width: 0;
            flex: 0 0 auto;
        }
    }

    .c-tablist__footer {
        left: 0;
    }

}

.c-tablist--campaign {
    @include mq(l-tablet) {
        height: 100vh;
    }
}