/* ==========================================================================

   taxonomy
   ====

   taxonomy

   ```
    <ul class="c-taxonomy">
        <li class="c-taxonomy__item">TUTTI</li>
        <li class="c-taxonomy__item">VIDEO</li>
        <li class="c-taxonomy__item">FOTO</li>
        <li class="c-taxonomy__item">STORIE</li>
    </ul>
   ```
   ========================================================================== */

$taxonomy-font-size: 16px !default;

.c-taxonomy {
    width: 100%;
    text-align: center;
    margin: 20px 0;

    @include mq(s-tablet) {
        margin: 40px 0;
    }
}

.c-taxonomy__item {
    font-size: rem($taxonomy-font-size / 1.5);
    font-weight: 500;
    color: $color-gray-light;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
    transition: color 150ms linear;

    @include mq(s-tablet) {
        padding: 0 20px;
        font-size: rem($taxonomy-font-size);
    }
}

/* ==========================================================================
   ## states
   ========================================================================== */

/* ==========================================================================

   ### :hover, .is-active

   ```
       <ul class="c-taxonomy">
        <li class="c-taxonomy__item is-active">TUTTI</li>
        <li class="c-taxonomy__item">VIDEO</li>
        <li class="c-taxonomy__item">FOTO</li>
        <li class="c-taxonomy__item">STORIE</li>
    </ul>
   ```
   ========================================================================== */



.c-taxonomy__item.is-active {
    color: $color-pink;
    font-weight: 900;
}

.no-touchevents .c-taxonomy__item {
    &:hover {
        color: $color-pink;
    }
}