/* ==========================================================================

   Text
   ====

   Text Content

   ```
   <article class="o-text">
        <h3 class="o-text__title">
            Con Müller la frutta la senti veramente.
        </h3>
        <p>
            Bianco Crema di Yogurt: <strong>il tuo primo amore</strong>,
            irripetibile ed originale, da oggi con il 30% dei grassi in meno.
            Bianco 0,1: <strong>un amore leggero e spensierato</strong>,
            perché privo di grassi e dolcificanti artificiali.
            Bianco Essenza: <strong>l’amore puro e
            autentico</strong>, morbido e avvolgente,
            ma senza zuccheri aggiunti.
        </p>
   </article>
   ```
   ========================================================================== */

$text-font-size: 18px !default;

.o-text {
    font-size: rem($text-font-size);
    font-weight: 300;
    word-wrap: break-word;
    overflow-wrap: break-word;

    //a {
    //    position: relative;
    //    display: inline-block;
    //    color: $color-ui-active !important;
    //    text-decoration: none;
    //
    //    &::after {
    //        position: absolute;
    //        bottom: 0;
    //        left: 0;
    //        display: block;
    //        width: 100%;
    //        border-bottom: 1px solid currentColor;
    //        content: '';
    //        opacity: 0;
    //        transform: translateY(-2px);
    //        transition: all $transition-duration ease;
    //        transition-property: opacity, transform;
    //    }
    //
    //    &:hover::after {
    //        opacity: 0.7;
    //        transform: translateY(1px);
    //    }
    //}

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        &:not([class]) {
            margin-top: 0;
            margin-bottom: 1.5em;
        }
    }

    strong {
        font-weight: 700;
    }

    small {
        font-size: em($text-font-size - 2, $text-font-size);
    }

    ol,
    ul {
        overflow: hidden;
        margin-top: 0.1em;
        padding-left: 1.5em;
    }

    ul {
        list-style-type: disc;
    }

    li,
    p {
        line-height: em(24px, $text-font-size);
    }

    li {
        margin-bottom: 0.1em;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-right: auto;
        margin-bottom: 1em;
        margin-left: auto;
    }

    table:not([class]) {
        overflow-x: auto;
        margin-bottom: 2em;

        &.table--large {
            width: 100%;
        }

        td,
        th {
            padding: 0.2em 0.5em;
            border-bottom: 1px solid $color-light-50;
            text-align: left;

            &.numeric {
                text-align: right;
            }
        }

        th {
            font-weight: bold;
            text-align: center;
        }
    }

    blockquote {
        margin-bottom: 2em;
        font-style: italic;
    }

    iframe,
    object,
    embed {
        width: 100%;
    }
}

.o-text__tagline {
    margin-top: 0;
    margin-bottom: 1em;
    color: $color-light-50;
    font-size: em($text-font-size - 2, $text-font-size);
    font-weight: 500;
    text-transform: uppercase;
}

.o-text__title {
    margin-top: 0;
    margin-bottom: 0.625em;
    color: $color-light;
    font-weight: 500;
    line-height: 1.15;
}

.o-text__title--huge {
    @include mq(s-tablet) {
        font-size: rem(78px);
        font-weight: 100;
        margin-bottom: 0;

        small {
            font-size: rem(40px);
        }
    }
}

.o-text__title--big {
     @include mq(s-tablet) {
         font-size: rem(46px);
     }
 }

.o-text__title--small {
    @include mq(s-tablet) {
        font-size: rem(23px);
        font-weight: 100;
    }
}
