/* ==========================================================================

   File upload
   ====

   file upload custom

   ```
    <div class="o-upload">
        <button class="o-control o-control--stroke">
            <span class="o-ico o-ico--upload"></span>
        </button>
        <input id="attachment" type="file" class="o-upload__input">
        <label for="attachment" class="o-upload__label">
            <span class="o-upload__hint">carica un file</span>
            <span class="o-upload__ext">(formati: pdf, jpg, png, tiff)</span>
            <span class="o-upload__filename"> nomefile-selezionato.ext </span>
        </label>
    </div>
   ```
   ========================================================================== */

$upload-hint-font-size: 16px !default;
$upload-ext-font-size: 10px !default;
$upload-filename-font-size: 12px !default;

.o-upload {
    position: relative;
    //overflow: hidden;
    margin: 10px 0;


    .o-control--stroke {

        .o-ico {
            color: $color-light;
        }
    }

    &__input {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: z-index(above);
        opacity: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        appearance: button;
        width: 100%;

    }

    &__label {
        position: absolute;
        padding-left: 10px;
        width: 100%;
        height: 100%;
        color: $color-light;
        cursor: pointer;

        .o-upload__input[required] + & {
            > .o-upload__hint::after {
                content: ' *';
            }
        }
    }

    &__hint {
        position: absolute;
        top: 50%;
        display: block;
        font-size: rem($upload-hint-font-size);
        transform: translateY(-50%);
        transform-origin: 0 50%;
    }

    &__filename {
        position: absolute;
        top: 50%;
        display: block;
        font-size: rem($upload-filename-font-size);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 80px;
        transform: translateY(-50%);
        visibility: hidden;
        opacity: 0;
    }

    &__ext {
        visibility: hidden;
        display: block;
        font-size: rem($upload-ext-font-size);
        position: absolute;
        bottom: 0;
        opacity: 0;
    }

    .o-form__error {
        left: 0;
    }
}

.o-upload {
    .o-ico,
    .o-control--stroke,
    .o-upload__hint,
    .o-upload__filename,
    .o-upload__ext,
    .o-upload__label {
        transition: all 150ms ease-out;
    }
}

/* ==========================================================================
   ## States
   ========================================================================== */

//.o-upload {
//    .no-touchevents & {
//        .o-ico,
//        .o-control--stroke,
//        .o-upload__hint,
//        .o-upload__filename,
//        .o-upload__ext,
//        .o-upload__label {
//            transition: all 150ms ease-out;
//        }
//        &:hover {
//
//            .o-control--stroke {
//
//                color: $color-light;
//
//                border-color: currentColor;
//
//                .o-ico {
//                    color: currentColor;
//                }
//            }
//
//            .o-upload__label {
//                color: $color-light;
//            }
//
//            .o-upload__hint {
//                transform: translateY(0);
//                top: 0;
//            }
//
//
//        }
//    }
//}

/* ==========================================================================

   ### Upload selected

   ```
   <div class="o-upload o-control o-control--stroke is-filled">
        <span class="o-ico o-ico--upload"></span>
        <input id="attachment" type="file" class="o-upload__input">
        <label for="attachment" class="o-upload__label">
            carica un file
        </label>
    </div>
   ```
   ========================================================================== */

%upload-active-state {

    .o-control--stroke {
        border-color: currentColor;
    }

    .o-upload__hint {
        top: 0;
        opacity: 0.5;
        transform: translateY(-20%) scale(12px / $upload-hint-font-size);
    }

    .o-upload__ext {
        opacity: 0.5;
        visibility: visible;
    }

    .o-upload__filename {
        opacity: 1;
        visibility: visible;
    }
}

.no-touchevents .o-upload:hover,
.o-upload.is-filled {
    @extend %upload-active-state;
}


.o-upload.has-error {

    .o-ico {
        color: currentColor !important;
    }

    .o-form__error {
        transform: translateY(10px);
    }

    .o-upload__label {
        color: currentColor;
    }
}

.o-upload {
    &.is-filled {
        //.o-control--stroke {
        //    color: $color-light;
        //    border-color: currentColor;
        //    .o-ico {
        //        color: currentColor;
        //    }
        //}
        //.o-upload__filename {
        //    color: $color-light;
        //    opacity: 1;
        //    visibility: visible;
        //}
        //.o-upload__hint {
        //    color: $color-light;
        //    transform: translateY(0);
        //    top: 0;
        //}
        //.o-upload__ext {
        //    color: $color-light;
        //    opacity: 1;
        //    visibility: visible;
        //}
    }
}

.o-upload--landing {
    .o-control--stroke {
        border-color: $color-bordeaux;
        .o-ico {
            color: $color-bordeaux;
        }
    }
    .o-upload__label {
        color: $color-bordeaux;
    }
}
