/* ==========================================================================

   Video
   ====

   video

   ```
       <figure class="c-video">
            <div class="c-video__thumb"></div>
            <div class="c-video__media" data-type="YT-video" data-video-id="ly6Ah_qJn2w"></div>
            <button class="o-control c-video__start">
                <span class="o-control__ico o-ico o-ico--play"></span>
            </button>
            <span class="o-text c-video__label">PLAY VIDEO</span>
            <div class="c-video__controls">
                <button class="c-video__play is-paused">
                    <span class="o-ico o-ico--play"></span>
                    <span class="o-ico o-ico--pause"></span>
                </button>
                <div class="c-seekbar">
                    <div class="c-seekbar__item c-seekbar__item--buffer"></div>
                    <div class="c-seekbar__item c-seekbar__item--progress"></div>
                    <input class="c-seekbar__field" type="range" step="any" value="0">
                </div>
            </div>
            <figcaption>
                <span class="c-video__caption">guarda lo spot <strong>Crunchy</strong></span>
            </figcaption>
       </figure>
   ```
   ========================================================================== */

$video-play-size: 40px !default;
$caption-font-size: 24px !default;
$video-label-font-size: 12px !default;

.c-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.66%;
    margin: 0;
    //transition: opacity 0.8s $landing-easing-in, transform 0.8s $landing-easing-in;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: z-index(behind);

        @include mq($until: desktop) {
            z-index: z-index(above);
        }
    }
}

.c-video__controls {

    position: absolute;
    z-index: z-index(above);
    left: 50%;
    bottom: 30px;
    width: 50%;
    transform: translateX(-50%);
    transition: opacity 0.2s ease;

    .is-unstarted & {
        opacity: 0;
    }

    @include mq($until: desktop) {
        opacity: 0;
        visibility: hidden;

        .is-unstarted & {
            opacity: 0;
            visibility: hidden;
        }

    }
}

.c-video__el {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.c-video__play {

    position: absolute;
    left: -$video-play-size * 1.5;
    height: $video-play-size;
    margin-top: -$video-play-size / 2;
    width: $video-play-size;
    background: transparent;
    border: none;
    opacity: 0.5;

    .o-ico--play {
        opacity: 0;
    }

    &.is-paused {

        .o-ico--pause {
            opacity: 0;
        }

        .o-ico--play {
            opacity: 1;
        }
    }

    &:hover {

        .o-ico {
            transform: scale(1.1, 1.1);
        }
    }

    .o-ico {

        transition: transform .2s ease;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 5%;
        right: 0;
        text-align: center;
        line-height: $video-play-size;
        color: $color-light;
        font-size: 1em;
    }

    .o-ico--pause {
        left: 0;
    }
}

.c-video__start {

    width: 65px;
    height: 65px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: solid 2px rgba($color-light, 0.6);
    z-index: z-index(container);
    opacity: 0;
    visibility: hidden;
    color: $color-light-50;
    transition: all 0.3s;

    .is-unstarted & {
        opacity: 1;
        visibility: visible;
    }

    .no-touchevents & {
        &:hover {
            background-color: rgba($color-light, 0.3);
            color: $color-player;

            + .c-video__label {
                transform: translate(-50%, 0);
                opacity: 1;
            }
        }
    }

    @include mq($until: desktop) {

        opacity: 0;
        visibility: hidden;

        .is-unstarted & {
            opacity: 0;
            visibility: hidden;
        }
    }

}

.c-video__label {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, 20px);
    opacity: 0;
    margin: auto;
    z-index: z-index(container);
    opacity: 0;
    transition: all 0.3s ease;
    color: $color-light;
    font-size: rem($video-label-font-size);
    letter-spacing: 2px;
    font-weight: 700;
}

.c-video__caption {
    position: absolute;
    font-size: rem($caption-font-size / 1.5);
    line-height: rem($caption-font-size / 1.5);
    color: $color-pink;
    //opacity: 0;
    //transition: opacity 0.6s $landing-easing-in, transform 0.6s $landing-easing-in;

    @include mq(s-tablet) {
        font-size: rem($caption-font-size);
        line-height: rem($caption-font-size);
    }

    @include mq(l-tablet) {
        font-size: rem($caption-font-size / 1.5);
        line-height: rem($caption-font-size / 1.5);
    }

    @include mq(wide) {
        font-size: rem($caption-font-size);
        line-height: rem($caption-font-size);
    }
}

.c-video__thumb {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: z-index(above);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0;
    //transform: scale(0, 0);
    transition: transform 0.3s ease, opacity 0.3s ease;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color-black, 0.3);
    }

    .is-unstarted & {
        opacity: 1;
        //transform: scale(1, 1);
    }

    @include mq($until: desktop) {
        visibility: hidden;
        opacity: 0;

        .is-unstarted & {
            opacity: 0;
        }
    }
}

/* ==========================================================================
   ## Modifiers
   ========================================================================== */

/* ==========================================================================

   ### Video left

   ```
   <figure class="c-video c-video--left">
        <div class="c-video__thumb"></div>
        <div class="c-video__media" data-type="YT-video" data-video-id="ly6Ah_qJn2w"></div>
        <div class="c-video__controls">
            <button class="c-video__play is-paused">
                <span class="o-ico o-ico--play"></span>
                <!-- <span class="ico icon-pause"></span> -->
            </button>
            <div class="c-seekbar">
                <div class="c-seekbar__item c-seekbar__item--buffer"></div>
                <div class="c-seekbar__item c-seekbar__item--progress"></div>
                <input class="c-seekbar__field" type="range" step="any" value="0">
            </div>
        </div>
        <figcaption>
            <span class="c-video__caption">guarda lo spot <strong>Crunchy</strong></span>
        </figcaption>
   </figure>
   ```
   ========================================================================== */

.c-video--left {

    //@include mq($until: l-tablet) {
    //    opacity: 1;
    //    transform: translateY(0);
    //}
    //transform: translateY(0);
    //transform: translateY(-80px);
    //opacity: 0;

    @include mq(l-tablet) {
        transform: translateY(-40px);
    }

    .c-video__caption {
        //@include mq($until: l-tablet) {
        //    opacity: 1;
        //    transform: translate(40px, 40px);
        //}
        //transform: translate(40px, 40px);

        @include mq($until: l-tablet) {
            transform: translate(0, 40px);
        }


        //@include mq($until: s-tablet) {
        //    transform: translate(0, 40px);
        //}

        left: 0;
        bottom: 0;
        @include mq(l-tablet) {
            transform: translate(40px, 40px);
        }
    }
    //.o-section__item.is-entering & {
    //    opacity: 1;
    //    transform: translateY(-40px);
    //    .c-video__caption {
    //        opacity: 1;
    //        transform: translate(40px, 40px);
    //        transition-delay: 0.3s;
    //    }
    //}
    //.o-section__item.is-leaving & {
    //    transition: opacity 0.6s $landing-easing-out, transform 0.6s $landing-easing-out;
    //    transition-delay: 0.1s;
    //    opacity: 0;
    //    transform: translateY(-80px);
    //    .c-video__caption {
    //        opacity: 0;
    //        transform: translate(40px, 80px);
    //        transition: opacity 0.6s $landing-easing-out, transform 0.6s $landing-easing-out;
    //    }
    //}
}

/* ==========================================================================

   ### Video right

   ```
   <figure class="c-video c-video--right">
        <div class="c-video__thumb"></div>
        <div class="c-video__media" data-type="YT-video" data-video-id="ly6Ah_qJn2w"></div>
        <div class="c-video__controls">
            <button class="c-video__play is-paused">
                <span class="o-ico o-ico--play"></span>
                <!-- <span class="ico icon-pause"></span> -->
            </button>
            <div class="c-seekbar">
                <div class="c-seekbar__item c-seekbar__item--buffer"></div>
                <div class="c-seekbar__item c-seekbar__item--progress"></div>
                <input class="c-seekbar__field" type="range" step="any" value="0">
            </div>
        </div>
        <figcaption>
            <span class="c-video__caption">guarda lo spot <strong>Crunchy</strong></span>
        </figcaption>
   </figure>
   ```
   ========================================================================== */

.c-video--right {

    //@include mq($until: l-tablet) {
    //    opacity: 1;
    //    transform: translateY(0);
    //}

    opacity: 1;
    transform: translateY(0);

    @include mq(l-tablet) {
        transform: translateY(40px);
    }

    .c-video__caption {

        //@include mq($until: l-tablet) {
        //    opacity: 1;
        //    transform: translate(40px, 40px);
        //    top: auto;
        //    right: auto;
        //    left: 0;
        //    bottom: 0;
        //}

        //transform: translate(0, 40px);
        //
        //
        //
        ////@include mq($until: s-tablet) {
        ////
        ////}
        left: 0;
        bottom: 0;

        @include mq($until: l-tablet) {
            transform: translate(0, 40px);
        }

        @include mq(l-tablet) {
            top: 0;
            left: auto;
            right: 0;
            bottom: auto;
            transform: translate(-40px, -40px);
        }
    }

    //.o-section__item.is-entering & {
    //    transition-delay: 0.1s;
    //    opacity: 1;
    //    transform: translateY(40px);
    //    .c-video__caption {
    //        opacity: 1;
    //        transform: translate(-40px, -40px);
    //        transition-delay: 0.3s;
    //    }
    //}
    //
    //.o-section__item.is-leaving & {
    //    transition: opacity 0.6s $landing-easing-out, transform 0.6s $landing-easing-out;
    //    opacity: 0;
    //    transform: translateY(80px);
    //    .c-video__caption {
    //        transition: opacity 0.6s $landing-easing-out, transform 0.6s $landing-easing-out;
    //        opacity: 0;
    //        transform: translate(-40px, -80px);
    //    }
    //}
}