/* ==========================================================================

   wall
   ====

   wall layout

   ```
   <ul class="o-wall-wrap">

       <li class="o-wall">
       </li>
       <li class="o-wall--grid-half">
       </li>
       <li class="o-wall--grid-half">
       </li>
       <li class="o-wall--grid-one">
       </li>
       <li class="o-wall--grid-one">
       </li>
       <li class="o-wall--grid-one">
       </li>
       <li class="o-wall--grid-one o-wall--up">
       </li>
       <li class="o-wall--grid-one o-wall--down">
       </li>
   </ul>
   ```
   ========================================================================== */

.o-wall-wrap {
    width: 100%;
    position: relative;
    @include clearfix();

    @include mq(l-tablet) {
        //height: 85vh;
        max-width: 1600px;
        margin: 0 auto;
        padding: 80px 100px;
    }

    @include mq(desktop) {
        padding: 80px 120px;
    }

    @include mq(wide) {
        padding: 120px;
    }
}

.o-wall {
    width: 100%;
    padding: 50px 31px;
    margin: 40px 0;
    min-height: auto;

    //transition: opacity 0.5s ease 0.2s;

    @include mq(s-tablet, l-tablet) {
        padding: 60px 100px;
    }

    @include mq(l-tablet) {
        padding: 0 20px;
        min-height: 400px;
    }

    @include mq(desktop) {
        padding: 0 35px;
        min-height: 550px;

    }

    @include mq(wide) {
        padding: 0 45px;
    }


    //&.is-hidden-filter{
    //    display:none;
    //    opacity: 0;
    //}
}

.o-wall--influencer {
    border: 10px solid rgba(255, 92, 92, 0.5);
}

.o-wall-wrap {
    .o-wall--influencer {
        .c-post__caption {
            transform: translate(20px, -80%);
            pointer-events: none;
        }
    }
}

.o-winner {
    .o-wall--influencer {
        .c-post__caption {
            left: 30px;
        }
    }
}

.o-wall--grid-full {
    margin: 0;
    min-height: auto;
    padding: 0px 10%;
    text-align: center;
}

.o-wall--grid-half {
    @include mq(l-tablet) {
        width: 50%;
        float: left;
    }
}

.o-wall--grid-one {
    @include mq(l-tablet) {
        width: 33.333%;
        float: left;
    }
}

.o-wall--grid-sixth {
    @include mq(l-tablet) {
        width: 66.666%;
        float: left;
    }
}

.o-wall--up {
    @include mq(l-tablet) {
        transform: translateY(-80px);
    }
}

.o-wall--down {
    @include mq(l-tablet) {
        transform: translateY(80px);
    }
}

.c-wall-footer {
    text-align: center;
    padding-bottom: 160px;
}

#wall {
    canvas {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -99;
    }
}


.wall-detail {
    .o-winner-wrap {
        .o-wall-wrap{
            @include mq(desktop){
                //padding: 160px;
                padding-top: 0;
                padding-bottom: 50px;
            }
        }
    }

    .c-video {
        iframe {
            z-index: auto;
        }
    }

}