/* ==========================================================================

   Winner
   ====

   winner

   ```
   <section class="o-winner>
        <h2 class="o-winner__title">Scopri i viaggi Müller</h2>
        <div class="o-winner__sub">Cras mattis consectetur purus sit amet fermentum.</div>
   </section>
   ```
   ========================================================================== */

$winner-sub-font-size: 21px !default;
$winner-author-font-size: 18px !default;
$winner-title-font-size: 46px !default;
$winner-text-font-size: 38px !default;

.o-winner {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;

    @include mq(s-tablet) {
        max-width: 600px;
        margin: 0 auto;
        height: 100vh;
    }

    @include mq(s-tablet, l-tablet) {
        height: 80vh;
    }

    @include mq(l-tablet) {
        max-width: 800px;
    }

    @include mq(desktop) {
        max-width: 800px;
    }

    @include mq(wide) {
        max-width: 980px;
        margin: 0 auto;
    }
    .c-post {
        //max-width: 1200px;
        //margin: 0 auto;
        opacity: 1;
        transform: translateY(0);
        //margin-bottom: 180px;
    }

    .c-post__caption{
        max-width: 55%;
    }

    #scroll-down {
        color: $color-pink;
        border-color: $color-pink;
        margin: 15px auto;
        position: absolute;

        //position: absolute;
        //left: 0;
        //right: 0;
        //bottom: 0;
        //margin: 15px auto;
        //
        @include mq($until: l-tablet) {
            display: none;
        }

        @include mq(extreme) {
            margin: 30px auto;
        }

    }

    //.c-post__title {
    //    @include mq(s-tablet) {
    //        font-size: rem($post-title-font-size / 1.1);
    //        line-height: rem($post-title-font-size / 1.1);
    //    }
    //}

}

.o-winner__title {
    font-size: rem($winner-title-font-size / 1.5);
    font-weight: 700;
    color: $color-pink;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.5em;

    @include mq(s-tablet) {
        font-size: rem($winner-title-font-size);
    }
}

.o-winner__author {
    font-size: rem($winner-author-font-size);
    color: $color-gray-light;
    font-weight: 100;
    text-align: center;
    margin-bottom: 40px;
}

.o-winner__type {
    margin-bottom: 40px;
    color:$color-pink;
    margin-left: auto;
    margin-right: auto;

    &.o-control--stroke {
        border: 2px solid $color-pink;
    }

    @include mq(l-tablet) {
        margin-bottom: 60px;
    }

}

.o-winner__text {
    font-size: rem($winner-text-font-size / 1.5);
    line-height: rem($winner-text-font-size / 1.2);
    font-weight: 100;
    color: $color-gray;
    padding: 0 10px;

    @include mq(s-tablet) {
        padding: 0;
        font-size: rem($winner-text-font-size / 1.3);
        line-height: rem($winner-text-font-size / 1.1);
    }

    @include mq(desktop) {
        font-size: rem($winner-text-font-size);
        line-height: rem($winner-text-font-size * 1.2);
    }
}

.o-winner__sub {
    font-size: rem($winner-sub-font-size / 1.5);
    font-weight: 100;
    color: $color-gray;
    text-align: center;
    margin-bottom: 5%;

    @include mq(s-tablet) {
        font-size: rem($winner-sub-font-size);
    }
}

.o-winner__footer {

    padding: 20px 0;
    color: $color-gray;

    @include mq(s-tablet) {
        padding: 40px 0;
        text-align: center;
    }
    > li {
        padding: 20px 0;
        @include mq(s-tablet) {
            display: inline-block;
            padding: 0 40px;
        }
        .o-control {
            width: 50px;
            height: 50px;
            color: $color-gray;

            > span{
                z-index: -99;
            }

            .no-touchevents & {
                transition: all 150ms;

                &:hover {
                    color: $color-pink;
                }
            }
        }
    }
}

.o-winner__title-links {
    color: $color-pink;
    font-weight: 700;
    margin-right: 40px;
    font-size: rem($winner-sub-font-size);
}

.o-winner__body-links {
    color: $color-gray;
    font-weight: 100;

    .no-touchevents & {
        transition: all 150ms;

        &:hover {
            color: $color-pink;
        }
    }
}

.o-winner__image {
    max-width: 100%;
}

.o-frame {
    position: fixed;
    left: 0;
    right: 0;
    background-color: $color-gray-lighter;
    z-index: z-index(header);
}

.o-frame--top {
    top: 0;
    height: 80px;
}

.o-frame--bottom {
    bottom: 0;
    height: 80px;
}

/* ==========================================================================

   ### Winner single detail

   ```
   <section class="o-winner o-winner--single">
        <h2 class="o-winner__title">Scopri i viaggi Müller</h2>
        <div class="o-winner__sub">Cras mattis consectetur purus sit amet fermentum.</div>
   </section>
   ```
   ========================================================================== */

.o-winner--single {
    display: block;
    height: 100%;
    //padding: 120px 0;
    @include mq(l-tablet) {
        max-width: 700px;
    }

    @include mq(desktop) {
        max-width: 850px;
    }

    @include mq(wide) {
        max-width: 1000px;
    }

}

.o-winner-wrap {
    @include mq(l-tablet) {
        padding: 120px 0;
    }

    .o-wall-wrap {
        padding: 20px 31px;

        @include mq(s-tablet) {
            padding: 20px;
        }

        @include mq(l-tablet) {
            padding: 40px;
        }

        @include mq(l-tablet) {
            padding-bottom: 80px;
        }
    }

    .o-wall {
        @include mq($until: s-tablet) {
            padding: 20px 0;
        }

        @include mq(s-tablet, l-tablet) {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}